<div style="overflow: auto;z-index: 1">
  <ion-row>
    <ion-col size-xs="12" size-md="4">
      <div class="user_card">
        <div class="text-center pt-5">
          <div *ngIf="nameChange">
            <div class="user_pic mx-auto position-relative">
              <ion-text class="user_short_name">Fu</ion-text>
            </div>
            <ion-text class="user_name d-inline-block pt-3 pb-3">First User</ion-text>
          </div>
          <div *ngIf="!nameChange">
            <div class="user_pic mx-auto position-relative">
              <ion-text class="user_short_name">{{ iconName }}</ion-text>
            </div>
            <ion-text class="user_name d-inline-block pt-3 pb-3">{{
              userNameShow
              }}</ion-text>
          </div>
        </div>
        <ion-row>
          <ion-col size="4" class="text-center">
            <ion-text class="color_primary">Completed<br />Trips</ion-text>
            <div *ngIf="loadingStaycation || loadingCustom">
              <div class="color_primary_show"><span  class="spinner-border spinner-border-sm"></span></div>
            </div>
            <div  *ngIf="!loadingStaycation && !loadingCustom">
              <ion-text class="color_primary d-block trip_count"
              *ngIf="stycationTravelHistory?.length > 0 || customTravelHistory?.length > 0
              || (stycationTravelHistory?.length > 0 || customTravelHistory?.length > 0)">
              {{stycationTravelHistory?.length + customTravelHistory?.length}}</ion-text>
            <ion-text class="color_primary d-block trip_count"
              *ngIf="stycationTravelHistory?.length == 0 && customTravelHistory?.length == 0">0</ion-text>
            </div>
          </ion-col>

          <ion-col size="4" class="text-center">
            <ion-text class="color_primary">Upcoming<br />Trips</ion-text>
            <div *ngIf="loadingStaycation || loadingCustom">
              <div class="color_primary_show"><span  class="spinner-border spinner-border-sm"></span></div>
            </div>
            <div  *ngIf="!loadingStaycation && !loadingCustom">
              <ion-text class="color_primary d-block trip_count"
              *ngIf="stycationTravelUpcoming?.length>0 || customTravelUpcoming?.length > 0
              || (stycationTravelUpcoming?.length>0 && customTravelUpcoming?.length > 0)">
              {{stycationTravelUpcoming?.length + customTravelUpcoming?.length}}</ion-text>
            <ion-text class="color_primary d-block trip_count"
              *ngIf="stycationTravelUpcoming?.length == 0 && customTravelUpcoming?.length == 0">0</ion-text>
            </div>
          </ion-col>
          <ion-col size="4" class="text-center">
            <ion-text class="color_primary">Cancelled<br />Trips</ion-text>
            <div *ngIf="loadingStaycation || loadingCustom">
              <div class="color_primary_show"><span  class="spinner-border spinner-border-sm"></span></div>
            </div>
            <div  *ngIf="!loadingStaycation && !loadingCustom">
              <ion-text class="color_primary d-block trip_count"
              *ngIf="staycationTravelCancelled?.length > 0 || customTravelCancelled?.length > 0
              || (staycationTravelCancelled?.length > 0 || customTravelCancelled?.length > 0)">
              {{staycationTravelCancelled?.length+customTravelCancelled?.length}}</ion-text>
            <ion-text class="color_primary d-block trip_count"
              *ngIf="staycationTravelCancelled?.length == 0 && customTravelCancelled?.length == 0">0</ion-text>
            </div>
          </ion-col>
        </ion-row>
        <!-- <ion-text class="joined d-inline-block pt-2 pb-2 pl-3">
          <ion-icon name="calendar-outline" class="pr-2"></ion-icon>Joined Sept
          04
        </ion-text> -->
      </div>
    </ion-col>

    <ion-col size-xs="12" size-md="8">
      <!-- <ion-card class="progress_barstyle">
        <ion-card-header>
          <ion-row>
            <ion-col class="col-5">
              <ion-card-title *ngIf="!progressbarCompleted" class="parsentage_bar_title ml-2 mt-2">Your Profile is
                Incomplete</ion-card-title>
              <ion-card-title *ngIf="progressbarCompleted" class="parsentage_bar_title ml-2 mt-2">Your Profile is
                Completed</ion-card-title>
            </ion-col>
            <ion-col class="col-4"> </ion-col>
            <ion-col class="col-3">
              <ion-card-title class="parsentage_bar_persentage mt-2">{{ progressbarValue }}%</ion-card-title>
            </ion-col>
          </ion-row>
        </ion-card-header>
        <ion-card-content class="mt-2">
          <progress max="100" value="{{ progressbarValue }}"></progress>
          <p *ngIf="!progressbarCompleted" class="parsentage_bar_belowtext mt-1">
            Complete Your Profile For Faster Booking Experience.
          </p>
        </ion-card-content>
      </ion-card> -->

      <ion-card class="bdr_radius_17">
        <ion-card-header>
          <ion-list class="bg-white">
            <ion-item>
              <div class="header_left_padding">
                <ion-label color="tertiary" class="color_primary font-big">Add Travellers</ion-label>
                <ion-note color="tertiary" class="below_text">Add travellers for a faster booking experience
                </ion-note>
              </div>
              <ion-icon name="add-circle-outline" class="color_primary cursor-pointer font-size-add-icon mb-2"
                slot="end" (click)="presentPopover('common','family',$event)"></ion-icon>&nbsp;
              <ion-text (click)="presentPopover('common','family',$event)" slot="end"
                class="color_primary cursor-pointer">Add
                Travellers
              </ion-text>

            </ion-item>
          </ion-list>
        </ion-card-header>
        <ion-card-content class="bg-white">
          <ion-grid>
            <ion-row>
              <ion-col class="pl-0 pt-1" size="12" size-md="6">
                <div>
                  <div class="color_primary row no-gutters age_header">
                    Adult (12+ Years)
                  </div>
                  <div class="edit_hover_class">
                    <div *ngFor="let member of adults; let ind = index">
                      <div class="row">
                         <div class="col-8">
                          <div class=" flex-grow-1 color_primary">
                            <ion-item lines="none" class="traveller_name">
                              <ion-icon name="person-circle-outline" class="traveller_icon"></ion-icon>
                              <ion-label class="color_primary_travellers">{{
                                member.firstName
                                }}</ion-label>
                            </ion-item>
                          </div>
                         </div>
                         <div class="col-4">
                          <a>
                            <div class="p-2">
                              <ion-icon name="pencil-sharp" class="edit-delete-font-size cursor-pointer color_primary"
                                (click)="
                                  editTraveller(member, member.id);
                                  $event.stopPropagation()
                                " data-target="#myModal" data-toggle="modal" data-backdrop="static" data-keyboard="false">
                              </ion-icon>&nbsp;
                              <ion-icon name="trash-sharp" class="cursor-pointer edit-delete-font-size color_primary"
                                (click)="
                                  delete(member.id); $event.stopPropagation()
                                ">
                              </ion-icon>
                            </div>
                          </a>
                        </div>
                      </div>


                    </div>
                  </div>

                  <div class="row no-gutters color_primary age_header">
                    Child (2-12 Years)
                  </div>

                  <div class="edit_hover_class">
                    <div  *ngFor="let member of children; let ind = index">
                      <div class="row">
                        <div class="col-8">
                      <div class=" flex-grow-1 color_primary">
                        <ion-item lines="none">
                          <ion-icon name="person-circle-outline" class="traveller_icon"></ion-icon>
                          <ion-label class="color_primary_travellers">{{
                            member.firstName
                            }}</ion-label>
                        </ion-item>
                      </div>
                        </div>
                        <div class="col-4">
                      <a>
                        <div class="p-2">
                          <ion-icon name="pencil-sharp" class="edit-delete-font-size cursor-pointer color_primary"
                            (click)="
                              editTraveller(member, member.id);
                              $event.stopPropagation()
                            "></ion-icon>&nbsp;
                          <ion-icon name="trash-sharp" class="cursor-pointer edit-delete-font-size color_primary"
                            (click)="
                              delete(member.id); $event.stopPropagation()
                            ">
                          </ion-icon>
                        </div>
                      </a>
                      </div>
                    </div>
                    </div>
                  </div>

                  <div class="color_primary row no-gutters age_header">
                    Infant (0-2 Years)
                  </div>
                  <div class="edit_hover_class">
                    <div  *ngFor="let member of infants; let ind = index">
                      <div class="row">
                        <div class="col-8">
                      <div class=" flex-grow-1 color_primary">
                        <ion-item lines="none">
                          <ion-icon name="person-circle-outline" class="traveller_icon"></ion-icon>
                          <ion-label class="color_primary_travellers">{{
                            member.firstName
                            }}</ion-label>
                        </ion-item>
                      </div>
                        </div>
                        <div class="col-4">
                      <a>
                        <div class="p-2">
                          <ion-icon name="pencil-sharp" class="edit-delete-font-size cursor-pointer color_primary"
                            (click)="
                              editTraveller(member, member.id);
                              $event.stopPropagation()
                            "></ion-icon>&nbsp;
                          <ion-icon name="trash-sharp" class="cursor-pointer edit-delete-font-size color_primary"
                            (click)="
                              delete(member.id); $event.stopPropagation()
                            ">
                          </ion-icon>
                        </div>
                      </a>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>
              </ion-col>
              <ion-col size="12" size-md="6">
                <div></div>
              </ion-col>
            </ion-row>
          </ion-grid>
          <!-- <ion-list lines="none" class="bg-white" *ngIf="navFrom!='dropdown'">
            <ion-item>
              <ion-button slot="end" shape="round" class="btn-next" color="tertiary" (click)="proceed()">Save
              </ion-button>
            </ion-item>
          </ion-list> -->
        </ion-card-content>
        <!-- The Modal -->





      </ion-card>
      <br /><br /><br /><br />
    </ion-col>
  </ion-row>
  <div class="modal fade" data-backdrop="true" id="myModal">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-postions">
      <div class="modal-content moda-content-border">
        <div class="card-header bg-color-header p-4 shadow">
          <span class="top_close_btn cursor-pointer" data-dismiss="modal"><i
              class="fal fa-times-circle fa_lg_button"></i></span>
          <div>
            <ion-text color="tertiary" class="text_primary">Edit Traveller</ion-text>
            <ion-note class="font-size-header">Edit/Save Travellers For A Faster Booking Experience
            </ion-note>
          </div>
        </div>
        <div class="modal-body">
          <form [formGroup]="registerForm" class="pb-5">
            <div class="form-group">
              <label for="exampleFormControlInput1">Name</label>
              <input formControlName="firstName" type="text" class="form-control" id="name" placeholder="Name"
                onkeypress="return (event.charCode > 64 && event.charCode < 91) ||
              (event.charCode > 96 && event.charCode < 123) || (event.charCode==32)" maxlength="30" [ngClass]="{
                  'is-invalid': submitted && registerFormControl.firstName.errors
                }" />
              <!-- <div *ngIf="submitted && registerFormControl.firstName.errors" class="invalid-feedback">
                <div *ngIf="registerFormControl.firstName.errors.required">
                  Name is required
                </div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="gender">Gender</label>
              <select class="form-control" id="gender" formControlName="gender" title="Select Gender" [ngClass]="{
                'is-invalid': submitted && registerFormControl.gender.errors
              }">
                <option value="" selected disabled>Select Gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Other">Other</option>
              </select>
              <!-- <div *ngIf="submitted && registerFormControl.gender.errors" class="invalid-feedback">
                <div *ngIf="registerFormControl.gender.errors.required">
                  Gender is required
                </div>
              </div> -->
            </div>
            <div class="form-group">
              <label for="email">Email</label>
              <input formControlName="email" type="text" class="form-control" id="email"
                placeholder="email@gmail.com" [ngClass]="{
                  'is-invalid': submitted && registerFormControl.email.errors
                }" />
              <!-- <div *ngIf="submitted && registerFormControl.email.errors" class="invalid-feedback">
                <div *ngIf="registerFormControl.email.errors.required">
                  Email is required
                </div>
                <div *ngIf="registerFormControl.email.errors.pattern">
                  enter valid email
                </div>
              </div> -->
            </div>

            <div class="form-group">
              <label for="name">Mobile No</label>
              <div class="d-flex no-gutters">
                <div>
                  <select class="form-control d-inline" id="sel1" formControlName="countryCode">
                    <option value="+91">+91</option>
                    <option value="+1">+1</option>
                  </select>
                </div>
                <div class="flex-grow-1">
                  <input formControlName="mobileNo" class="form-control" id="mobile" placeholder="Enter Mobile No"
                    maxlength="10"
                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"
                    [ngClass]="{
                      'is-invalid': submitted && registerFormControl.mobileNo.errors
                    }" />
                  <!-- <div *ngIf="submitted && registerFormControl.mobileNo.errors" class="invalid-feedback">
                    <div *ngIf="registerFormControl.mobileNo.errors.required">
                      mobile number is required
                    </div>
                    <div *ngIf="registerFormControl.mobileNo.errors.minLength">
                      enter valid mobile number
                    </div>
                  </div> -->
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="dateOfBirth">Date of Birth</label>
              <input type="date" formControlName="dateOfBirth" placeholder="Date Of Birth" class="form-control"
                id="dateOfBirth" [max]="minDate" (keydown)="disableDate()" />
              <!-- <div *ngIf="submitted && registerFormControl.dateOfBirth.errors" class="invalid-feedback">
                <div *ngIf="registerFormControl.dateOfBirth.errors.required">
                  date of birth is required
                </div>
              </div> -->
            </div>
            <div>
              <ion-text color="tertiary" class="text_primary d-block">Passport Details</ion-text>
              <ion-note>Add/Save Passport Details</ion-note>
            </div>
            <br />
            <div class="no-gutters" formGroupName="passport">
              <div class="form-group">
                <label for="mobile">Passport Number</label>
                <input formControlName="number" type="text"
                  oninput="this.value = this.value.replace(/[^a-zA-Z,0-9.]/g, '').replace(/(\..*)\./g, '$1');"
                  (ngModelChange)="modelChangeFn($event)" maxlength="10" class="form-control" id="passport"
                  placeholder="Passport number" />
              </div>
              <div *ngIf="show">
                <div class="form-group">
                  <label for="country">Issuing Country</label>
                  <select formControlName="country" class="form-control" id="country">
                    <option value="" selected disabled>Select Country</option>
                        <option value="India">India</option>
                        <option value="Usa">USA</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="expiryDate">Expiry Date</label>
                  <input type="text" formControlName="expiry" onfocus="(this.type='date')" placeholder="Expiry Date" class="form-control" [min]="minDate" id="expiryDate"
                    (keydown)="disableDate()" />
                </div>
              </div>
            </div>
            <ion-list lines="none">
              <ion-item>
                <ion-button (click)="onReset()" type="submit" slot="end" fill="clear"
                  class="text-capitalize save_button">Reset
                </ion-button>
                <ion-button (click)="onSubmit()" type="submit" slot="end" class="ml-2 save_button" shape="round"
                  color="tertiary">Save
                </ion-button>
              </ion-item>
              <div class="modal_side"></div>
            </ion-list>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
