$primary-color: #265359;
$secondary-color: #fbfaf8;
$third-colour: #707070;
$fourth-color: #efe3e3;
.wrapper {
  position: relative;
}
.background_color {
  background-color: $secondary-color;
}
.itenary_header {
  font-size: 22px;
  color: $third-colour;
  display: inline-block;
  margin: 3% 0 3% 8%;
}

.itenerary_img {
  border-radius: 2px;
  .img_dimensions {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 25px;
  }
}
.text_header {
  color: $primary-color;
  font-size: 18px;
  font-weight: 600;
}
.text_normal {
  color: $third-colour;
  font-size: 15px;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.hotel_small {
  color: $primary-color;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: -20px;
}
.spinner_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1.6;
  z-index: 2;
}
.rating-list {
  li {
    display: inline;
    padding: 5px 1px;
    vertical-align: middle !important;
    font-size: 15px !important;
    color: $primary-color !important;
    .rating-num {
      vertical-align: middle;
      font-family: 'AzoSans-Medium';
      color: $primary-color !important;
      font-size: 16px !important;
    }
    .star-color {
      font-size: 16px;
      color: #ffd700;
    }
    .source-styles {
      font-size: 13px;
      vertical-align: top;
      color: #7e7e7e;
    }
  }
  display: inline-block;
  list-style: none;
}
.center_image {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  /* bring your own prefixes */
  z-index: 3;
  transform: translate(-50%, -50%);
}
.card {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.fail_trip_color {
  color: $primary-color;
  .failtrip_link {
    height: 40px;
    width: 40px;
  }
  .fail_trip_head {
    text-align: center;
    .booking_img {
      width: 33px;
    }
    .booking_error {
      margin-top: -15px;
    }
    .fail_trip_font1 {
      font-weight: 1000;
    }
  }
}
.trip_button {
  background-color: #efe3e3;
  border: none;
  color: #265359;
  padding: 8px 21px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 16px 2px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 11px;
}
.spinner_text {
  position: fixed;
  top: 70%;
  left: 50%;
  border-radius: 20px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: #265359;
}
.day {
  position: absolute;
  color: $primary-color;
  top: 37px;
  font-size: 14px;
  padding-top: 3px;
  left: 0;
  transform: translatex(-50%);
  background-color: $secondary-color;
  z-index: 2;
}
.pl_5 {
  padding-left: 4rem;
}
.closeBtn {
  color: #265359;
  position: absolute;
  right: 14px;
  top: 10px;
  font-size: 22px;
}
.dates_size_activites {
  font-size: 12px;
  color: #265359;
  font-weight: 600;
}
// .fl_card_line::before {
//   content: '';
//   height: 2px;
//   width: 25%;
//   position: absolute;
//   // border: 1px solid $primary-color;
//   border-style: dashed;
//   left: 30px;
//   top: 20px;
//   z-index: 0;
//   opacity: 1;
// }
// .fl1_card_line::before {
//   content: '';
//   height: 2px;
//   width: 25%;
//   position: absolute;
//   border: 1px solid $primary-color;
//   border-style: dashed;
//   left: 30px;
//   top: 50%;
//   transform: translateY(-50%);
//   z-index: 0;
//   opacity: 1;
// }
.fl1_card_line::after {
  content: '';
  /* height: 15px; */
  /* width: 15px; */
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: $primary-color;
  left: 1px;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  z-index: 2;
  opacity: 1;
  border: 10px solid #fbfaf8;
}
.flt_icon {
  position: absolute;
  left: 0;
  background-color: $fourth-color;
  border-radius: 50%;
  padding: 7px;
  top: 20px;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0px);
  color: $primary-color;
  font-weight: 600;
  padding: 8px 13px 5px 13px;
}
.bookDetails {
  padding: 5px;
  width: 100%;
  margin-left: 10px;
}
.bookDetails_head {
  color: white;
  font-size: 15px;
}

.successColor {
  color: #4bb543;
  font-weight: 600;
}
.errorColor {
  color: red;
  font-weight: 600;
}
.partialSuccess {
  color: #ffa500;
  font-weight: 600;
}
.price_height {
  margin-top: 50px;
}
.vert_line_div::after {
  content: '';
  height: calc(100% - 100px);
  width: 2px;
  position: absolute;
  border: 1px solid $primary-color;
  border-style: dashed;
  left: 0;
  z-index: 1;
  opacity: 1;
  top: 45px;
}
.img_pad {
  padding: 0 1rem 0 1.5rem;
}
.text_pad {
  padding: 0;
}
.preview_top {
  background-color: $primary-color;
  padding: 1.5% 6%;
}
.big_ht {
  height: 270px;
  padding: 5px 10px 5px 0;
  img {
    border-radius: 15px;
  }
}
.small_ht {
  height: 135px;
  padding: 5px;
  img {
    border-radius: 15px;
  }
}
.fnt_sml {
  font-size: 14px;
  margin-left: 16px;
}
.trip_name {
  font-size: 17px;
  display: inline-block;
  padding-top: 10px;
  margin-left: 16px;
}
.price_for {
  font-size: 15px;
}

.Partially_book_img {
  width: 40px;
  height: 40px;
}

.Partially_book_text {
  font-size: 12px;
}

.success_book_text {
  font-size: 14px;
  font-weight: 600;
}
.star {
  color: #ffd83e;
}
.act_pref {
  background-color: #ffa85d;
  padding: 5px;
  border-radius: 8px;
  display: inline-block;
  margin: 3px 3px 3px 0;
}
.price_for {
  font-size: 13px;
}
.price {
  font-size: 13px;
  color: #ffa85d;
}
.button_set_drop {
  margin-top: 3px;
  margin-right: 95px;
}
.main_chiv_symbol {
  font-size: 25px;
  color: #b7b7b7;
  transition: 0.5s;
}
.collapsed .main_chiv_symbol {
  transform: rotate(180deg);
}
.price_for_tax {
  font-size: 12px;
  color: #ffa85d;
}
.price_tax {
  font-size: 12px;
  color: #ffa85d;
}
hr.line_price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid #fafafa;
  margin-right: -96px;
}
.total::after {
  content: '';
  position: absolute;
  bottom: 30px;
  right: 0;
  background-color: white;
  height: 1px;
  width: 120%;
}
.view_booked {
  position: absolute;
  bottom: 0px;
  left: 15%;
}
.color_size {
  color: #ffa85d;
  font-size: 11px;
}
.full_line::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 15%;
  background-color: white;
  height: 1px;
  width: calc(100% - 15%);
}
.p_book {
  padding: 0 5% 0 0;
}
.customize {
  color: $third-colour;
  outline: none;
  border: none;
}
.book_btn {
  background-color: #265359;
  color: white;
  display: inline-block;
  margin: 13px 0;
  border-radius: 13px;
  padding: 5px 20px;
}
.icon_size {
  width: 100px;
  height: 100px;
}
.included_img_div {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 15px #00000029;
  padding: 25px;
  border-radius: 50%;
  img {
    height: 30px;
  }
}
.included {
  font-size: 22px;
  color: $third-colour;
  margin: 3% 0;
}
.included_text_header {
  color: $primary-color;
  font-weight: 600;
  font-size: 18px;
}
.flight_icon {
  height: 30px;
  width: 65px;
}
.image_adjust {
  object-fit: cover;
}
.image_size {
  height: 80px;
  width: 80px;
}
.font_set {
  margin-bottom: 20px;
}
.account_colour {
  color: $primary-color;
  font-size: 20px;
}
.account_colour :hover {
  cursor: pointer;
  text-decoration: underline;
}
.summary_pad {
  padding: 0 9% 0 9%;
}
//@at-root
.Center_content {
  text-align: center;
  .detail_center {
    color: $third-colour;
    font-size: 300%;
    padding: 60px 0px 30px 0px;
  }
  .detail_img {
    //  margin-left:720px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .detail_head {
    color: $third-colour;
    padding: 20px;
    font-size: 200%;
    font-weight: bold;
    line-height: 35px;
  }
  .detail_content {
    color: $third-colour;
    font-size: 15px;
    text-align: center;
  }
  .detail_name {
    color: $third-colour;
    padding: 20px 0px 0px 0px;
    font-size: 200%;
    font-weight: bold;
  }
  .rating-list {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #ddd;
    color: #ffd700;
  }
}

.ion-card-pre-footer {
  background-color: #fbfaf8;
  overflow: auto;
  .pre_card_middle {
    margin-top: 100px;
    .detail_name_pre_foot {
      color: $third-colour;
      padding: 0px 0px 0px 0px;
      font-size: 200%;
      margin-top: 32px;
      font-weight: bold;
      padding-left: 24px;
    }
  }
  .vl {
    border-left: 2px solid rgb(230, 231, 230);
    height: 177px;
    margin-top: 50px;
  }
}
.conform_text {
  text-align: center;
  color: #000000;
  font-size: 20px;
}
.ion-card-footer {
  z-index: -1;
  //max-height: 500px;
  background: #000000;
  .footer_card {
    color: #ffffff;
    white-space: nowrap;
  }
  .ioncardcontent {
    color: #ffffff;
    .font {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
    }
    .belowfont {
      margin-top: 40px;
      opacity: 0.5;
    }
    .image {
      margin-top: 30px;
      margin-right: 60px;
      width: 100%;
    }
  }

  .image-position {
    margin-top: 50px;
    .image-text {
      text-align: center;
      margin-right: 130px;
      margin-top: 40px;
    }
  }
  .footer1 {
    margin-top: 6rem;
  }
  .size-image {
    width: 100px !important;
    height: 50px;
    padding-left: 11px;
  }
  .proper {
    width: 60px !important;
    height: 40px;
    margin: 10px 0px;
  }
  .middle_foot1 {
    margin-bottom: 50px;
    padding-right: 15px;
  }
  .middle_foot {
    margin-top: 50px;
  }
  .column {
    padding: 12px;
    width: 230px;
    height: 230px;
  }
}
@media (min-width: 1600px) {
  .small_ht {
    height: 145px;
  }
  .big_ht {
    height: 290px;
  }
  .column {
    padding: 12px;
    width: 230px;
    height: 230px;
  }
}
@media (min-width: 1800px) {
  .small_ht {
    height: 200px;
  }
  .big_ht {
    height: 400px;
  }
  .column {
    padding: 12px;
    width: 230px;
    height: 230px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .small_ht {
    height: 95px;
  }
  .big_ht {
    height: 190px;
  }
  .column {
    padding: 12px;
    width: 200px;
    height: 200px;
  }
  .vl {
    display: none;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .small_ht {
    height: 160px;
  }
  .big_ht {
    height: 220px;
  }
  .column {
    padding: 12px;
    width: 200px;
    height: 200px;
  }
  .vl {
    display: none;
  }
}
@media (max-width: 576px) {
  .pl_5 {
    padding-left: 3rem;
  }
  .text_pad {
    padding: 1rem 1rem 0 1.5rem;
  }
  .full_line::after {
    display: none;
  }
  .small_ht {
    height: 125px;
  }
  .big_ht {
    height: 170px;
  }
  .vl {
    display: none;
  }
}
@media (max-width: 375px) {
  .column {
    padding: 12px;
    width: 200px;
    height: 200px;
  }
  .vl {
    display: none;
  }
}
.seeall {
  color: #707070;
}
/////////////////////flights////////////////////@at-root
$screenColor1: #707070;
$screenColor2: #265359;
.chevron_div {
  position: absolute;
  bottom: 0px;
  right: 20px;
}
.stops::after {
  content: '\2192';
  color: $screenColor2;
  position: absolute;
  right: -14px;
}
.airline_name::after {
  content: ',';
  right: 2px;
  bottom: 0;
  position: absolute;
  color: black;
}
.airline_name:last-child::after {
  display: none;
}
.connecting_flights {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  background-color: #fbfaf8;
}
.short_layover_div {
  z-index: 0;
}
.short_layover_div::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background-color: $screenColor2;
  top: calc(50% + 5px);
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.short_layover_text {
  background-color: white;
  padding: 1% 7%;
  border-radius: 15px;
  display: inline-block;
  margin: 10px 0 0 0;
}
.main_chiv_symbol {
  font-size: 25px;
  color: #b7b7b7;
  transition: 0.5s;
}
.collapsed .main_chiv_symbol {
  transform: rotate(180deg);
}
.chiv_symbol {
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  transition: 0.5s;
}
.collapsed .chiv_symbol {
  transform: rotate(180deg);
}
.sm_time {
  font-size: 15px;
  color: $screenColor2;
  font-weight: 600;
}
.back_color3 {
  background-color: #fbfaf8;
}
.chv_icn {
  color: #b7b7b7;
  font-size: 25px;
  transition: 0.5s;
}
.up {
  transform: rotateZ(180deg);
}
.summary_pad {
  padding: 0 9% 0 12%;
}
.sm_dsplay {
  display: none;
}
.lg_dsplay {
  display: block;
}
.rt_lne::after {
  content: '';
  position: absolute;
  width: 95%;
  border: 1px solid black;
  border-style: dashed;
  opacity: 0.5;
  right: 0px;
  top: 44%;
  z-index: -1;
  transform: translateX(-2%);
}
.z_2 {
  z-index: 2;
}
.z_0 {
  z-index: 0;
}
.mb_sm {
  margin-bottom: 0;
}
.time {
  color: $screenColor2;
  font-size: 14px;
  // font-weight: 600;
}
.fnt_sze_13 {
  font-size: 12px;
}
.card_date {
  border-radius: 0px 13px 0px 0px;
  background: #d4b2b1 0% 0% no-repeat padding-box;
  color: white;
  padding: 5px;
}
.arrow_button_flight {
  position: absolute;
  top: 60px;
  background-color: #fbfaf8;
  right: 16px;
  font-size: 18px;
  outline: none;
  border: none;
}
.none_border {
  outline: none;
  border: none;
}
.ErrorStays {
  text-align: center;
  color: $screenColor2;
  margin-top: 50px;
}
.flt_dtls {
  color: $screenColor2;
  font-size: 12px;
  position: absolute;
  right: 8%;
  bottom: 0;
  font-weight: 600;
}
.hotel_price {
  font-size: 16px;
  font-weight: 600;
  color: #265359;
}
.Flight_side {
  margin-left: 32px;
}
.cardstyle {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 88%;
}
.hotel_Icon {
  border-radius: 13px;
  margin: 10px -5px 3px 3px;
  opacity: 1;
  width: 300px;
  min-height: 74px;
}
.hotel_text {
  color: $screenColor2;
  margin-top: 15px;
  font-size: 18px;
  font-weight: 600;
}
.hotel_belowtext {
  color: #000000;
  font-size: 14px;
}
.hotel_bookdetails {
  color: $primary-color;
  font-size: 14px;
  display: inline;
  font-weight: 600;
}
.flight_fare {
  padding-right: 17px;
  font-size: 16px;
  font-weight: 600;
  padding-top: 2px;
  color: $screenColor2;
}
.aero_name
{
  margin-left: 70px;
}
.flight_bookdetails {
  color: $primary-color;
  font-size: 14px;
  display: inline;
  margin-left: 20px;
}
.hotel_img {
  height: 90px;
  width: 90px;
}
.cardstyle_hotel {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 94%;
  height: 94%;
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.cardstyle2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 78%;
  min-height: 100px;
  padding-left: 18px;
  border-radius: 13px;
  margin-left: 100px;
}
.image_corner {
  top: 8px;
  left: 16px;
  font-size: 18px;
}
.day {
  color: $screenColor2;
  display: inline-block;
  margin-top: 10px;
  font-size: 16px;
}
.dayNum {
  color: $screenColor2;
  font: bold;
  font-size: 24px;
  font-weight: 500;
}

.card-text {
  margin-top: 10px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
}
.tm_card_date {
  position: relative;
}
.lg_dsplay {
  display: block;
}
.fl_card_line {
  padding: 0% 4% 2% 17%;
}
.fl_card_line2 {
  padding: 2% 0% 2% 15%;
}
.fl_card_line2::before {
  content: '';
  height: 2px;
  width: 70%;
  position: absolute;
  border: 1px solid black;
  border-style: dashed;
  left: 6%;
  top: 50%;
  z-index: 0;
  opacity: 0.5;
}
.flt_icon {
  position: absolute;
  left: 2%;
  background-color: #efe3e3;
  border-radius: 50%;
  padding: 7px;
  top: 50%;
  z-index: 2;
  transform: translate3d(0%, -50%, 0px);
  img {
    height: 11px;
  }
}
.flt_icon2 {
  position: absolute;
  left: 2%;
  background-color: #efe3e3;
  border-radius: 50%;
  padding: 7px;
  top: 50%;
  z-index: 2;
  transform: translate3d(0%, -50%, 0px);
  img {
    height: 11px;
  }
}
.flt_card {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 87%;
}
.flt_card2 {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 87%;
}
.flt_card_lg {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 93%;
}
.m_7_3 {
  margin: 7px 3px 0 0;
}
.m_7 {
  margin: 7px 7px 0 0;
}

.line {
  position: relative;
}
.line::after {
  position: absolute;
  content: '';
  width: 59%;
  top: 50%;
  left: 26%;
  border: 1px dashed var(--unnamed-color-000000);
  border: 1px dashed #000000;
  opacity: 0.15;
}
.footer-background-color {
  background-color: #000000 !important;
}
.footer-text-styles {
  color: #ffffff !important;
  font-size: 14px;
}

.hr-styles {
  margin-top: 1rem;
  margin-bottom: 0rem;
  border: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}
.footer-icon-styles {
  font-size: 24px;
  color: #ffffff;
}

.twitter-icon:hover {
  color: #00acee;
}
.facebook-icon:hover {
  color: #3b5998;
}
.linkedin-icon:hover {
  color: #0e76a8;
}
.instagram-icon:hover {
  color: #3f729b;
}

.poweredby {
  color: #ffffff;

  p {
    color: #ffffff;
  }
  .company:hover {
    cursor: pointer;
    color: #eba740;
    transition: 0.3s;
  }

  .company {
    color: #ffffff !important;
    font-size: 14px;
    transition: 0.3s;
    white-space: nowrap;
    a {
      color: #ffffff !important;
      font-family: 'AzoSans-Regular';
      text-decoration: underline;
      padding-bottom: 2px;
    }
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .dispaly-mobile {
    display: none;
  }
  .ion-no-border {
    height: 60px !important;
  }
}
@media (min-width: 320px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    width: 118%;
    left: -31px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  .fl_card_line2 {
    padding: 2% 0% 2% 15%;
  }
  .fl_card_line2::before {
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    border: 1px solid black;
    border-style: dashed;
    left: -10%;
    top: 50%;
    z-index: 0;
    opacity: 0.5;
  }
}

@media (min-width: 375px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    width: 118%;
    left: -42px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  .fl_card_line2 {
    padding: 2% 0% 2% 15%;
  }
  .fl_card_line2::before {
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    border: 1px solid black;
    border-style: dashed;
    left: -10%;
    top: 50%;
    z-index: 0;
    opacity: 0.5;
  }
}
@media (min-width: 425px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    width: 115%;
    left: -47px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  .fl_card_line2 {
    padding: 2% 0% 2% 15%;
  }
  .fl_card_line2::before {
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    border: 1px solid black;
    border-style: dashed;
    left: -10%;
    top: 50%;
    z-index: 0;
    opacity: 0.5;
  }
}
@media (min-width: 768px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    width: 566px;
    left: -58px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  .fl_card_line2 {
    padding: 2% 0% 2% 15%;
  }
  .fl_card_line2::before {
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    border: 1px solid black;
    border-style: dashed;
    left: -10%;
    top: 50%;
    z-index: 0;
    opacity: 0.5;
  }
}
@media (min-width: 1024px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    left: -46px;
    width: 113%;
  }
  .line::after {
    position: absolute;
    content: '';
    width: 56%;
    top: 50%;
    left: 30%;
    border: 1px dashed var(--unnamed-color-000000);
    border: 1px dashed #000000;
    opacity: 0.15;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  .fl_card_line2 {
    padding: 2% 0% 2% 15%;
  }
  .fl_card_line2::before {
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    border: 1px solid black;
    border-style: dashed;
    left: -10%;
    top: 50%;
    z-index: 0;
    opacity: 0.5;
  }
}

.line {
  position: relative;
}
.line::after {
  position: absolute;
  content: '';
  width: 59%;
  top: 50%;
  left: 26%;
  border: 1px dashed var(--unnamed-color-000000);
  border: 1px dashed #000000;
  opacity: 0.15;
}

@media (min-width: 1440px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    width: 111%;
    left: -15%;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  .fl_card_line2 {
    padding: 2% 0% 2% 15%;
  }
  .fl_card_line2::before {
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    border: 1px solid black;
    border-style: dashed;
    left: -10%;
    top: 50%;
    z-index: 0;
    opacity: 0.5;
  }
}
@media (min-width: 2560px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    width: 109%;
    margin-left: 19px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  .fl_card_line2 {
    padding: 2% 0% 2% 15%;
  }
  .fl_card_line2::before {
    content: '';
    height: 2px;
    width: 50%;
    position: absolute;
    border: 1px solid black;
    border-style: dashed;
    left: -10%;
    top: 50%;
    z-index: 0;
    opacity: 0.5;
  }
  .line::after {
    position: absolute;
    content: '';
    width: 63%;
    top: 50%;
    left: 22%;
    border: 1px dashed var(--unnamed-color-000000);
    border: 1px dashed #000000;
    opacity: 0.15;
  }
}

@media (max-width: 767px) {
  .sm_dsplay {
    display: block;
  }
  .lg_dsplay {
    display: none;
  }
}
@media (max-width: 576px) {
  .tm_card_date {
    position: absolute;
    bottom: 6px;
    // right: 3px;
  }
  .card_date {
    border-radius: 0px 0px 0px 0px;
  }
  .m_7_3 {
    margin: 0;
  }
  .m_7 {
    margin: 0;
  }
  .origin {
    display: none;
  }
  .origin_line::before {
    display: none;
  }
  .pl-15 {
    padding-left: 8%;
  }
  .inputsearch {
    border-radius: 13px;
  }
  .summary_pad {
    padding: 0 6% 0 15%;
  }

  .pl_5 {
    padding-left: 1rem;
  }
  .ml_4p5 {
    margin-left: 2rem;
  }
  .pl_5_htl {
    padding-left: 1.5rem;
  }
  .htl_icn_in_crd {
    padding: 1px 6px;
    img {
      height: 8px;
    }
  }
  .ml_5 {
    margin-left: 1.5rem;
  }
}
@media (max-width: 770px) {
  .positionFab {
    right: 5%;
  }
}
@media (max-width: 768px) {
  .line::after {
    width: 50%;
    left: 35%;
  }
}
@media (max-width: 560px) {
  .line::after {
    width: 37%;
    left: 49%;
  }
}
@media (max-width: 990px) {
  .mt-row-57 {
    margin-top: 0;
  }
  .positionFab {
    position: fixed;
    bottom: 2rem;
    right: 10%;
  }
}
.faild_flights {
  color: red;
  font-weight: 600;
  font-size: 15px;
}
.success_flights {
  color: #4bb543;
  font-weight: 600;
  font-size: 17px;
}
.btn-top {
  background-color: #efe3e3;
  border-radius: 15px;
  color: var(--ion-color-tertiary);
  padding: 12px;
  margin-left: 17%;
  font-weight: bold;
}

.hotel_card_center {
  padding: 2% 0% 2% 15%;
  .hotel_card {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    width: 87%;
    height: 150px;
  }
  .htl_nme_crd {
    color: $screenColor2;
    font-weight: 600;
    margin-left: 30px;
  }
  .htl_adr_crd {
    font-size: 13px;
    color: #000000;
    margin-left: 30px;
  }
}
@media (max-width: 576px) {
  .price_height {
    margin-top: 0px;
    margin-left: 10px;
  }
}

.prod-confirm-msg{
  color: orange !important;
  font-weight: bold;
}
