<ion-app>
  <div class="container">
    <!-- <ion-icon name="arrow-back" class="Size_backicon" (click)="Navigatehomepage()"></ion-icon> -->
    <!-- <ion-button (click)="Navigatehomepage()" class="Size_backicon" align='end'>Skip</ion-button> -->
    <ion-item lines="none">
      <ion-button shape="round" fill="clear"  slot="end" (click)="Navigatehomepage()">Close</ion-button>

    </ion-item>
  </div>
  <ion-content>
    <div class="container block text-justify">
      <h1 class="mt-4 policy" >Privacy Policy</h1>
      <div class="purpose">
        <div class="heading">Purpose</div>
        <p class="data text-justify">Trip Stories Private Limited understands the importance of privacy of its users. This Privacy
          Policy explains
          how we handle personal information and comply with the requirements of applicable privacy laws. For the
          purpose
          of this Privacy Policy, wherever the context so requires "you" or "your" shall mean User and the term "we",
          "us",
          "our"
          shall mean Trip Stories Private Limited.
        </p>
      </div>
      <div class="applicability">
        <div class="heading">Applicability</div>
        <p class="data text-justify">This Privacy Policy is applicable to any person who visits, inquiries about our products or
          services or
          purchases any of our products or services made available by through our website (https://www.voyaah.com) and
          other offline channels (collectively referred herein as <b>"Sales Channels"</b>). This Privacy Policy does not
          apply to any
          website(s), mobile sites and mobile apps of third parties, even if their websites/products are linked to our
          Sales
          Channels. You may take note that information and privacy practices of our business partners, advertisers,
          sponsors
          or
          other sites to which we provide hyperlink(s), may be materially different from this privacy policy. We
          recommended
          that you review the privacy statements and policies of any such third parties with whom they interact.
        </p>
      </div>
      <div class="consent">
        <div class="heading">Consent</div>
        <p class="data text-justify">Please read this Privacy Policy carefully because by using or accessing our Sales Channels, you
          agree with the
          terms of this Privacy Policy and the contents herein. If you disagree with this Privacy Policy please do not
          use
          or access
          our Sales Channels.
        </p>
      </div>
      <div class="Information-we-collect">
        <div class="heading">Information we collect</div>
        <p class="data text-justify">We collect personal/ non-personal information to be able to provide you with the best of our
          services. This Information may be collected by us from the information you give to us while using our Sales
          Channels,
          information we derive from you or information we receive from other sources. Such information may, inter alia,
          include the following:
        </p>
        <ol class="alpha">
          <li class="info-list text-justify">Your personal identifiable information such as name, gender, marital status, religion,
            age,
            contact details such as
            your email address, postal addresses, frequent flyer number and telephone (mobile or otherwise). </li>
          <li class="info-list text-justify">Your banking details (including credit/debit card) and any other information relating to
            your income and/or
            lifestyle; billing information payment history, etc. (as shared by you).</li>
          <li class="info-list text-justify">Transactional history (other than banking details) about your e-commerce activities,
            buying behavior</li>
          <li class="info-list text-justify">Your usernames, passwords, email addresses and other security-related information used
            by you while accessing
            our Sales Channels.</li>
          <li class="info-list text-justify">Data created by you or third party which you wish to store on our servers such as image
            files, documents etc</li>
          <li class="info-list text-justify">Data available in public domain or received from any third party including social media
            channels, including but not
            limited to personal or non-personal information from your linked social media channels (like name, email
            address,
            friend list, profile pictures or any other information that is permitted to be received as per your account
            settings)
            as a part of your account information.</li>
          <li class="info-list text-justify">Information pertaining any other traveler(s) for who you make a booking through our
            Sales Channels. In such case,
            you must confirm and represent that each of the other traveler(s) for whom a booking has been made, has
            agreed
            to have the information shared by you, disclosed to us and further be shared by us with the concerned
            service
            provider(s).</li>
          <li class="info-list text-justify">If you request us to provide visa related services, then copies of your passport, bank
            statements, originals of the
            filled in application forms, photographs, and any other information which may be required by the respective
            embassy to process your visa application.
          </li>
        </ol>
      </div>
      <div class="Use-information-we-collect">
        <div class="heading ">Use of the information we collect</div>
        <p class="data text-justify">The information collected maybe be, inter alia, used for the following purpose</p>
        <ol class="alpha">
          <li class="info-list text-justify">make a booking for you;</li>
          <li class="info-list text-justify">confirm your reservations with respective service providers;</li>
          <li class="info-list text-justify">Transactional history (other than banking details) about your e-commerce activities,
            buying behavior</li>
          <li class="info-list text-justify">keep you informed of the transaction status;</li>
          <li class="info-list text-justify">send booking confirmations;</li>
          <li class="info-list text-justify">create and administer your account with us;</li>
          <li class="info-list text-justify">send any updates or changes to your booking(s);</li>
          <li class="info-list text-justify">allow our customer service to contact you, if necessary or respond to your queries and
            assist you with customer
            service or technical support;</li>
          <li class="info-list text-justify">customize the content of our website, mobile site and mobile app;</li>
          <li class="info-list text-justify">request for reviews of products or services or any other improvements;</li>
          <li class="info-list text-justify">send verification message(s) or email(s);</li>
          <li class="info-list text-justify">validate/authenticate your account and to prevent any misuse or abuse;</li>
          <li class="info-list text-justify">contact you on your birthday/anniversary to offer a special gift or offer;</li>
          <li class="info-list text-justify">conduct surveys both online and offline;</li>
          <li class="info-list text-justify">make improvements to our Sales Channels, services and to develop appealing content and
            features;</li>
          <li class="info-list text-justify">conduct marketing and research programs to identify your preferences and improve user
            experience;</li>
          <li class="info-list text-justify">notify you about our periodic marketing emails, newsletters and exclusive promotions
            offering special deals</li>
        </ol>
      </div>

      <div class="Sharing-information-collect">
        <div class="heading">Sharing of the information that we collect</div>
        <p class="data">The information collected may be shared, inter alia, with and for following
          purpose:
        </p>
        <ol type="a">
          <li class="info-heading ">our affiliate entities</li>
          <p class="data text-justify">for improving personalization and service efficiency;</p>

          <li class="info-heading ">service providers or suppliers</li>
          <p class="data text-justify"> located within or outside India, such as airlines, hotels, cab rentals among others.
            You may note that while making a booking with us, you authorize us to share your information with them. It
            is
            pertinent to note that we do not authorize such service providers or suppliers to use your information for
            any
            other purpose(s), except as may be for fulfilling their part of service. However, how the said service
            providers or
            suppliers use the information shared with them is beyond our purview and control and hence we cannot be made
            accountable for the same. You are therefore advised to review the privacy policies of the respective service
            provider or supplier whose services you choose to avail.</p>

          <li class="info-heading ">our corporate affiliates or business partners</li>
          <p class="data text-justify"> who may contact you to offer certain products or services, which will
            enable you to have better travel experience or to avail certain benefits. Examples of such partners are
            entities
            offering co-branded credit cards, travel insurance, insurance cover against loss of wallet, banking cards or
            similar
            sensitive information etc. If you choose to avail any such services offered by our business partners, the
            services so
            availed will be governed by the privacy policy of the respective service provider.</p>

          <li class="info-heading ">our ad-servicers, ad-platforms and third parties</li>
          <p class="data text-justify"> for research, marketing, analytics and other purposes (provided
            such information does not identify a particular individual ensuring compliance). We may share legally
            permitted
            information with third party that we may engage to perform certain tasks including but not limited to
            payment
            processing, data hosting, and data processing platforms to understand how you engage with us and develop an
            understanding of how you prefer to interact with us. We may hire such third party for market research,
            surveys,
            etc. and may provide them with legally permittable information specifically for use in connection therwith.
          </p>

          <li class="info-heading ">respond to subpoenas</li>
          <p class="data text-justify">to establish or exercise defend against legal claims, to investigate, prevent, or take action
            regarding illegal activities, identity theft, suspected fraud, audit requirements, internal compliance among
            others. </p>
          <p class="data text-justify">We do not sell or rent your information to third parties except sharing of such information
            with our business / alliance
            partners or vendors who are engaged by us for providing various services and for sharing promotional and
            other
            benefits with you their booking history with us. We may provide anonymous statistical information based on
            this data
            collected to suppliers, advertisers, affiliates and other current and potential business partners. We may
            also use such
            aggregate data to inform these third parties as to the number of people who have seen and clicked on links
            to their
            websites. Any personal information which we collect and which we may use in an aggregated format is our
            property.
            We may use it, in our sole discretion and without any compensation to you, for any legitimate purpose
            including
            without limitation the commercial sale thereof to third parties.
            Please note that the data shared with us shall be primarily processed in India and such other jurisdictions
            where we
            engage with a third party to process the data on our behalf. By agreeing to this Privacy Policy, you provide
            us with
            your explicit consent to process your personal information for the purpose defined in this Privacy Policy.
            The data
            protection regulations in India or such other jurisdictions mentioned above may differ from those of your
            country of
            residence. You may write to us to withdraw your consent for processing of your information. However, if such
            processing of data is essential for us to be able to provide service to you, then we will be restricted to
            serve or confirm
            your bookings after your withdrawal of consent.</p>
        </ol>
      </div>
      <div class="Storing-of-information">
        <div class="heading text-justify">Storing of information</div>
        <p class="data text-justify"> We may retain your information on our servers for as long as is reasonably necessary for the
          purposes listed in this policy. In some circumstances we may retain your information for longer periods of
          time, for
          instance where we are required to do so in accordance with any legal, regulatory, tax or accounting
          requirements.
          Where your personal data is no longer required, we will ensure it is either securely deleted or stored in a
          way which
          means it will no longer be used by the business.</p>
      </div>
      <div class="Cookies">
        <div class="heading">Cookies</div>
        <p class="data text-justify">We may use cookies to personalize your experience and the advertisements that maybe displayed.
          Cookies
          are small pieces of information that are stored by your browser on your device's hard drive. Cookies may also
          be
          placed by our advertising servers, or third-party advertising companies to track the effectiveness of
          advertising served
          on any website, and also to use aggregated statistics about your visits to the Sales Channels. No Personal
          Information
          is collected during this process. Most web browsers automatically accept cookies. You may change the options
          on
          your web browser and block cookies. However, blocking cookies may disable certain features on the website, and
          may
          hinder an otherwise seamless experience to use our website.</p>
      </div>

      <div class="Your-rights-options">
        <div class="heading">Your rights and options</div>
        <p class="data text-justify">You will occasionally receive e-mail updates from us about fare sales in your area, special
          offers and other noteworthy
          items. We hope you will find these updates interesting and informative. If you wish not to receive them,
          please click
          on the "unsubscribe" link or follow the instructions in each e-mail message.
          You may access your information provided to us, correct your personal information or delete such information
          (except
          some mandatory fields) from your user account directly. If you don’t have such a user account, then you write
          to info@voyaah.com.
          You may withdraw your consent to submit any or all information or decline to provide any permissions on
          website. In
          case, you choose to do so then your access to the website may be limited, or we might not be able to provide
          the
          services to you. You may do so by sending an email to info@voyaah.com.
        </p>
      </div>

      <div class="Data-Security">
        <div class="heading">Data Security</div>
        <p class="data text-justify">We have adopted reasonable security practices to ensure that the information collected is
          secured. We
          continuously develop and implement administrative, technical and physical security measures to protect such
          information from unauthorized access or against loss, misuse or alteration. While we endeavour to take all
          reasonable
          and appropriate steps to keep secure the information collected and prevent unauthorized access, you
          acknowledge
          that the internet is not entirely secure and that we cannot provide any absolute assurance regarding the
          security of
          the information collected. To report an abuse on the website, not being a cyber-security incident, you may
          write to
          us at info@voyaah.com and submit the details of the abuse.
        </p>
      </div>

      <div class="Eligibility-transact-with-us">
        <div class="heading">Eligibility to transact with us</div>
        <p class="data text-justify">You must be atleast 18 years of age to transact directly with us and also to consent to
          the processing of your personal data.
        </p>
      </div>

      <div class="Changes-to-this-Privacy-Policy">
        <div class="heading">Changes to this Privacy Policy</div>
        <p class="data text-justify">We reserve the rights to revise this Privacy Policy from time to time to suit various legal,
          business and customer requirement. We will duly notify the users as may be necessary. Your continual use of
          our
          website, shall be deemed as your acceptance to the amended Policy.
        </p>
      </div>

      <div class="Limitation-liability">
        <div class="heading">Limitation of liability</div>
        <p class="data text-justify">Our liability shall be limited to removal of your information from our system. Notwithstanding
          anything to the contrary contained in this Privacy Policy and elsewhere, our aggregate liability for all
          claims for
          damages pursuant to provisions of the services offered to you including claims in respect to the violation of
          this Privacy
          Policy, shall be limited to such amount as provided in the Terms of Service.
        </p>
      </div>

      <div class="text-center mt-3 col-10 mx-auto text-justify ">
        <div class="info-summary">You may always submit concerns regarding this Privacy Policy via email to us at <a
            href="mailto:info@voyaah.com">info@voyaah.com</a> We shall endeavour
          to respond to all reasonable concerns and inquires.</div>
        <p class="info-summary-end">We appreciate you taking the time to read this policy. We know that you are placing
          your trust in us when you choose
          to share your personal information with us and we intend to use it responsibly.
        </p>
      </div>
    </div>
  </ion-content>
</ion-app>
