$primary-color: #265359;
$background-color: #fbfaf8;
$details_colour: #707070;
@font-face {
  font-family: 'AzoSans-Bold';
  src: url('../../../assets/font/AzoSans-Bold.ttf');
}
@font-face {
  font-family: 'AzoSans-Light';
  src: url('../../../assets/font/AzoSans-Light.ttf');
}

@font-face {
  font-family: 'AzoSans-Thin';
  src: url('../../../assets/font/AzoSans-Thin.ttf');
}
@font-face {
  font-family: 'AzoSans-Medium';
  src: url('../../../assets/font/AzoSans-Medium.ttf');
}
.Back_Arrow
{
  margin-top: 30px;
  margin-left: 30px;
  .Size_backicon
  {
    font-size: 30px;
    cursor: pointer;
    color: #265359;
  }
}
.heading {
  font-size: 20px;
  font-family: 'AzoSans-Medium';
  padding: 10px 0px;
  color: $primary-color;

  text-transform: capitalize;

}

.data {
  font-size: 14px;
  line-height: 25px;
  color: $primary-color;
  padding: 10px 0px;
}
.info-heading {
  font-size: 18px;
  font-family: 'AzoSans-Medium';
  padding: 10px 10px;
  color: $primary-color;

  text-transform: capitalize;

}
.block {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  padding: 10px 20px;
  margin-top: 20px;
}
.Information-we-collect ol, .Use-information-we-collect ol, .Sharing-information-collect ol {
  padding: 10px 50px;
}
.info-list {
  line-height: 30px;
  padding: 5px 0px;
  color: $primary-color;

}

.info-summary-end,.info-summary {
  color: $primary-color;
  padding: 15px 0px;
}
.policy{
  color:$primary-color;
}
@media screen and (max-width:426px){
  .Information-we-collect ol, .Use-information-we-collect ol, .Sharing-information-collect ol {
    padding: 10px 22px;
  }
}
.alpha{list-style-type: disc;
}