$screenColor2: #265359;
$Color1: #707070;
$Color2: #265359;
$Color3: #fbfaf8;
@font-face {
  font-family: 'AzoSans-Medium';
  src: url('../../../assets/font/AzoSans-Medium.ttf');
}
::ng-deep.mat-slider-min-value:not(.mat-slider-thumb-label-showing)
  .mat-slider-thumb {
  background-color: white !important;
}
.ml_mr_0{
  margin-left: 0;
  margin-right: 0;
}
.grd-col-card{
  padding-right: 5px ;
  padding-left: 10px ;
}
.flex_wrap {
  flex-wrap: nowrap;
}
.mt_100 {
  margin-top: 100px;
}
.htl_img_style {
  height: 130px;
  width: 100%;
}
.fare{
  color: $Color2;
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
  padding:0px 19px 0px 2px;
}
.rating-list {
  li {
    display: inline;
    padding: 5px 1px;
    vertical-align: middle !important;
    font-size: 13px !important;
    color: $screenColor2 !important;
    .rating-num {
      vertical-align: middle;
      font-family: 'AzoSans-Medium';
      color: $screenColor2 !important;
      font-size: 16px !important;
    }
    .star-color {
      font-size: 15px;
      color: #ffd700;
    }
    .source-styles {
      font-size: 13px;
      vertical-align: top;
      color: #7e7e7e;
    }
  }
  display: inline-block;
  list-style: none;
}
.errorMessage {
  color: #265359;
  font-size: 20px;
}
.ratings{

  font-size: 13px;
}
.htl_name {
  font-size: 14px;
  font-family: 'AzoSans-Medium';
  color: $screenColor2;
  // font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.htl_location {
  font-size: 12px;
  color: black;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.location_sharp {
  color: #d4b2b1;
  font-size: 16px;
  position: absolute;
  left: 0;
}
.htl_add_btn {
  background-color: #265359;
  border-radius: 5px;
  color: white;
  outline: none;
  border: none;
  padding: 5px;
}
.htl_spec {
  font-size: 12px;
  color: $screenColor2;
}

.act_search_bar {
  border: 1px solid #cecece;
  border-radius: 36px;
  height: 40px;
  background-color: white;
  margin-bottom: 12px;
}
.verified_btn {
  background-color: #265359;
  border-radius: 36px;
  color: white;
  outline: none;
  border: none;
  padding: 11px 27px;
  // right: 0;
  // top: 0;
  // position: absolute;
}
.search_img {
  height: 25px;
  margin: 7px 5px 10px 15px;
}
.srch::before {
  content: '';
  position: absolute;
  border: 0.5px solid #707070;
  height: 24px;
  left: 5px;
  width: 1px;
  opacity: 0.5;
}
.flt_back_btn {
  display: none;
  position: fixed;
  font-size: 30px;
  z-index: 12;

  top: 64px;
  left: 4px;
}
.room_back_btn {
  display: none;
  position: fixed;
  z-index: 13;
  background-color: white;
  font-size: 30px;
  top: 14px;
  left: 12px;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}
.hotel_view_more {
  // margin-top: 65px;
  height: calc(100vh - 108px);
  background-color: white;
  .htl_name {
    color: $screenColor2;
    font-size: 18px;
    font-weight: 600;
    padding-top: 15px;
  }
  .htl_addrs {
    font-size: 14px;
  }
}
.small_ht {
  height: 100px;
}
.big_ht {
  height: 200px;
}
.htlview_add_btn {
  border-radius: 20px;
  background-color: #265359;
  font-size: 13px;
  color: white;
  // position: absolute;
  right: 0px;
  bottom: -5px;
  float: right;
  // padding: 5px 10px;
}
.room_back {
  font-size: 35px;
  display: inline-block;
  padding: 0 0 10px 0;
  color: $screenColor2;
}
.head {
  font-size: 18px;
  font-weight: 600;
}
.fac-row {
  display: flex;
  overflow-x: auto;
}
.fac-col {
  flex: 0 0 auto;
}
.facilities_div {
  background-color: $Color3;
  padding: 10px 0 0 10px;
  border-radius: 15px;
  margin: 0 10px;
}
.facilities_icon_div {
  min-height: 60px;
}
.room_type_div {
  background-color: #fbfaf8;
    border-radius: 15px;
    margin: 20px 8px;
    padding: 10px;
}
.room_circle {
  background-color: #d4b2b1;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  .count {
    font-weight: 600;
    font-size: 20px;
    color: $screenColor2;
  }
}
.circle_text {
  font-size: 11px;
  font-weight: 600;
  color: $screenColor2;
}
.font_normal {
  font-size: 15px;
}
.occupancy {
  line-height: 4px;
}
.room_img_list {
  display: flex;
  overflow-x: auto;
  width: 100%;
  img {
    flex: 0 0 auto;
    height: 60px;
    width: 70px;
  }
}
.ErrorHotel {
  text-align: center;
  color: #265359;
  margin-top: 50px;
}
.all_facilities_link {
  color: $screenColor2;
  position: absolute;
  right: 20px;
  bottom: 5px;
}
.main_chiv_symbol {
  font-size: 15px;
  color: #b7b7b7;
  transition: 0.5s;
}
.collapsed .main_chiv_symbol {
  transform: rotate(180deg);
}
// Hotel Prefernce
.htl-preference {
  text-align: right;
  color: Black;
  font-size: 1rem;
  cursor: pointer;
  display: inline-block;
  padding: 18px 16px 11px 0px;
}

.htl-line {
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  margin-top: 0;
  margin-left: 0.75rem;
  margin-right: 0.4rem;
}

.star-rating {
  display: inline-block;
  direction: rtl;
  // padding: 20px
}

.star-rating input[type='radio'] {
  display: none;
}

.star-rating label {
  color: #bbb;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 24px;
}
.star-1 {
  padding: 0;
}
.star-2 .star-3 .star-4 .star-5 {
  padding: 0px 8px;
}

.star-rating label:hover,
.star-rating label:hover ~ label,
.star-rating input[type='radio']:checked ~ label {
  color: #f2b600;
}

.header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 9;
  // box-shadow: 0 1px 2px rgba(0, 0, 0, 0.10), 0 2px 5px rgba(0, 0, 0, 0.0);
}
.hotel_lst_back_btn{
  zoom: 2;
  position: absolute;
  left: 6px;
  bottom: 4px;
  z-index: 2;
  cursor: pointer;
}
.scroll_hotel {
  // padding-top: 95px;
  background-color: white;
}
.loading-bg {
  background-color: #fbfaf8;
}

.fltr_head {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 5px;
}
.color2 {
  color: $Color2;
}
.w_150 {
  width: 150px;
}
.drp_btns {
  background-color: #fbfaf8;
  color: #265359;
  font-size: 14px;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
}
.drp_btns:focus {
  border: none !important;
  box-shadow: none !important;
}
.drp_mnu {
  width: 100% !important;
  height: 300px;
  border: none !important;
  background-color: #fbfaf8;
  border-radius: 0px 0px 10px 10px !important;
  overflow: auto;
  transform: translate3d(0px, 24px, 0px) !important;
}
.drp_li {
  font-size: 13px;
  list-style: none;
  padding: 0 10px 0 10px;
}
.dropdown-toggle::after {
  float: right !important;
  margin-top: 6px !important;
}
.apply_button {
  background-color: #265359;
  border-radius: 36px;
  color: white;
  outline: none;
  border: none;
}
.pt_70 {
  padding-top: 70px;
}
// .flt_back_btn {
//   display: none;
//   position: fixed;
//   z-index: 12;
//   background-color: white;
//   font-size: 50px;
//   top: 0px;
//   left: 0;
// }
////////////////////////corousal start

/* CAROUSEL INDICATORS */
.carousel-indicators {
  position: static;
  display: flex;
  overflow-x: auto;
  list-style: none;
  justify-content: unset;
  margin: 0;
}

.carousel-indicators li,
.carousel-indicators li.active {
  width: 70px;
  height: 60px;
  background-color: transparent;
  opacity: 1 !important;
  flex: 0 0 auto;
  text-indent: 0px;
}
.carousel-item {
  height: 154px;
}
.carousel-indicators li > .thumbnail {
  width: 70px;
  height: auto;
  max-height: 60px;
  overflow: hidden;

  opacity: 1;
  display: block;
  padding: 0;
  margin-bottom: 0;
  background-color: black;
  border: none;
  border-radius: 2px;
}
.thumbnail img {
  object-fit: cover;
}
.carousal_img {
  object-fit: cover;
  object-position: center;
}
.big_ht .small_ht {
  img {
    object-fit: cover;
    object-position: center;
  }
}

////////////////////////corousal end
@media (min-width: 1600px) {
  .htl_img_style {
    height: 155px;
  }
  .small_ht {
    height: 125px;
  }
  .big_ht {
    height: 250px;
  }
}
@media (min-width: 1800px) {
  .small_ht {
    height: 150px;
  }
  .big_ht {
    height: 300px;
  }
}
@media (min-width: 2000px) {
  .htl_img_style {
    height: 200px;
  }
}
@media (max-width: 991px) {
  .flt_back_btn {
    display: inline-block;
  }
  .room_back {
    display: none;
  }
  .room_back_btn {
    display: inline-block;
  }
}
@media (max-width: 576px) {
  .grd-col-card{
    padding-right: 15px ;
    padding-left: 15px ;
  }
  .search_img {
    height: 18px;
    margin: 11px 0 0px 10px;
  }
  .verified_btn {
    padding: 10px 10px;
  }
  .htl_img_style {
    height: 200px;
  }
  .flex_wrap {
    flex-wrap: wrap;
  }
  .errorMessage {
    font-size: 15px;
  }
  .hotel-details-pad{
    padding: 0px 1px;
  }
}
@media screen and (min-width: 769px) and (max-width: 2560px) {
  .hotel-icon-hide {
    display: none;
  }

}

// @media (max-width: 991px) {
//   .flt_back_btn {
//     display: inline-block;
//     background-color: white;
//   }
// }
.adjustAdd{
  margin-top: 31px;
}
.hotelCard{
  cursor: pointer;
  border: 1px solid lightgray;
  background-color:white;
}
.hotelContent{
  padding: 6px;
}
.multi-select-dropdown{
  margin-left: -6px;
}

.ac_apply2 {
  position: absolute;
  right: 80px !important;
  border-radius: 20px;
  background-color: #b7b7b7;
  color: white;
  z-index: 5;
}
.ac_apply2.active{
  background-color: $screenColor2;
}
.hotel-room-details{
  line-height: 25px;
}

@media screen and (max-width:768px) {
  .head {
    font-size: 16px;
    padding-right: 2px;
  }
  .fare{
    font-size: 16px;
    // padding:0px 15px 0px 2px;
  }
  .hotel-room-details{
    font-size: 13px;
    line-height: 22px;
  }
}
