<div *ngIf="ActivitesDetails?.length > 0" >
  <ion-grid class="summary_pad" *ngFor="let i of Dailydata; let p = index">
    <ion-row class="mt-3">
      <ion-col size="12">
        <ion-card class="cardstyle z-index-2 bg-white container-fluid position-relative">
          <div class="row">
            <div class="col-4 col-sm-3 locationIcon text-center">
              <span class="day">Destination</span>
              <h3 class="dayNum">{{ p + 1 | number: '2.'}}</h3>
            </div>
            <div class="col-8 col-sm-9 pr-0 pl-2 position-relative">
              <ion-row>
                <ion-col class="card-text d-block" size="12" size-sm>
                  {{ i.dailyData.cityName}},&nbsp;{{i.dailyData.countryName}}
                </ion-col>
                <!-- <ion-col size="auto" class="m_7 font-weight-bold text-dark">
                  09:00am
                </ion-col> -->
                <ion-col size="auto" class="tm_card_date m_7_3">
                  <ion-text class="card_date">
                    {{i?.dailyData?.date?.start | date:'MMM dd'}} - {{i?.dailyData?.date?.end | date:'MMM dd'}}
                  </ion-text>
                </ion-col>
              </ion-row>
            </div>
          </div>
          <div *ngIf="i.dailyData?.activityDetails.length> 0">
            <div class="chevron_div text-dark" data-toggle="collapse" [attr.data-target]="'#maincollapse-' + p">

              <ion-icon name="chevron-up-outline" class="main_chiv_symbol cursor-pointer"></ion-icon>

            </div>
          </div>
        </ion-card>
      </ion-col>
      <ion-col size="12" class="crd_inside position-relative" [attr.id]="'maincollapse-' + p" class="collapse show">
        <ion-grid *ngFor="let j of i.dailyData?.activityDetails; let z = index"
          class="container-fluid pl_5_htl mt-4 position-relative">
          <div class="fl_card_line">
            <div class="loc_icn_in_crd">
              <img src="../../../assets/images/loc_in_circle.svg" />
            </div>
          </div>

          <ion-row class="mb-2 htl_row">
            <ion-col class="col-12 col-sm-3 p-0 htl_img_in_crd">
              <img src="{{ j.coverImageUrl }}" alt="image_not_found" onerror="this.src='assets/images/default-act.jpg'" />
            </ion-col>
            <ion-col class="col-12 col-sm-9 text-justify img_btm_div">
              <div class="p-0 hotel_btm_txt">
                <ion-text class="d-block htl_nme_crd">{{
                  j.activityName
                  }}</ion-text>
                  <span class="htl_nme_crd"> {{j.grandtotal | currency:"₹ " : false : '1.2-2'}}</span>
                <ion-text class="d-block text-left">
                  <div *ngIf="!j.showMore">
                    {{this.trimString(j.description,35)}}
                    <a (click)="j.showMore = !j.showMore" class="cursor-pointer">Show <span
                        [innerHtml]="j.showMore ? 'less' : 'More'"> </span>
                    </a>
                  </div>
                  <div *ngIf="j.showMore">
                    {{j.description}}
                    <a (click)="j.showMore = !j.showMore" class="cursor-pointer">Show <span
                        [innerHtml]="j.showMore ? 'less' : 'More'"> </span>
                    </a>
                  </div>
                  <span class="d-block">Date :{{j?.startDate | date:'MMM dd'}} at {{j?.time}}</span>
                </ion-text>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>



<div *ngIf="ActivitesDetails?.length == 0" class="hotalError">
  <ion-grid>
    <ion-row>
      <ion-col size="3">
        <img src="../../../assets/images/no-activity.svg" class="no_hotel_img" alt="No Hotel Selected" />
      </ion-col>

      <ion-col size="7" class="mt-4">
        <div class="no_hotel">
          Looks empty,you haven't added any activity
        </div>
        <p class="no_hotel_below">When you add a activity,you will see it here.</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
