$primary-color: #265359;
$secondary-color: #fbfaf8;
$third-colour: #707070;
$fourth-color: #efe3e3;

$primary-color: #265359;
$background-color: #fbfaf8;
$details_colour: #707070;

@font-face {
  font-family: 'AzoSans-Medium';
  src: url('../../../assets/font/AzoSans-Medium.ttf');
}
@font-face {
  font-family: 'AzoSans-Regular';
  src: url('../../../assets/font/AzoSans-Regular.ttf');
}

@font-face {
  font-family: 'AzoSans-Bold';
  src: url('../../../assets/font/AzoSans-Bold.ttf');
}
@font-face {
  font-family: 'AzoSans-Light';
  src: url('../../../assets/font/AzoSans-Light.ttf');
}

@font-face {
  font-family: 'AzoSans-Thin';
  src: url('../../../assets/font/AzoSans-Thin.ttf');
}

.wrapper {
  position: relative;
}
.booking_status {
  color: #00ff00;
}
.flight_details {
  color: $primary-color;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  color: #265359;
  position: absolute;
  right: 85px;
  top: 0px;
}
.flight_pass {
  color: $primary-color;
  font-weight: 400;
  cursor: pointer;
}
.price_height {
  margin-top: 50px;
}
.dates_size {
  font-size: 12px;
}
.bookDetails {
  padding: 5px;
  width: 110%;
  margin-left: 10px;
}
.bookDetails_head {
  color: white;
  font-size: 15px;
}
.success_status {
  color: #00ff00;
  font-weight: 600;
  font-size: 18px;
}
.error_status {
  color: red;
  font-weight: 600;
  font-size: 18px;
}
.successColor {
  color: #4bb543;
  font-weight: 600;
  font-size: 18px;
}
.day_origin {
  position: absolute;
  color: $primary-color;
  top: 37px;
  font-size: 14px;
  padding-top: 3px;
  left: 0;
  transform: translatex(-50%);
  background-color: $secondary-color;
  z-index: 2;
  margin-left: 0px;
}
.errorColor {
  color: red;
  font-weight: 600;
}
.partialSuccess {
  color: #ffa500;
  font-size: 18px;
  font-weight: 600;
}
.Show_list {
  cursor: pointer;
}
.passenger_line {
  color: $third-colour;
}
.passenger_details {
  text-align: center;
  font-size: 19px;
  color: $third-colour;
}
.flight_details:hover {
  color: #265359;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-color: #265359;
}
.right_float {
  float: right;
}
.flot_top {
  margin-top: -20px;
}
.passenger_header {
  color: #265359;
}
.Table_Style {
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border-collapse: collapse;
}
.gold-box {
  z-index: 3;
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.green-box {
  z-index: 1;
}
.rating-list {
  li {
    display: inline;
    padding: 5px 1px;
    vertical-align: middle !important;
    font-size: 15px !important;
    color: $primary-color !important;
    .rating-num {
      vertical-align: middle;
      font-family: 'AzoSans-Medium';
      color: $primary-color !important;
      font-size: 16px !important;
    }
    .star-color {
      font-size: 16px;
      color: #ffd700;
    }
    .source-styles {
      font-size: 13px;
      vertical-align: top;
      color: #7e7e7e;
    }
  }
  display: inline-block;
  list-style: none;
}
.spinner_overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1.6;
  z-index: 2;
}
.flight_bookdetails {
  color: #265359;
  font-size: 14px;
  display: inline;
}
.flight_price {
  font-size: 16px;
  font-weight: 600;
  color: #265359;
  position: absolute;
  right: 15px;
  top: 0px;
}
.spinner_text {
  position: fixed;
  top: 70%;
  left: 50%;
  border-radius: 20px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  color: #265359;
}

.index_forpay {
  z-index: 2;
}
.background_color {
  background-color: $secondary-color;
}

.error-status {
  color: red;
}

.itenary_header {
  font-size: 22px;
  color: $third-colour;
  display: inline-block;
  margin: 3% 0 3% 8%;
}
.passenger_name {
  color: $primary-color;
  font-size: 19px;
  padding-left: 30px;
  font-weight: 600;
  .icon_profile {
    position: absolute !important;
    left: 0 !important;
    top: 0px !important;
    font-size: 20px !important;
  }
}
.itenerary_img {
  border-radius: 2px;
  .img_dimensions {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 25px;
  }
}
.itenerary_img_active {
  border-radius: 2px;
  .img_dimensions_active {
    width: 100%;
    height: 115%;
    object-fit: cover;
    object-position: bottom;
    border-radius: 25px;
  }
}
.text_header {
  color: $primary-color;
  font-size: 18px;
  margin-top: 10px;
  font-weight: 600;
}
.text_header_origin {
  color: $primary-color;
  font-size: 18px;
  margin-top: 0px;
  font-weight: 600;
}
.text_normal {
  color: $third-colour;
  font-size: 15px;
  font-weight: 10;
}

.hotel_small {
  color: $primary-color;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  right: 0;
  bottom: -20px;
}
.text_normal {
  color: $third-colour;
  font-size: 15px;
}
.text_normal_head {
  font-weight: 600;
  color: $primary-color;
  font-size: 15px;
}
.table_active {
  border-spacing: 0px;
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
  width: 450px;
}
.th_active {
  font-weight: 600;
  color: $primary-color;
  font-size: 15px;
}
.td_active {
  word-wrap: break-word;
}
.day {
  position: absolute;
  color: $primary-color;
  top: 37px;
  font-size: 14px;
  padding-top: 3px;
  left: 0;
  transform: translatex(-50%);
  background-color: $secondary-color;
  z-index: 2;
}
@media (max-width: 430px) {
  .day {
    left: 20px;
  }
}
.pl_5 {
  padding-left: 4rem;
}
.inline_activity {
  float: left;
  display: inline-block;
  margin: 3px 3px 3px 0;
  border-radius: 6px;
  padding: 4px;
  background-color: #ffa85d;
}
.city_card_line::before {
  content: '';
  position: relative;
  height: 0px;
  width: 26%;
  position: absolute;
  border: 1px solid #265359;
  border-style: dashed;
  left: -87px;
  top: 60%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 1;
}
.fl_card_line::before {
  content: '';
  height: 2px;
  width: 25%;
  position: absolute;
  border: 1px solid $primary-color;
  border-style: dashed;
  left: 30px;
  top: 90px;
  z-index: 0;
  opacity: 1;
}
.fl1_card_line::before {
  content: '';
  height: 2px;
  width: 25%;
  position: absolute;
  border: 1px solid $primary-color;
  border-style: dashed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 1;
}
.flight_card_line::before {
  content: '';
  height: 2px;
  width: 25%;
  position: absolute;
  border: 1px solid $primary-color;
  border-style: dashed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 1;
}

.return_flight_card_line::before {
  content: '';
  height: 2px;
  width: 25%;
  position: absolute;
  border: 1px solid $primary-color;
  border-style: dashed;
  left: 30px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 0;
  opacity: 1;
}

.fl1_card_line::after {
  content: '';
  /* height: 15px; */
  /* width: 15px; */
  padding: 10px;
  border-radius: 50%;
  position: absolute;
  background-color: $primary-color;
  left: 1px;
  transform: translate3d(-50%, -50%, 0);
  top: 50%;
  z-index: 2;
  opacity: 1;
  border: 10px solid #fbfaf8;
}
.flt_icon {
  position: absolute;
  left: 0;
  background-color: $fourth-color;
  border-radius: 50%;
  top: 20px;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0px);
  color: $primary-color;
  font-weight: 600;
  padding: 8px 13px 5px 13px;
  border: 7px solid #fbfaf8;
}
.flight_icon {
  position: absolute;
  left: 0;
  background-color: $fourth-color;
  border-radius: 50%;
  top: 50%;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0px);
  padding: 6px 7px;
  border: 7px solid #fbfaf8;
  img {
    height: 17px;
    width: 22px;
  }
}
.htl_icon {
  position: absolute;
  left: 0;
  background-color: $fourth-color;
  border-radius: 50%;
  top: 140px;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0px);
  padding: 7px 7px;
  border: 7px solid #fbfaf8;
  img {
    height: 17px;
    width: 22px;
  }
}
.act_icon {
  position: absolute;
  left: 0;
  background-color: $fourth-color;
  border-radius: 50%;
  top: 140px;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0px);
  padding: 7px 7px;
  border: 7px solid #fbfaf8;
  img {
    height: 17px;
    width: 22px;
  }
}
.flight_icon_flight {
  position: absolute;
  left: 0;
  background-color: $fourth-color;
  border-radius: 50%;
  top: 50%;
  z-index: 2;
  transform: translate3d(-50%, -50%, 0px);
  padding: 6px 7px;
  border: 7px solid #fbfaf8;
  img {
    height: 17px;
    width: 22px;
  }
}
.vert_line_div::after {
  content: '';
  height: calc(100% - 100px);
  width: 2px;
  position: absolute;
  border: 1px solid $primary-color;
  border-style: dashed;
  left: 0;
  z-index: 1;
  opacity: 1;
  top: 45px;
}
.img_pad {
  padding: 0 1rem 0 1.5rem;
}
.text_pad {
  padding: 0;
}
.preview_top {
  background-color: $primary-color;
  padding: 1.5% 6%;
}
.big_ht {
  height: 270px;
  padding: 5px 10px 5px 0;
  img {
    border-radius: 15px;
  }
}
.small_ht {
  height: 135px;
  padding: 5px;
  img {
    border-radius: 15px;
  }
}
.travel_dates {
  color: $primary-color;
  margin-right: 15px;
  font-weight: 600;
  font-size: 17px;
}
.fnt_sml {
  font-size: 14px;
  margin-left: 15px;
}
.trip_name {
  font-size: 20px;
  display: inline-block;
  margin-left: 12px;
  color: white;
}
.star {
  color: #ffd83e;
}
.act_pref {
  // background-color: #ffa85d;
  // padding: 5px;
  // border-radius: 8px;
  // display: inline-block;
  // margin: 3px 3px 3px 0;
  float: left;
  display: inline-block;
  height: 50px;
}
.price_for {
  font-size: 15px;
}
.price {
  font-size: 15px;
  color: #ffa85d;
}
.total::after {
  content: '';
  position: absolute;
  bottom: 30px;
  right: 0;
  background-color: white;
  height: 1px;
  width: 120%;
}
.view_booked {
  position: absolute;
  bottom: 0px;
  left: 15%;
}
.color_size {
  color: #ffa85d;
  font-size: 11px;
}
.full_line::after {
  content: '';
  position: absolute;
  bottom: 0px;
  left: 15%;
  background-color: white;
  height: 1px;
  width: calc(100% - 15%);
}
.customize {
  color: $third-colour;
  outline: none;
  border: none;
}
.customize:hover {
  text-decoration: underline;
  font-weight: 600;
}
.book_btn {
  background-color: #265359;
  color: white;
  display: inline-block;
  margin: 13px 0;
  border-radius: 13px;
  padding: 5px 20px;
}
.icon_size {
  width: 100px;
  height: 100px;
}
.included_img_div {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 15px 15px #00000029;
  padding: 25px;
  border-radius: 50%;
  img {
    height: 30px;
  }
}
.included {
  font-size: 22px;
  color: $third-colour;
  margin: 3% 0;
}
.included_text_header {
  color: $primary-color;
  font-weight: 600;
  font-size: 18px;
}

// .flight_icon {
//   height: 30px;
//   width: 65px;
// }
.image_adjust {
  object-fit: cover;
}
// .............flight start....................
.flt_card {
  box-shadow: 0px 3px 6px #00000012;
  border: 0.5px solid #676767b8;
  border-radius: 15px;
  max-width: 640px;
}

.lg_dsplay {
  display: block;
}
.sm_dsplay {
  display: none;
}
.customize {
  color: $primary-color;
  outline: none;
  border: none;
}
.mb_sm {
  margin-bottom: 0;
}
.time {
  color: $primary-color;
  font-size: 14px;
  // font-weight: 600;
}
.short_layover_div {
  z-index: 0;
}
.p_book {
  padding: 25px 85px 15px 0px;
}
.short_layover_div::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background-color: $primary-color;
  top: calc(50% + 5px);
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.short_layover_text {
  background-color: $secondary-color;
  padding: 1% 7%;
  border-radius: 15px;
  display: inline-block;
  margin: 10px 0 0 0;
}
.rt_lne::after {
  content: '';
  position: absolute;
  width: 95%;
  border: 1px solid black;
  border-style: dashed;
  opacity: 0.5;
  right: 0px;
  top: 44%;
  z-index: -1;
  transform: translateX(-2%);
}
.z_2 {
  z-index: 2;
}
.z_0 {
  z-index: 0;
}
.sm_time {
  font-size: 15px;
  color: $primary-color;
  font-weight: 600;
}
// .............flight end....................
//@at-root
.main_chiv_symbol {
  font-size: 25px;
  color: #b7b7b7;
  transition: 0.5s;
}
.collapsed .main_chiv_symbol {
  transform: rotate(180deg);
}
.button_set_drop {
  margin-top: 3px;
  margin-right: 95px;
}
.price_text {
  margin-left: 50px;
}
.priceset_drop {
  margin-right: 30px;
}
.price_for_tax {
  font-size: 12px;
  color: #ffa85d;
}
.price_tax {
  font-size: 12px;
  color: #ffa85d;
}
hr.line_price {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border: 0;
  border-top: 1px solid #fafafa;
  margin-right: -96px;
}
a:not([href]):not([class]) {
  color: inherit;
  font-size: smaller;
  color: rgba(92, 92, 224, 0.911);
}
.card {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}
.center_image {
  position: fixed;
  top: 50%;
  left: 50%;
  border-radius: 20px;
  /* bring your own prefixes */
  z-index: 3;
  transform: translate(-50%, -50%);
}
.fail_payment_color {
  color: $primary-color;
  .failpayment_link {
    height: 40px;
    width: 40px;
  }
  .fail_payment_head {
    text-align: center;
    .fail_payment_font1 {
      font-weight: 800;
    }
  }

  .fail_button {
    background-color: #efe3e3;
    border: none;
    color: #265359;
    padding: 6px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 11px;
  }
}

.fail_trip_color {
  color: $primary-color;
  .failtrip_link {
    height: 40px;
    width: 40px;
  }
  .fail_trip_head {
    text-align: center;
    .fail_trip_font1 {
      font-weight: 1000;
    }
  }
}

.trip_button {
  background-color: #efe3e3;
  border: none;
  color: #265359;
  padding: 6px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 11px;
}
.trip_center_button {
  background-color: #efe3e3;
  border: none;
  color: #265359;
  padding: 6px 7px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 150px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 11px;
}
.trip_navigate {
  color: #265359;
  text-align: center;
}
.trip_navigate_total {
  font-weight: 1000;
  color: #265359;
  text-align: center;
}

.loading-bg {
  background-color: #fbfaf8;
}
.flight_details_ticket {
  margin-left: 16px;
  font-weight: 400;
  cursor: pointer;
  font-size: 16px;
  color: #265359;
}

@media (min-width: 1600px) {
  .small_ht {
    height: 145px;
  }
  .big_ht {
    height: 290px;
  }
}
@media (min-width: 1800px) {
  .small_ht {
    height: 200px;
  }
  .big_ht {
    height: 400px;
  }
}
@media (min-width: 768px) and (max-width: 990px) {
  .small_ht {
    height: 95px;
  }
  .big_ht {
    height: 190px;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  .small_ht {
    height: 160px;
  }
  .big_ht {
    height: 220px;
  }
}
@media (max-width: 767px) {
  .sm_dsplay {
    display: block;
  }
  .lg_dsplay {
    display: none;
  }
}

@media (max-width: 576px) {
  .p_book {
    padding: 25px 30px 15px 0px;
  }
  .pl_5 {
    padding-left: 3rem;
  }
  .full_line::after {
    display: none;
  }
  .small_ht {
    height: 125px;
  }
  .big_ht {
    height: 170px;
  }
  .flight_details {
    color: $primary-color;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    color: #265359;
    position: absolute;
    right: 85px;
    top: 40px;
  }
  .flight_price {
    font-size: 16px;
    font-weight: 600;
    color: #265359;
    position: absolute;
    top: 40px;
  }
}
@media (min-width: 320px) {
  .city_card_line::before {
    content: '';
    position: relative;
    height: 0px;
    width: 23%;
    position: absolute;
    border: 1px solid #265359;
    border-style: dashed;
    left: -57px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 1;
  }
}

@media (min-width: 375px) {
  .city_card_line::before {
    content: '';
    position: relative;
    height: 0px;
    width: 19%;
    position: absolute;
    border: 1px solid #265359;
    border-style: dashed;
    left: -64px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 1;
  }
}
@media (min-width: 425px) {
  .city_card_line::before {
    content: '';
    height: 0px;
    width: 20%;
    position: absolute;
    border: 1px solid #265359;
    border-style: dashed;
    left: -66px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 1;
  }
}

@media (min-width: 1440px) {
  .city_card_line::before {
    content: '';
    height: 0px;
    width: 10%;
    position: absolute;
    border: 1px solid #265359;
    border-style: dashed;
    left: -66px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 1;
  }
}
@media (min-width: 2560px) {
  .city_card_line::before {
    content: '';
    height: 0px;
    width: 7%;
    position: absolute;
    border: 1px solid #265359;
    border-style: dashed;
    left: -71px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 0;
    opacity: 1;
  }
}
@media (max-width: 576px) {
  .price_height {
    margin-top: 0px;
    margin-left: 10px;
  }
  .table_active {
    border-spacing: 0px;
    table-layout: fixed;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
  }
  .hide_details {
    display: none;
  }
}

// footer code starts
.poweredby {
  color: #ffffff;
  font-family: 'AzoSans-Light';

  p {
    color: #ffffff;
    font-family: 'AzoSans-Light';
  }
  .company:hover {
    cursor: pointer;
    color: #eba740;
    transition: 0.3s;
  }

  .company {
    color: #ffffff !important;
    font-size: 14px;
    transition: 0.3s;
    white-space: nowrap;
    a {
      color: #ffffff !important;
      font-family: 'AzoSans-Regular';
      text-decoration: underline;
      padding-bottom: 2px;
    }
  }
}

.footer-text-styles {
  color: #ffffff !important;
  font-family: 'AzoSans-Light';
  font-size: 14px;
}
.footer-icon-styles {
  font-size: 24px;
  color: #ffffff;
}

.twitter-icon:hover {
  color: #00acee;
}
.facebook-icon:hover {
  color: #3b5998;
}
.linkedin-icon:hover {
  color: #0e76a8;
}
.instagram-icon:hover {
  color: #3f729b;
}

.hr-styles {
  margin-top: 1rem;
  margin-bottom: 0rem;
  border: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}

.footer-background-color {
  background-color: #000000 !important;
}

@media (min-width: 0px) and (max-width: 768px) {
  .dispaly-mobile {
    display: none;
  }
  .ion-no-border {
    height: 60px !important;
  }
}

.pack-heading {
  font-weight: bold;
  font-size: 21px;
}
.text-theming-color {
  color: #265359;
}

// footer code ends

.text_styles_45824 {
  color: #265359;
  font-size: 16px;
  cursor: pointer;
}
.text_styles_45824:hover {
  text-decoration: underline;
  font-weight: 600;
}
