
.navbar {
  position: sticky;
  background-color: #ffffff;
  z-index: 2;
  padding: 0;
  top: 0;
}


.ac_apply {
  border-radius: 20px;
  background-color: #265359;
  font-size: 13px;
  color: white;
}

.ac_apply2 {
  border-radius: 20px;
  background-color: #b7b7b7;
  font-size: 13px;
  color: white;
}


.icon_styles4546 {
  font-size: 24px;
  color: #265359;
}



.leftcol-background {
  // cards and images
  .card_size {
    margin-top: 15px;
    cursor: pointer;
    .p23 {
      position: relative;
      background-color: #ffffff;
      .select_bar {
        display: none;
        width: 24px;
        height: 24px;
        position: absolute;
        top: 5%;
        left: 5%;
      }
      .selectbar_display {
        display: block !important;
      }

      .cardbutton {
        position: absolute;
        padding: 8px 16px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0%;
        background-color: #b7b7b7;
        border-radius: 20px 20px 0px 0px;
        color: #ffffff;
      }
      .cardbutton_hover {
        background-color: #265359;
        outline: none;
      }

      .card_img {
        width: 95%;
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        max-height: fit-content;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08);
      }

      .card_img_hover {
        -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
        filter: grayscale(0%);
        width: 95%;
        max-height: fit-content;
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.08), 0 4px 4px rgba(0, 0, 0, 0.08);
      }
    }
  }

  .arrow_styles234 .arrow_styles234 {
    zoom: 2;
    position: absolute;
    left: 6px;
    bottom: 4px;
    z-index: 2;
    cursor: pointer;
    color: #265359 !important;
    font-size: 30px !important;
  }
  .cursor_pointer {
    cursor: pointer;
  }

  .navbarBrand {
    cursor: pointer;
    position: relative;
    color: black;
    top: 10px;
    padding: 0px;
  }

  .text-sytles {
    cursor: pointer;
    color: black;
    padding: 0px;
    font-size: 0.94rem;
    padding: 19px 0px 10px 0px;
  }

  .nav-bar-styles{
    position: relative;
    border-bottom: 0.16em solid #e5e5e5;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.94rem;
    padding: 19px 0px 10px 0px;
  }
}

.flt_back_btn {
  display: none;
  position: fixed;
  z-index: 12;
  background-color: white;
  font-size: 30px;
  top: 11px;
  left: 8px;
}
@media (min-width: 321px) and (max-width: 575px) {
  .p23 {
    width: 300px !important;
    margin: auto;
  }
}
@media (max-width: 991px) {
  .flt_back_btn {
    display: inline-block;
  }
  .card_size {
    align-items: center;
  }
}
@media (max-width: 768) {
  .card_size {
    align-items: center;
  }
}



