<!-- <h4 class="card-header">Enter OTP to activate</h4>
<div class="card-body">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="code">Verification code</label>
      <input
        type="text"
        formControlName="code"
        class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.code.errors }"
        placeholder="Verification code"
      />
      <div *ngIf="submitted && f.code.errors" class="invalid-feedback">
        <div *ngIf="f.code.errors.required">Code is required</div>
      </div>
    </div>
    <div class="form-group">
      <button
        type="submit"
        [disabled]="loading"
        class="btn btn-primary"
        (click)="activated()"
      >
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Activate
      </button>

      <button
        type="button"
        (click)="resend()"
        [disabled]="resending"
        class="btn btn-primary ml-1"
      >
        <span
          *ngIf="resending"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Resend OTP
      </button>
      <a routerLink="/account/login" class="btn btn-link">Cancel</a>
    </div>
  </form>
</div> -->
<div class="text-center otp_absolute">
  <div *ngIf="!userVerify">
    <ion-icon name="phone-portrait-outline" class="phone_symbol"></ion-icon>
    <h3 class="otp_color font-weight-bold">Verify Mobile Number</h3>
    <p class="otp_color">
      Please enter the 6 digits OTP <br />sent to your registered mobile number.
    </p>
  </div>
  <div *ngIf="userVerify">
    <ion-icon name="mail-outline" class="mail_symbol"></ion-icon>
    <h3 class="otp_color font-weight-bold">Verify E-Mail</h3>
    <p class="otp_color">
      Please enter the 6 digits OTP <br />sent to your registered mail.
    </p>
  </div>
  <form autocomplete="off" (ngSubmit)="onSubmit1()" [formGroup]="form" class="container-fluid">
    <div class="row">
      <div class="d-inline mx-auto p-0">
        <div *ngFor="let input of formInput; index as i" class="d-inline">
          <input #formRow type="type" id="UserName" formControlName="{{ input }}" class="ml-2 Otp_box" maxlength="1"
            onkeypress="return event.charCode >= 48 && event.charCode <= 57" (keyup)="keyUpEvent($event, i)" />
        </div>
      </div>
    </div>
    <ion-text class="Otp_drop d-inline-block mb-3 mt-3">Have not received the otp?<ion-text (click)="resend()"
        class="pl-1 inactiveLink">Resend</ion-text>
    </ion-text><br />
    <!-- worngPassword -->
    <ion-text *ngIf="worngPassword" class="error_otp">Entered a worng OTP</ion-text><br />
    <button type="submit" data-amplify-analytics-on='click'
    data-amplify-analytics-name='SignUpOTPSubmit' data-amplify-analytics-attrs='SignupOTP' [ngClass]="checkOTP ? 'otp_submit' : 'otp_submit1'">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>Submit
    </button>
    <button type="button" class="otp_submit ml-2" data-amplify-analytics-on='click'
    data-amplify-analytics-name='SignupOTPCancel' data-amplify-analytics-attrs='SignupOTP' (click)="CloseOtpModal()">Cancel</button>
    <!-- <button type="Resubmit" class="otp_button1">Re send code</button> -->
  </form>
</div>
<!-- [disabled]="!checkOTP" -->
