$primary-color: #265359;
$background-color: #fbfaf8;
$details_colour: #707070;
.fa-times-circle {
  color: $primary-color;
}
.closeBtn1 {
  // position: absolute;
  // top: 0px;
  // right: 7px;
  // z-index: 99999;
  position: relative;
  bottom: 23px;
}
.card_pad {
  padding: 30px 25px 0px 25px;
  border-radius: 20px;
  // width: 349px;
}
.save-button-styles {
  background-color: #265953;
    font-size: 15px;
    outline: unset;
    padding: 5px;
    width: 100px;
    display: inline-block;
    border-radius: 5px;
}
.form_title1 {
  color: $primary-color;
  font-size: 15px;
  font-weight: 600;
 // top: -84px;
  //width: 141px;
}
.invalidEmail {
  color: red;
}
.modal-shadow.sc-ion-modal-ios {
  position: absolute;
  background: transparent;
}

.country-code {
  padding-right: 3px;
}
