$primary-color: #265359;
$background-color: #fbfaf8;
$details_colour: #707070;
.card_pad {
  padding: 30px 25px 0px 25px;
}
.save-button-styles {
  background-color: $primary-color;
  font-size: 15px;
  outline: unset;
  padding: 5px;
  width: 145px;
  display: inline-block;
  border-radius: 5px;
}
.inactiveLink {
  color: #265359;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
}
.inactiveLink:hover {
  color: #265359;
  // font-size: 16px;
  text-decoration: underline;
  text-decoration-color: #265359;
}
.inactiveLink:active {
   color: whitesmoke;
}
.inactiveLink[tabindex]:focus {
   color: whitesmoke;
   outline: none;
}
.cancel-btn {
  width: 100px !important;
}
.form_title1 {
  color: $primary-color;
  font-size: 15px;
  font-weight: 600;
}
.invalidPassword {
  color: red;
}
.closeBtn {
  position: absolute;
  top: 0px;
  right: 7px;
  z-index: 99999;
}
.passwordIcon {
  float: right;
  margin-top: -25px;
  // margin-left: -20px;
  // position: relative;
  // z-index: 2;
  // left: -8px;
}
// .form_title1[_ngcontent-serverApp-c183] {
//   color: #265359;
//   font-size: 15px;
//   font-weight: 600;
//   margin-top: -180px;
// }

