<div class="card_pad">
  <div class="closeBtn">
    <ion-buttons>
      <ion-button color="black" (click)="closeModal()">
        <i class="fal fa-times-circle fa-lg"></i>
      </ion-button>
    </ion-buttons>
  </div>
  <div *ngIf="successMessage" class="alert alert-success" role="alert">
    Password Changed Successfully
  </div>
  <ion-text class="form_title1 mb-1"> Reset Password</ion-text>
  <form (ngSubmit)="onSubmitConfirmPassword()" [formGroup]="form">
    <label for="password" class="pStyle m-0 mt-3">New Password</label>
    <input type="password" [type]="passwordType" formControlName="password" class="form-control borderlinePassword"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password" maxlength="10"/>
    <ion-icon [name]="passwordIcon" class="passwordIcon" (click)='hideShowNewPassword()'></ion-icon>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.pattern">Password must be strong(use caps,special char or numbers)</div>
      <div *ngIf="f.password.errors.minlength">Password must be at least 10 characters</div>
    </div>
    <label for="confirmPassword" class="pStyle m-0 mt-3">Confirm Password</label>
    <input type="password" [type]="confirmPasswordType" formControlName="confirmPassword"
      class="form-control borderlinePassword" maxlength="10" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }"
      placeholder="Confirm Password" />
    <ion-icon [name]="confirmPasswordIcon" class="passwordIcon" (click)='hideShowConfirmPassword()'></ion-icon>
    <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
      <div *ngIf="f.confirmPassword.errors.required">
        Confirm password is required
      </div>
      <div *ngIf="f.confirmPassword.errors.pattern">Password must be strong(use caps,special char or numbers)</div>
      <div *ngIf="f.confirmPassword.errors.minlength">Password must be at least 10 characters</div>
    </div>
    <h5 class="invalidPassword" *ngIf="checkPassword">Password Not Matching</h5>
    <div>
      <ion-text class="d-inline-block mb-3 mt-3">Have not received The Code?<ion-text (click)="resendOtp()"
          class="inactiveLink pl-1">Resend</ion-text>
      </ion-text>
      <input type="text" formControlName="confirmOtp" (keypress)="keyPress($event)" class="form-control borderlinePassword"
        [ngClass]="{ 'is-invalid': submitted && f.confirmOtp.errors }" placeholder="OTP" maxlength="6">
        <div *ngIf="submitted && f.confirmOtp.errors" class="invalid-feedback">
          <div *ngIf="f.confirmOtp.errors.required">
            OTP is required
          </div>
      <div *ngIf="f.confirmOtp.errors.pattern">OTP must be number</div>
        </div>
    </div>
    <h5 class="invalidPassword" *ngIf="otpInvalid"> * {{wrongOtpMessage}}</h5>
    <div class="mt-3 text-right">
      <button data-amplify-analytics-on='click'
      data-amplify-analytics-name='ChangePasswordSubmit' data-amplify-analytics-attrs='ChangePassword' [disabled]="loading" class="text-white save-button-styles">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        Change Password
      </button>
      <button data-amplify-analytics-on='click'
      data-amplify-analytics-name='ChangePasswordCancel' data-amplify-analytics-attrs='ChangePassword' type="button" class="text-white save-button-styles cancel-btn ml-2"
        (click)="CloseOtpModal()">Cancel</button>
    </div>
  </form>
</div>
