<div class="payment-form-container">
<form class="payment-form" [formGroup]="options" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>Order Id</mat-label>
    <input matInput type="number" placeholder="Order Id:" [formControl]="orderId" min="1">
    <mat-error *ngIf="orderId.invalid">Min value: 1</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Amount</mat-label>
    <input matInput type="number" placeholder="Amount:" [formControl]="amount" min="1">
    <mat-error *ngIf="amount.invalid">Min Amount: 1</mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
  <mat-label>Currency</mat-label>
    <select matNativeControl [formControl]="currency">
      <option value="INR">INR</option>
      <option value="USD">USD</option>
    </select>
  </mat-form-field>
  <button data-amplify-analytics-on='click'
  data-amplify-analytics-name='PayNowSubmit' data-amplify-analytics-attrs='Payment' mat-button color="primary">Pay Now</button>
</form>
</div>
