<!-- <ion-text class="text-dark flt_back_btn" >
  ></ion-text> -->
<div class="add-destination-container">
  <div class="navbar">
    <ion-icon style="height: 30px; width: 30px" name="arrow-back-outline" (click)="act_back()"></ion-icon>
    <ion-text class="navbar-brand navbar-brand-styles">Add Destinations</ion-text>
    <form class="form-inline">
      <!-- <button class="btn text-white my-2 my-sm-0 mr-4 save-button-styles" [disabled]="checkRegion"
        (click)="saveDestinations()">
        Save
      </button> -->
      <button class="btn text-white my-2 my-sm-0 mr-4 save-button-styles" (click)="saveDestinations()">
        Save
      </button>
    </form>
  </div>
  <hr class="line-styles" />

  <ion-row class="w-100 pt-4 position-relative left_scroll">
    <ion-col class="col-1 col-lg-1 position-relative p-0">
      <p class="circle position-absolute z-index-2">
        <img class="location" src="../../../assets/images/loc_in_circle.svg" />
      </p>
    </ion-col>
    <ion-col class="col-11 col-lg-11 p-0 text-dark vert_line_div">
      <ion-row class="pl-15 origin_line">
        <!-- <ion-col class="text-dark p-0 pt-10 col-1"> Origin </ion-col> -->
        <ion-col class="pl-5 pr-0 position-relative">
          <ion-text class="org_txt">Origin</ion-text>
          <ion-input class="inputsearch" placeholder="{{ originCity.cityName }}, {{
              originCity.countryName
            }} " readonly></ion-input>
        </ion-col>
      </ion-row>

      <div cdkDropList class="example-list mt-3" (cdkDropListDropped)="drop($event)">
        <div cdkDrag class="col-12 p-0 mb-3" *ngFor="let destinationCity of destinationCities; let p = index"
          [cdkDragStartDelay]="400" cdkDragLockAxis="y">
          <div class="col-12 hrz_line_div pl-5 example-box" [ngClass]="dragflag ? 'cursor_move' : 'cursor_pointer'"
            (mousedown)="active()" (mouseup)="mseup()">
            <ion-card class="cardstyle z-index-2 bg-white container-fluid position-relative"
              (click)="selectedDestination()">
              <ion-icon *ngIf="p != 0" (click)="deletedestination(p)" name="close-outline" class="closeicon"></ion-icon>
              <div class="row">
                <div class="col-3 col-sm-2 locationIcon text-center">
                  <!-- <span class="day">Day</span>
                <h3 class="dayNum">{{ p + 1 | number: "2." }}</h3> -->
                  <img class="day" src="../../../assets/images/Artwork 1.svg" />
                </div>
                <div class="col-9 col-sm-10 pr-0 pl-2 position-relative">
                  <ion-text class="card-text d-block">{{ destinationCity?.cityName }},
                    {{ destinationCity?.countryName }}
                  </ion-text>
                </div>
              </div>
            </ion-card>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col class="col-1 p-0"> </ion-col>
    <ion-col class="col-11 p-0">
      <ion-row class="ml-5 pl-3">
        <ion-col size="12">
          <ion-text class="text-dark cursor-pointer" (click)="toggleDisplayDiv()">
            <ion-icon class="add-text cursor-pointer" style="margin-bottom: -0.5rem" name="add-circle-outline">
            </ion-icon>
            Click Here to Add a destination
          </ion-text>
        </ion-col>
        <ion-col [hidden]="isShowDiv" class="pl-4 mr-2 position-relative">
          <ion-item class="rounded bg-white m-0" lines="none">
            <ion-input ngDefaultControl [formControl]="citysearchTerm" placeholder="search.." class="text-dark">
            </ion-input>
            <ion-icon name="search-outline" slot="end" class="text-dark"></ion-icon>
          </ion-item>

          <ion-card *ngIf="showcitydata" class="search_card p-0">
            <ul *ngFor="let p of filteritems" class="mb-0">
              <li *ngIf="p && p?.cityName" (click)="onsavelocattion(p)" class="litag text-dark">
                {{ p.cityName }}, {{ p.countryName }} 
              </li>
            </ul>
          </ion-card>
          <ion-card *ngIf="showcitydata && filteritems.length == 0" class="search_card p-0">
            <ul class="mb-0">
              <li class="litag text-dark">
                <ion-text>No Country with given Name</ion-text>
              </li>
            </ul>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-col>
  </ion-row>
</div>