$primary-color: #265359;
$background-color: #fbfaf8;
$details_colour: #707070;
@font-face {
  font-family: 'AzoSans-Bold';
  src: url('../../../assets/font/AzoSans-Bold.ttf');
}
@font-face {
  font-family: 'AzoSans-Light';
  src: url('../../../assets/font/AzoSans-Light.ttf');
}

@font-face {
  font-family: 'AzoSans-Thin';
  src: url('../../../assets/font/AzoSans-Thin.ttf');
}
@font-face {
  font-family: 'AzoSans-Medium';
  src: url('../../../assets/font/AzoSans-Medium.ttf');
}

@font-face {
  font-family: 'AzoSans-Regular';
  src: url('../../../assets/font/AzoSans-Regular.ttf');
}
.clr-prime {
  color: $primary-color;
}
.clr-dtls {
  color: $details_colour;
}
h1 {
  font-size: 35px;
  font-family: 'AzoSans-Bold';
  line-height: 1.5;
}
h3,
p {
  margin: 0px !important;
}
//mat style---------------
::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
  // border-radius: 4px 4px 0 0 !important;
  padding: 0 0 0 10px !important;
  background-color: white !important;
  border: 1px solid #ced4da !important;
  border-radius: 5px !important;
  font-family: 'AzoSans-Regular';
  font-size: 14px;
  &.is-invalid{
    border: 1px solid#dc3545 !important;
  }
}
.is-invalid {
  ::ng-deep .mat-form-field-appearance-fill .mat-form-field-flex {
    // border-radius: 4px 4px 0 0 !important;
    padding: 0 0 0 10px !important;
    background-color: white !important;
    border: 1px solid#dc3545 !important;
    border-radius: 5px !important;
    font-family: 'AzoSans-Regular';
    font-size: 14px;
  }
}

::ng-deep .mat-form-field-underline {
  display: none !important;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
}

.nmbr[_ngcontent-serverApp-c328] {
  text-align: center;
  font-weight: 500;
  padding: 3px 5px;
}
.dropdown-menu{
  width: 10px;
}

.desabled_display {
  opacity: 0.3;
  cursor: default !important;
}
.nmbr {
  // width: 10px;
  text-align: center;
  font-weight: 500;
  padding: 0px 5px;
}
.home_form {
  overflow: inherit !important;
  padding: 1px 0 20px 0;
  background-color: $background-color;
  .dropdown-toggle::after {
    display: none !important;
  }
  .people_drp_icn {
    position: absolute;
    color: $details_colour;
    right: 5%;
  }
}
.fnt-14 {
  font-size: 14px;
}
.fnt-xs {
  font-size: 10px;
  position: absolute;
  top: 18px;
  width: 84px;
}
.drp_btn {
  border: 1px solid #ced4da !important;
  font-size: 15px;
  color: $primary-color;
}
.drp_btn:focus {
  border: 1px solid #ced4da !important;
  box-shadow: none !important;
}
.lst_btn {
  border-radius: 50%;
  padding: 0px 8px;
  background-color: white;
  border: 1px solid $primary-color;
  :focus {
    box-shadow: none !important;
  }
}
.textstyle012 {
  margin-top: -3rem;
  // background-color: #ffffff;
  //color: #ffffff;
  letter-spacing: 0px;
  opacity: 1;
  color: #265359;
  // .textstyle123 {
  //   font-family: 'AzoSans-Bold';
  //   font-size: 40px;
  //   line-height: 1.1;
  // }
  // .textstyle234 {
  //   font-family: 'AzoSans-Light';
  //   font-size: 40px;
  //   line-height: 35px;
  //   margin-top: -8px;
  // }
  // .textstyle345 {
  //   //font-family: 'AzoSans-Light';
  //   //font-size: 0.8rem;
  //   //line-height: 22px;
  //   text-transform: uppercase;
  //   color: $primary-color;
  // }
  // .imagestyle001 {
  //   text-align: center;
  //   margin: 1em 0;
  // }
}

//  float card end

// middlecard
// .middlecard0234 {
//   background-color: $primary-color;
//   color: #ffffff;
//   .columnstyle23823 {
//     margin-top: 2rem;
//     padding: 1rem;
//     .ptextstyle1023 {
//       font-family: 'AzoSans-Light';
//       letter-spacing: 0px;
//       padding: 1rem;
//     }
//   }
// }
// middlecard end
.size-of-icons {
  font-size: 30px;
}
.textstyles897335 {
  color: #202020;
  .font-size-why {
    font-size: 30px;
  }
}

.Center_content {
  text-align: center;
  .detail_center {
    color: $details_colour;
    font-size: 35px;
    word-spacing: 2px;
    padding: 60px 0px 30px 0px;
  }
  .detail_img {
    //  margin-left:720px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .detail_head {
    color: $details_colour;
    padding: 20px;
    font-size: 200%;
    font-weight: bold;
    line-height: 35px;
  }
  .detail_content {
    color: $details_colour;
    font-size: 15px;
    text-align: center;
  }
  .detail_name {
    color: $details_colour;
    padding: 20px 0px 0px 0px;
    font-size: 200%;
    font-weight: bold;
  }
  .rating-list {
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #ddd;
    color: #ffd700;
  }
}
// --------------praneeth start----------------
.bg_clr {
  background-color: #fbfaf8;
}
.pt-30 {
  padding-top: 30rem;
}
.news_img {
  text-align: right;
}
.star {
  color: #ffd83e;
}
.footer-bg-dark {
  background-color: #000000;
}
.ios .footer-bg-dark {
  padding-bottom: env(safe-area-inset-bottom, 20px);
}
.baner {
  background-image: url('../../../assets/images/2966.png'); /* The image used */
  // background-color: #cccccc; /* Used if the image is unavailable */
  min-height: 360px; /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  .left_div {
    display: block;
    .text_style {
      bottom: 96px;
      font-size: 22px;
      font-family: 'AzoSans-Bold';
      font-weight: 600;
      letter-spacing: 0px;
      color: #265359;
      left: 50%;
      transform: translateX(-50%);
    }
    .Text_home_screen {
      font-family: 'AzoSans-Bold';
      font-size: 25px;
      margin-left: 35px;
      line-height: 1.2;
      white-space: nowrap;
    }
  }

  .Text_home_screen {
    font-family: 'AzoSans-Bold';
    font-size: 25px;
    line-height: 1.2;
    // vertical-align: middle;
    margin-top: 175px;
  }
  .right_div {
    min-height: 640px;

    .form_title {
      color: #707070;
    }
    .formicon {
      position: absolute;
      width: 1.3rem;
      height: 1.3rem;
      top: 8.5px;
      left: 0.3rem;
    }
    .formicon12 {
      position: absolute;
      top: 8px;
      right: -36px;
      color: #265359;
      background-color: transparent;
      padding-top: 0px;
      .plussize {
        font-size: 25px;
      }
      &:focus {
        outline: none;
      }
    }
    .formicon13 {
      position: absolute;
      width: 0.8rem;
      height: 0.8rem;
      top: 2.5rem;
      left: 9.6rem;
    }
    .w-98 {
      width: 98% !important;
    }
    .p-lr {
      padding: 0 60px 0 40px;

      .borderline {
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
      }
      .borderline.is-invalid{
        border-color: #dc3545;
      }
      .paddinginput {
        padding: 10px 0px 10px 8px;
      }
    }
    .ActivePre {
      font-size: 0.92rem;

      color: #265359;
      text-transform: capitalize;
      opacity: 1;
    }
    // .Forward {
    //   bottom: -6px;
    //   right: 1.8rem;
    //   width: 3rem;
    //   height: 3rem;
    //   opacity: 1;
    //   border-radius: 50%;
    //   background-color: #265359;
    //   &:focus {
    //     outline: none !important;
    //   }
    //   .arrowsize {
    //     height: 1.4rem;
    //     color: white;
    //   }
    // }
    .dottedimg {
      position: absolute;
      top: 0px;
      margin-right: 60px;
      // right: 112px;
      width: 600px;
      /* height: 452px; */
      opacity: 1;
    }
  }
}


.services {
  background-color: #fbfaf8;
  color: #707070 !important;
  .services_img {
    text-align: right;
  }
  .h-200 {
    min-height: 200px;
  }
  .img_size {
    height: 150px;
    width: 150px;
  }
  .text_col {
    margin-top: 10px;
    .title {
      font-size: 22px;
      margin-bottom: 10px;
    }
  }
  p {
    padding-left: 2px;
  }
}
.abv_footer {
  min-height: 500px;
  .cardrep {
    box-shadow: 0px 3px 6px #00000029;
    background-color: white;
    position: absolute;
    z-index: 11;
    transform: translateY(35%);
    .middle_div {
      display: block;
    }
  }
  .img_size {
    height: 161px;
    width: 161px;
  }
  .img_size_sm {
    height: 93px;
    width: 93px;
  }

  .title {
    font-size: 20px;
    color: #707070;
  }
  // .col_ht{
  //   min-height: 100px;
  // }
}
.footer_logo {
  height: 100px;
  width: 100px;
}
.footer_circular {
  height: 55px;
  width: 65px;
  padding-left: 20px;
  margin-top: 20px;
}

.ion-card-pre-footer {
  background-color: #fbfaf8;
  overflow: auto;
  .pre_card_middle {
    margin-top: 100px;
    .detail_name_pre_foot {
      color: $details_colour;
      padding: 0px 0px 0px 0px;
      font-size: 200%;
      margin-top: 32px;
      font-weight: bold;
    }
  }
  .vl {
    border-left: 2px solid rgb(230, 231, 230);
    height: 177px;
    margin-top: 50px;
  }
}
.seeall {
  color: #707070;
}
.curser12 {
  cursor: pointer;
  color: #707070 !important;
}

.textsize {
  color: #707070;
  opacity: 1;
  margin-left: -1.4rem;
}

.ion-card-color1 {
  background: $primary-color;

  .ioncardcontent {
    top: -20px;
    border-radius: 0 !important;
    .font {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
    }
    .belowfont {
      margin-top: 40px;
      opacity: 0.5;
    }
    .image {
      margin-top: 30px;
      margin-right: 60px;
      width: 700%;
    }
  }
}
ion-card {
  background-color: #ffffff;
 // box-shadow: none !important;
}
.card-box-shadow-none{
  box-shadow: none !important;
}
.ion-card-color2 {
  background: #440099;
  .ioncardcontent {
    color: #ffffff;

    .image-position {
      margin-top: 50px;
      .image-text {
        text-align: center;
        margin-right: 130px;
        margin-top: 40px;
      }
    }
  }
}
.footer1 {
  margin-top: 1.5rem;
  padding: 0;
  margin-left: 0;
}
.size-image {
  width: 100px !important;
}
.card:hover {
  cursor: pointer;
}
.ion-card-footer {
  border-radius: 0px;
  z-index: -1;
  //max-height: 500px;
  background: #000000;
  .footer_card {
    color: #ffffff;
    white-space: nowrap;
    // padding: 5px 0px;
  }
  .footer_card:hover {
    cursor: pointer;
  }
  .ioncardcontent {
    color: #ffffff;
    .font {
      font-size: 40px;
    }
    .belowfont {
      margin-top: 40px;
      opacity: 0.5;
    }
    .image {
      margin-top: 30px;
      margin-right: 60px;
      width: 100%;
    }
  }

  .image-position {
    margin-top: 50px;
    .image-text {
      text-align: center;
      margin-right: 130px;
      margin-top: 40px;
    }
  }

  .size-image {
    width: 100px !important;
    height: 50px;
    padding-left: 11px;
  }
  .proper {
    width: 60px !important;
    height: 40px;
    margin: 10px 0px;
  }
  .middle_foot1 {
    padding-right: 15px;
  }
  .middle_foot {
    margin-top: 0px;
    padding: 0;
  }
}
.ion-card-color {
  z-index: -1;
  background: #440099;
  .ioncardcontent {
    color: #ffffff;
    .font {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 40px;
    }
    .belowfont {
      margin-top: 40px;
      opacity: 0.5;
    }
    .image {
      margin-top: 30px;
      margin-right: 60px;
      width: 700%;
    }
  }

  .image-position {
    margin-top: 50px;
    .image-text {
      text-align: center;
      margin-right: 130px;
      margin-top: 40px;
    }
  }
}
.secondCard2 {
  z-index: 1;
  margin-top: 4rem;
  margin-bottom: -16rem;
}

.gridcard {
  margin-top: -1.6rem;
}

.text-position {
  margin-top: 60px;
}
.text-position-left {
  margin-top: 40px;
}

.AvatarSize {
  width: 35% !important;
  height: 20% !important;
}
.AvatarSize2 {
  width: 20% !important;
  height: 20% !important;
}
.secondCard {
  // position: absolute;
  width: 1300px;
  // top: -20rem;
  // z-index: 10;
}

.LastColumn {
  position: absolute;
  right: 1px;
  bottom: 30px;
}
ion-item {
  color: black;
  --inner-border-width: 0px;
}

@media (max-width: 1200px) {
  .column {
    padding: 12px;
    width: 230px;
    height: 230px;
  }
  .middle_foot {
    padding-right: 10px;
  }
  .baner {
    .right_div {
      .dottedimg {
        top: -6px;
        right: 43px;
        width: 460px;
      }
    }
  }
  .detail_name_margin {
    margin-top: 37px;
    /* Clearfix (clear floats) */
  }
}

@media (min-width: 2400px) {
  .column {
    padding: 12px;
    width: 230px;
    height: 230px;
  }
  .baner {
    .right_div {
      .dottedimg {
        top: -6px;
        right: 200px;
        width: 820px;
      }
    }
  }
  .detail_name_margin {
    margin-top: 37px;
    /* Clearfix (clear floats) */
  }
  .services {
    p {
      font-size: 20px;
    }
  }
}

@media (min-width: 1400px) {
  .column {
    padding: 12px;
    width: 230px;
    height: 230px;
  }
  .baner {
    .right_div {
      .dottedimg {
        top: 0px;
        right: 43px;
        width: 620px;
      }
    }
  }
  .detail_name_margin {
    margin-top: 37px;
    /* Clearfix (clear floats) */
  }
}

@media (max-width: 1024px) {
  .column {
    padding: 12px;
    width: 230px;
    height: 230px;
  }
  .pt-30 {
    padding-top: 3rem;
  }
  .abv_footer {
    .cardrep {
      position: relative;
      z-index: 11;
      transform: translateY(0%);
    }
  }
  .detail_name_margin {
    margin-top: 37px;
    /* Clearfix (clear floats) */
  }
}

@media (max-width: 1200px) {
  .column {
    padding: 12px;
    width: 230px;
    height: 230px;
  }
  .vl {
    display: none;
  }
}
@media (max-width: 996px) {
  .column {
    padding: 12px;
    width: 200px;
    height: 200px;
  }
}
@media (max-width: 576px) {
  .column {
    padding: 12px;
    width: 200px;
    height: 200px;
  }
  .detail_name_pre_foot {
    text-align: center;
    margin-top: 50px;
  }
  .vl {
    display: none;
  }
  .pre_card_middle {
    margin-top: 30px;
  }
  .logo12css {
    margin-bottom: 30px;
  }
  .services {
    .services_img {
      text-align: center;
    }
  }
  .footer_circular {
    width: 40px;
    height: 67px;
    padding-left: 7px;
    padding-top: 0px;
  }
  .baner {
    .right_div {
      .dottedimg {
        right: 0px;
        top: -8px;
      }
    }
  }
  .abv_footer {
    .cardrep {
      .middle_div {
        display: none;
      }
    }
  }
  .textsize {
    color: #707070;
    opacity: 1;
    margin-left: 1rem;
  }
  .left_div {
    display: none !important;
  }

  .ion-card-color1 {
    background: $primary-color;
    min-width: 12rem !important;
    .ioncardcontent {
      min-width: 8rem !important;
      .image {
        justify-content: center;
        width: 5rem;
      }
    }
  }
  .detail_name_margin {
    margin-top: 15px;
    /* Clearfix (clear floats) */
  }
}
.hide_mobile {
  display: block;
}
.showdiv {
  display: none;
}
@media screen and (min-width: 0px) and (max-width: 768px) {
  .hide_mobile {
    display: none;
  }
  .showdiv {
    display: block;
  }
  .hide-mbile-view {
    display: none;
  }
}

.queriesCardBackground {
  background: #efe3e3;
  padding: 20px;
  color: var(--ion-color-tertiary);
}
.imglogo {
  top: 1rem;
  // width: 5.5rem;
  height: 40px;
  margin: 10px 0;
}
@media (max-width: 375px) {
  .column {
    padding: 12px;
    width: 200px;
    height: 200px;
  }
  .detail_name_pre_foot {
    text-align: center;
    margin-top: 50px;
  }
  .vl {
    display: none;
  }
  .logo12css {
    margin-bottom: 30px;
  }
  .footer_circular {
    width: 30px;
    height: 67px;
    padding-left: 7px;
    padding-top: 0px;
  }
}

.search_card {
  position: absolute;
  z-index: 3; /* put .gold-box above .green-box and .dashed-box */
  background-color: #ffffff;
  cursor: pointer;
  width: 100%;
  opacity: 1;
  top: 3em;
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      padding: 10px;
    }
  }
  .detail_name_margin {
    margin-top: 15px;
    /* Clearfix (clear floats) */
  }
}
.font-size-stacations {
  font-size: 30px;
  color: #202020;
}
.mob-onestopsol {
  font-size: 18px;
  font-family: 'AzoSans-Bold';
  padding-bottom: 10px;
}
.getaway-text {
  font-size: 16px;
  line-height: 2;
}
ion-slides {
  height: 100%;
}
ion-slide:hover,
ion-slide:hover {
  cursor: pointer !important;
}
ion-slides {
  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    display: inline-block;
    border-radius: 100%;
    background: #fff;
  }
}

.caption-name {
  color: #265359;
  position: absolute;
  left: 0;
  top: 30px;
  display: inline-block;
  background: #ffffff;
  padding: 10px 8px 8px 8px;
  font-family: 'AzoSans-Regular';
  font-size: 15px;
  border-radius: 0px 3px 3px 0px;
}

.package-name {
  display: block;
}
.frwdButton {
  font-size: 25px;
  z-index: 2;
  background: #fff;
  padding: 12px;
  margin-top: 100px;
  background: #fff;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0 !important;
  border-radius: 3px;
}
.frwdButtonHotel {
  font-size: 25px;
  z-index: 2;
  padding: 12px;
 // margin-top: 65px;
  background: #fff;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  right: 0 !important;
  border-radius: 3px;
  color: #265359;
}
@media (max-width: 1440px) {
  .frwdButton {
    margin-left: 84%;
  }
}

@media only screen and (max-width: 1024px) {
  .frwdButton {
    margin-left: 86%;
  }
}

.backButton {
  font-size: 25px;
  z-index: 2;
  margin-top: 100px;
  background: #fff;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  border-radius: 3px;
}
.backButtonHotel{
  font-size: 25px;
  z-index: 2;
//  margin-top: 65px;
  background: #fff;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  border-radius: 3px;
    color: #265359;


}
.backButtonHotel1{
  font-size: 25px;
  z-index: 2;
//  margin-top: 65px;
  background: #fff;
  padding: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  position: absolute;
  border-radius: 3px;
    color: #265359;


}

.image_size {
  width: 100% !important;
  height: 240px;
  position: relative;
  object-fit: cover;
  border-radius: 5px;
}
// Slider Style START
.explore-headings {
  font-size: 20px;
  font-family: 'AzoSans-Bold';
  padding: 40px 0px 20px 15px;
  color: $primary-color;
  line-height: 1.5;
}
.user-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.prev-icon-custom.disabled {
  opacity: 0.4;
  cursor: default;
}

.next-icon-custom.disabled {
  opacity: 0.4;
  cursor: default;
}
.arrow-color {
  color: #000000;
}
.reqColor {
  color: #db220c;
}
.getaway-heading {
  font-size: 20px;
  font-family: 'AzoSans-Bold';
  line-height: 1.5;
}
// Slider Style STOP

.Home_homeVideo__2hWnO {
  display: block;
  width: 100%;
  // height: 100%;
  border-radius: 1px;
  // box-shadow: 0 0 10px 5px #e7ecef;
}

// footer code starts
.poweredby {
  color: #ffffff;
  font-family: 'AzoSans-Light';

  p {
    color: #ffffff;
    font-family: 'AzoSans-Light';
  }
  .company:hover {
    cursor: pointer;
    color: #eba740;
    transition: 0.3s;
  }

  .company {
    color: #ffffff !important;
    font-size: 14px;
    transition: 0.3s;
    white-space: nowrap;
    a {
      color: #ffffff !important;
      font-family: 'AzoSans-Regular';
      text-decoration: underline;
      padding-bottom: 2px;
    }
  }
}

.footer-text-styles {
  color: #ffffff !important;
  font-family: 'AzoSans-Light';
  font-size: 14px;
}
.footer-icon-styles {
  font-size: 24px;
  color: #ffffff;
}

.twitter-icon:hover {
  color: #00acee;
}
.facebook-icon:hover {
  color: #3b5998;
}
.linkedin-icon:hover {
  color: #0e76a8;
}
.instagram-icon:hover {
  color: #3f729b;
}

.hr-styles {
  margin-top: 1rem;
  margin-bottom: 0rem;
  border: 0;
  border-top: 0.5px solid rgba(0, 0, 0, 0.1);
}
.explore-image {
  padding: 32px;
  border: 1px solid #d4b2b1;
  width: 160px;
  height: 160px;
  opacity: 1;
}

.explore-image-mobile-view {
  //padding: 30px;
  border: 1px solid #d4b2b1;
  width: 100px;
  height: 100px;
  opacity: 1;
  padding: 16px;
}

.vertical-line {
  display: inline-block;
  border-left: 1px solid #d4b2b1;
  margin: 0 40px;
  height: 60px;
  opacity: 1;
}
.travel-line {
  display: inline-block;
  border-left: 1px solid #d4b2b1;
  margin: -2px 18px;

  height: 18px;
  opacity: 1;
}
.line-perfect-trip {
  line-height: 0.5;
  text-align: center;
  font-size: 25px;
}
.line-perfect-trip {
  display: inline-block;
  position: relative;
  color: white !important;
}
.line-perfect-trip:before,
.line-perfect-trip:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 1px solid white;
  top: 0;
  width: 100px;
}
.line-perfect-trip:before {
  right: 100%;
  margin-right: 15px;
}
.line-perfect-trip:after {
  left: 100%;
  margin-left: 15px;
}

.banner-text {
  position: relative;
  top: 10px;
}
.perect-trip-css {
  background-color: #fff;
  width: 230px;
  height: 220px;
  padding: 23px;
  text-align: center;
}
.perect-trip-background-color {
  background-color: $primary-color;
  padding: 50px;
}
.perfect-trip-header {
  text-align: center;
  color: #ffffff;
  padding-bottom: 30px;
}
.getaway-heading {
  line-height: 0.5;
  text-align: center;
}
.getaway-heading {
  display: inline-block;
  position: relative;
}
.getaway-heading:before,
.getaway-heading:after {
  content: '';
  position: absolute;
  height: 5px;
  border-bottom: 1px solid $primary-color;
  top: 0;
  width: 100px;
}
.getaway-heading:before {
  right: 100%;
  margin-right: 15px;
}
.getaway-heading:after {
  left: 100%;
  margin-left: 15px;
}

// about css
.details_card {
  background-color: $primary-color;
  width: 310px;
  bottom: -120px;
  padding: 40px 30px 40px 40px;
}
.text_color {
  color: #fbfaf8;
  font-size: 14px;
  display: block !important;
  padding-top: 10px;
}
.send-button {
  font-size: 15px;
  padding: 10px 20px;
  border-radius: 25px;
  color: #fff;
  background-color: $primary-color;
}
@media (min-width: 325px) and (max-width: 425px) {
  .contact-card {
    display: none;
  }
  .reset-button{
    margin-left: -15px;
    text-transform: capitalize;
  }
}

@media (min-width: 0px) and (max-width: 768px) {
  .dispaly-mobile {
    display: none;
  }
  .mobile-travel-text {
    position: relative;
    left: 10px;
  }
  .reset-button{
    margin-left:0px;
    text-transform: capitalize;
  }
  .Forward {
    bottom: -6px;
    right: 1.5rem;
    width: 3rem;
    height: 3rem;
    opacity: 1;
    border-radius: 50%;
    background-color: #265359;
    &:focus {
      outline: none !important;
    }
    .arrowsize {
      height: 1.4rem;
      color: white;
    }
  }
  .ion-no-border{
    height: 60px !important;
  }

}
@media screen and (min-width: 769px) and (max-width: 2560px) {
  .perfect-trip-web-view {
    padding-left: 110px;
  }
  .perect-trip-background-color {
    margin-top: 2.5rem !important;
  }
  .reset-button{
    margin-left: 10px;
    text-transform: capitalize;
  }
  .Forward {
    bottom: -6px;
    right: 1.8rem;
    width: 3rem;
    height: 3rem;
    opacity: 1;
    border-radius: 50%;
    background-color: #265359;
    &:focus {
      outline: none !important;
    }
    .arrowsize {
      height: 1.4rem;
      color: white;
    }
  }

}


.footer-background-color {
  background-color: #000000 !important;
}
// footer code ends

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

.travel-news-txt {
  position: absolute;
  top: 135px;
  left: 30px;
  color: #ffffff;
}
// float card
.backButton-float-card {
  font-size: 30px;
  z-index: 2;
  margin-top: 38px;
}
.frwdButton-float-card {
  font-size: 30px;
  z-index: 2;
  margin-top: 38px;
  right: 36px !important;
}
.border-bottom-news {
  border-bottom: 1px solid #949494;
  opacity: 1;
}
.travel-news-economic {
  font-size: 13px;
  color: #f1f1f1;
}
.travel-news-economic1 {
  color: #363636;
  margin-top: 12px;
  padding: 10px 0px 0px 0px;
}
.reset-form {
  margin-top: 1.5rem !important;
  cursor: pointer;
}
.mouse-pointer {
  cursor: pointer;
}
.mouse-pointer:focus {
  background: green;
}

.formName {
  color: $details_colour;
}
.slide-icons-padding{
  padding-left: 8px;
  padding-right: 8px;
}
.noneCard{
  display: none;
}
.noneCard1{
 display: none;
}
.showNewView{
  text-align: center;
  margin-top: 75px;
.trips{
  font-family: 'AzoSans-Bold';
  font-size: 23px;
  line-height: 1.2;
  color:$primary-color;
  white-space: nowrap;
}

.startPlan{
  background-color: $primary-color;
  color: $background-color;
  width: 250px;
  height: 53px;
border-radius: 27px;
}
.startPlan:focus{
  outline: none;
  box-shadow: none;
}

}
.closeHomeForm{
  position: absolute;
    /* bottom: 47px; */
    top: 155px;
    right: 23px;
    z-index: 99;
}


.disableArrow{
  opacity: 0.3;
 // background-color: red;
}
.paddingFrom{
  padding-top: 40px !important;
}

.disableArrow{
  opacity: 0.3;
 // background-color: red;
}
@media screen and (min-width:361px) and (max-width: 376px){
  .inputWidth{
    width: 279px !important;
  }
}
@media screen and  (max-width: 360px){
  .inputWidth{
    width: 265px !important;
  }
}
.lastArrow{
  opacity: 0.2;
}
.firstArrow{
  opacity :0.2
}
.traveller-color{

  color: #265359;

}

@media screen and (max-width:426px) {
  .toSpace{
    margin:0px ;
  }
}

.colorR{
  color: $primary-color;
}