$Color1:Black;

  .textcontent{
    margin-top: 8rem;
    .textstyle2323{
      letter-spacing: 0px;
      color: #000000;
      font-size: 1rem;
      font-weight: bold;
      z-index: 99;
    }
    .textstyle98888{
      letter-spacing: 0px;
      color: #265359;
      font-size: 1.8rem;
      z-index: 99;
    }
    .textColor3 {
  font-size: 25px;
  color: $Color1;
  font: bold;
}
  }
    .imagesize{
      position: absolute;
      height: 300px;
      width: auto;
      bottom: 0rem;
      right: 0px;
    }
