$screenColor1: #707070;
$screenColor2: #265359;
.chevron_div {
  position: absolute;
  bottom: 0px;
  right: 20px;
}
.grid_pad{
  padding: 0 9% 0 9%;
  margin: 10px 0 0 0;
}
.flightError {
  background-color: white;
  width: 96%;
  border: 1px solid #265359;
  padding: 6px;
  margin: 20px;
  border-radius: 25px;
  margin-top: 20px;
  margin-left: 16px;
}
.stops::after {
  content: '\2192';
  color: $screenColor2;
  position: absolute;
  right: -14px;
}
.airline_name::after {
  content: ',';
  right: 2px;
  bottom: 0;
  position: absolute;
  color: black;
}
.airline_name:last-child::after {
  display: none;
}
.connecting_flights {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  background-color: #fbfaf8;
}
.short_layover_div {
  z-index: 0;
}
.short_layover_div::after {
  position: absolute;
  content: '';
  height: 1px;
  width: 100%;
  background-color: $screenColor2;
  top: calc(50% + 5px);
  left: 0;
  transform: translateY(-50%);
  z-index: -1;
}
.short_layover_text {
  background-color: white;
  padding: 1% 7%;
  border-radius: 15px;
  display: inline-block;
  margin: 10px 0 0 0;
}
.main_chiv_symbol {
  font-size: 25px;
  color: #b7b7b7;
  transition: 0.5s;
}
.collapsed .main_chiv_symbol {
  transform: rotate(180deg);
}
.chiv_symbol {
  font-size: 15px;
  position: absolute;
  bottom: 0px;
  transition: 0.5s;
}
.collapsed .chiv_symbol {
  transform: rotate(180deg);
}
.sm_time {
  font-size: 15px;
  color: $screenColor2;
  font-weight: 600;
}
.back_color3 {
  background-color: #fbfaf8;
}
.chv_icn {
  color: #b7b7b7;
  font-size: 25px;
  transition: 0.5s;
}
.up {
  transform: rotateZ(180deg);
}
.summary_pad {
  padding: 0 9% 0 9%;
}
.sm_dsplay {
  display: none;
}
.lg_dsplay {
  display: block;
}
.rt_lne::after {
  content: '';
  position: absolute;
  width: 95%;
  border: 1px solid black;
  border-style: dashed;
  opacity: 0.5;
  right: 0px;
  top: 44%;
  z-index: -1;
  transform: translateX(-2%);
}
.z_2 {
  z-index: 2;
}
.z_0 {
  z-index: 0;
}
.mb_sm {
  margin-bottom: 0;
}
.flight_fare{
  padding-right: 17px;
    font-size: 16px;
    font-weight: 600;
    padding-top: 11px;
    color: $screenColor2;
}
.flight_fare_sm{
    font-size: 16px;
    font-weight: 600;
    color: $screenColor2;
}
.time {
  color: $screenColor2;
  font-size: 14px;
  // font-weight: 600;
}
.fnt_sze_13 {
  font-size: 12px;
}
.card_date {
  border-radius: 0px 13px 0px 0px;
  background: #d4b2b1 0% 0% no-repeat padding-box;
  color: white;
  padding: 5px;
}
.arrow_button_flight {
  position: absolute;
  top: 60px;
  background-color: #fbfaf8;
  right: 16px;
  font-size: 18px;
  outline: none;
  border: none;
}
.none_border {
  outline: none;
  border: none;
}
.ErrorStays {
  text-align: center;
  color: $screenColor2;
  margin-top: 50px;
}
.sm_flt_dtls {
  color: $screenColor2;
  font-size: 12px;
  font-weight: 600;
}
.flt_dtls {
  color: $screenColor2;
  font-size: 12px;
  position: absolute;
  right: 4%;
  bottom: 0;
  font-weight: 600;
}
.Flight_side {
  margin-left: 32px;
}
.cardstyle {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 100%;
  min-height: 80px;
  padding-left: 18px;
  border-radius: 13px;
}
.cardstyle2 {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 78%;
  min-height: 80px;
  padding-left: 18px;
  border-radius: 13px;
  margin-left: 100px;
}
.locationIcon {
  background: #efe3e3;
  border-radius: 13px;
  margin: 3px 0px 3px 0px;
  opacity: 1;
  width: 100%;
  min-height: 74px;
  padding: 0px !important;
}
.day {
  color: $screenColor2;
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
}
.dayNum {
  color: $screenColor2;
  font: bold;
  font-size: 20px;
  font-weight: 500;
}

.card-text {
  margin-top: 10px;
  color: #000000;
  text-transform: capitalize;
  font-weight: 600;
}
.tm_card_date {
  position: relative;
}
.lg_dsplay {
  display: block;
}
// .fl_card_line {
//   padding: 2% 0% 2% 15%;
// }
// .fl_card_line::before {
//   content: '';
//   height: 2px;
//   width: 50%;
//   position: absolute;
//   border: 1px solid black;
//   border-style: dashed;
//   left: 6%;
//   top: 50%;
//   z-index: 0;
//   opacity: 0.5;
// }
// .fl_card_line2 {
//   padding: 2% 0% 2% 15%;
// }
// .fl_card_line2::before {
//   content: '';
//   height: 2px;
//   width: 70%;
//   position: absolute;
//   border: 1px solid black;
//   border-style: dashed;
//   left: 6%;
//   top: 50%;
//   z-index: 0;
//   opacity: 0.5;
// }
.flt_icon {
  position: absolute;
  left: 2%;
  background-color: #efe3e3;
  border-radius: 50%;
  padding: 7px;
  top: 50%;
  z-index: 2;
  transform: translate3d(0%, -50%, 0px);
  img {
    height: 11px;
  }
}
.flt_icon2 {
  position: absolute;
  left: 2%;
  background-color: #efe3e3;
  border-radius: 50%;
  padding: 7px;
  top: 50%;
  z-index: 2;
  transform: translate3d(0%, -50%, 0px);
  img {
    height: 11px;
  }
}
.flt_card {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  width: 100%;
}
.flt_card2 {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  // width: 87%;
}
.flt_card_lg {
  box-shadow: 0px 3px 6px #00000012;
  border: 1px solid #eeeeee;
  border-radius: 15px;
  // width: 93%;
}
.m_7_3 {
  margin: 7px 3px 0 0;
}
.m_7 {
  margin: 7px 7px 0 0;
}
.no_flight {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  color: #265359;
}
.no_flight_below {
  text-align: center;
  color: #265359;
}
@media (min-width: 320px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    // width: 118%;
    // left: -31px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  // .fl_card_line2 {
  //   padding: 2% 0% 2% 15%;
  // }
  // .fl_card_line2::before {
  //   content: '';
  //   height: 2px;
  //   width: 50%;
  //   position: absolute;
  //   border: 1px solid black;
  //   border-style: dashed;
  //   left: -10%;
  //   top: 50%;
  //   z-index: 0;
  //   opacity: 0.5;
  // }
}
@media (min-width: 375px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    // width: 118%;
    // left: -42px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  // .fl_card_line2 {
  //   padding: 2% 0% 2% 15%;
  // }
  // .fl_card_line2::before {
  //   content: '';
  //   height: 2px;
  //   width: 50%;
  //   position: absolute;
  //   border: 1px solid black;
  //   border-style: dashed;
  //   left: -10%;
  //   top: 50%;
  //   z-index: 0;
  //   opacity: 0.5;
  // }
}
@media (min-width: 425px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    // width: 115%;
    // left: -47px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  // .fl_card_line2 {
  //   padding: 2% 0% 2% 15%;
  // }
  // .fl_card_line2::before {
  //   content: '';
  //   height: 2px;
  //   width: 50%;
  //   position: absolute;
  //   border: 1px solid black;
  //   border-style: dashed;
  //   left: -10%;
  //   top: 50%;
  //   z-index: 0;
  //   opacity: 0.5;
  // }
}
@media (min-width: 768px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    // width: 566px;
    // left: -58px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  // .fl_card_line2 {
  //   padding: 2% 0% 2% 15%;
  // }
  // .fl_card_line2::before {
  //   content: '';
  //   height: 2px;
  //   width: 50%;
  //   position: absolute;
  //   border: 1px solid black;
  //   border-style: dashed;
  //   left: -10%;
  //   top: 50%;
  //   z-index: 0;
  //   opacity: 0.5;
  // }
}
@media (min-width: 1024px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    // left: -46px;
    // width: 113%;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  // .fl_card_line2 {
  //   padding: 2% 0% 2% 15%;
  // }
  // .fl_card_line2::before {
  //   content: '';
  //   height: 2px;
  //   width: 50%;
  //   position: absolute;
  //   border: 1px solid black;
  //   border-style: dashed;
  //   left: -10%;
  //   top: 50%;
  //   z-index: 0;
  //   opacity: 0.5;
  // }
}
@media (min-width: 1440px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    // width: 111%;
    // left: -15%;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  // .fl_card_line2 {
  //   padding: 2% 0% 2% 15%;
  // }
  // .fl_card_line2::before {
  //   content: '';
  //   height: 2px;
  //   width: 50%;
  //   position: absolute;
  //   border: 1px solid black;
  //   border-style: dashed;
  //   left: -10%;
  //   top: 50%;
  //   z-index: 0;
  //   opacity: 0.5;
  // }
}
@media (min-width: 2560px) {
  .flt_card2 {
    box-shadow: 0px 3px 6px #00000012;
    border: 1px solid #eeeeee;
    border-radius: 15px;
    // width: 109%;
    // margin-left: 19px;
  }
  .flt_icon2 {
    position: absolute;
    left: -13%;
    background-color: #efe3e3;
    border-radius: 50%;
    padding: 7px;
    top: 50%;
    z-index: 2;
    transform: translate3d(0%, -50%, 0px);
    img {
      height: 11px;
    }
  }
  // .fl_card_line2 {
  //   padding: 2% 0% 2% 15%;
  // }
  // .fl_card_line2::before {
  //   content: '';
  //   height: 2px;
  //   width: 50%;
  //   position: absolute;
  //   border: 1px solid black;
  //   border-style: dashed;
  //   left: -10%;
  //   top: 50%;
  //   z-index: 0;
  //   opacity: 0.5;
  // }
}

@media (max-width: 767px) {
  .sm_dsplay {
    display: block;
  }
  .lg_dsplay {
    display: none;
  }
}
@media (max-width: 576px) {
  .grid_pad{
    padding: 0 5% 0 5%;
  }
  .summary_pad {
    padding: 0 5% 0 5%;
  }
  .line_height{
    line-height: 18px;
  }
  .no_flight_img {
    margin-top: 20px;
  }
  .flightError {
    background-color: white;
    width: 95%;
    border: 1px solid #265359;
    padding: 6px;
    margin: 20px;
    border-radius: 25px;
    margin-top: 20px;
    margin-left: 5px;
  }
  .no_flight {
    font-size: 8px;
    text-align: center;
    font-weight: 600;
    color: #265359;
  }
  .no_flight_below {
    text-align: center;
    color: #265359;
    font-size: 8px;
  }
  .tm_card_date {
    position: absolute;
    bottom: 6px;
    // right: 3px;
  }
  .card_date {
    border-radius: 0px 0px 0px 0px;
  }
  .m_7_3 {
    margin: 0;
  }
  .m_7 {
    margin: 0;
  }
  .origin {
    display: none;
  }
  .origin_line::before {
    display: none;
  }
  .pl-15 {
    padding-left: 8%;
  }
  .inputsearch {
    border-radius: 13px;
  }

  .pl_5 {
    padding-left: 1rem;
  }
  .ml_4p5 {
    margin-left: 2rem;
  }
  .pl_5_htl {
    padding-left: 1.5rem;
  }
  .htl_icn_in_crd {
    padding: 1px 6px;
    img {
      height: 8px;
    }
  }
  .ml_5 {
    margin-left: 1.5rem;
  }
}
@media (max-width:375px){
  .sm_time {
    font-size: 14px;
  }
}
@media (max-width: 360px){
  .fnt_sze_13 {
    font-size: 10px;
  }
  .sm_flt_dtls {
    font-size: 10px;
  }
  .sm_time {
    font-size: 13px;
  }
}
@media(max-width:320px){
  .sm_time {
    font-size: 12px;
  }
}
@media (max-width: 770px) {
  .positionFab {
    right: 5%;
  }
}

@media (max-width: 990px) {
  .mt-row-57 {
    margin-top: 0;
  }
  .positionFab {
    position: fixed;
    bottom: 2rem;
    right: 10%;
  }
}
