<div class="p-4 position-relative">
  <ion-icon name="close-circle-outline" class="closeBtn cursor-pointer" (click)="dismiss()"></ion-icon>
  <ion-text class="d-block color-primary font-weight-bold" *ngIf="verifyFor=='phone_number'">Verify Your Mobile Number
  </ion-text>
  <ion-text class="d-block color-primary" *ngIf="verifyFor=='email'">Verify Your Email</ion-text>
  <small class="form-text text-muted m-0 color-primary">OTP has been sent to {{sendTo}}</small>
  <div class="form-group m-0 pt-2 position-relative">
    <label for="otp" class="label-text">Enter OTP</label>
    <input oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');" maxlength="6"
      type="text" (input)="removeErrorMessage()" class="form-control" id="otp" placeholder="OTP" [(ngModel)]="code"
      autocomplete="off">
    <p class="invalid_message m-0" *ngIf="verifyErrorMessage">
      {{verifyErrorMessage}}
    </p>
    <button type="button" class="btn verify" (click)="resendCode()">Resend Code</button>
    <div class="text-right pt-2">
      <button type="button" class="btn sbt_btn" (click)="verify()">Submit</button>
    </div>
  </div>
</div>