<!-- <div class="ion-page1 h-10 p-0 m-0">
  <div *ngIf="!confirmOtp" class="card">
    <h4 class="card-header">Login</h4>
    <div class="card-body">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="username">Email Or Mobile Number</label>
          <input
            type="text"
            formControlName="username"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            placeholder="Email Or Mobile Number"
          />
          <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
            <div *ngIf="f.username.errors.required">
              Email Or Mobile Number is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input
            type="password"
            formControlName="password"
            class="form-control"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            placeholder="Password"
          />
          <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
            <div *ngIf="f.password.errors.required">Password is required</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary">
            <span
              *ngIf="loading"
              class="spinner-border spinner-border-sm mr-1"
            ></span>
            Login
          </button>

          <a (click)="openRegister()" class="btn btn-link">Register</a>
        </div>
      </form>
    </div>
  </div>
  <div *ngIf="confirmOtp" class="card">
    <app-otp-confirm></app-otp-confirm>
  </div>
</div> -->
<!-- <a routerLink="/account/register" class="btn btn-link">Register</a> -->

<div class="card_pad">
  <!-- <ion-title *ngIf="showEmailModel" class="form_title1 mb-3">
    Enter Email </ion-title
  >
  <form
    *ngIf="showEmailModel"
    (ngSubmit)="onSubmitEmail()"
    [formGroup]="emailForm"
  >
    <input
      type="text"
      formControlName="username"
      class="form-control borderlineLogin"
      [ngClass]="{ 'is-invalid': submitEmail && v.username.errors }"
      placeholder="Email Or Mobile Number"
    />
    <div *ngIf="submitEmail && v.username.errors" class="invalid-feedback">
      <div *ngIf="v.username.errors.required">
        Email Or Mobile Number is required
      </div>
    </div>
     <h4  *ngIf="invalidUser" class=" invalidEmail mt-1">*Invalid Email</h4>
    <button class="text-white save-button-styles btn mt-3">Submit</button>
  </form> -->
  <ion-title class="form_title1 mb-3"> Reset Password</ion-title>
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <label for="username" class="pStyle m-0">Enter OTP</label>
    <input
      type="text"
      formControlName="otp"
      onkeypress="return event.charCode >= 48 && event.charCode <= 57"
      class="form-control borderlinePassword"
      minlength="6"
      maxlength="6"
      [ngClass]="{ 'is-invalid': submitted && f.otp.errors }"
      placeholder="Enter OTP"
    />
    <div *ngIf="submitted && f.otp.errors" class="invalid-feedback">
      <div *ngIf="f.otp.errors.required">OTP is required</div>
    </div>
    <label for="password" class="pStyle m-0 mt-3">New Password</label>
    <input
      type="password"
      formControlName="password"
      class="form-control borderlinePassword"
      [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
      placeholder="Password"
    />
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
      <div *ngIf="f.password.errors.pattern">Password must be strong(use caps,special char or numbers)</div>
    </div>

    <div class="mt-2 text-right">
      <button [disabled]="loading" class="text-white save-button-styles">
        <span
          *ngIf="loading"
          class="spinner-border spinner-border-sm mr-1"
        ></span>
        Change Password
      </button>
    </div>
  </form>
</div>
