$primary-color: #265359;
.text_primary {
  color: $primary-color;
  font-size: 20px;
}
.expiryDate {
  width: 168px;
}
.submit-button {
  text-transform: none;
  width: 75px;
  background-color: $primary-color;
  border-radius: 20px;
  color: white;
  height: 30px;
}
.top_close_btn {
  position: absolute;
  right: 14px;
  top: 6px;
  color: $primary-color;
}
.reset_button {
  color: $primary-color;
  font-size: 12px;
  font-weight: 600;
}
.passport-font-size {
  font-size: 20px;
}
.invalid_message {
  color: #dc3545;
  font-size: 12px;
}
.shadow {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.15) !important;
}
.bg-color-header {
  background: #fbfaf8;
}
.font-size-header {
  font-size: 12px;
  color: #666666;
}
.ion-item {
  position: relative;
}
// label{
//   color:#737373
// }
.fa_lg_button {
  font-size: 20px;
}
body {
  margin: 0;
}

.navbarStyle {
  // overflow: hidden;
  background: #fbfaf8;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbarStyle a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  overflow: hidden;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbarStyle a:hover {
  background: #ddd;
  color: black;
}
.main {
  margin-top: -10px;
  overflow: auto;
  height: calc(100vh - 207px); /* Used in this example to enable scrolling */
}

@media (max-width: 568px) {
  .text_primary {
    color: $primary-color;
    font-size: 16px;
  }
  .fa_lg_button {
    font-size: 17px;
  }
  .top_close_btn {
    position: absolute;
    right: 14px;
    top: 10px !important;
    color: #265359;
  }
}
