<ion-content class="background_color wrapper">
  <ion-grid class="index_forpay green-box">
    <div class="text-right p_book">
      <ion-text class="customize pr-3 cursor-pointer" [routerLink]="['/time-line']" (click)="navigateTimeline()">
        Customize
      </ion-text>

      <button
        *ngIf="selectedTravellers?.adults.length+selectedTravellers?.children.length+selectedTravellers?.infants.length === 0"
        data-amplify-analytics-on='click' data-amplify-analytics-name='ProceedToCheckOut'
        data-amplify-analytics-attrs='Checkout' class="btn book_btn" (click)="presentLogin()">
        Select Travellers
      </button>
      <button
        *ngIf="selectedTravellers?.adults.length+selectedTravellers?.children.length+selectedTravellers?.infants.length > 0"
        data-amplify-analytics-on='click' data-amplify-analytics-name='ProceedToCheckOut'
        data-amplify-analytics-attrs='Checkout' class="btn book_btn btn_hover btn_focus_bg_clr" (click)="presentLogin()">
        Proceed To Payments
      </button>
      <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter" >
        Launch demo modal
      </button>
      <div class="error-status" *ngIf="payFali" >
        Transaction failed. Please retry.
      </div> (click)="testLog()" (click)="testLog()"-->
    </div>



    <ion-row class="row preview_top">
      <ion-col class="col-12 col-md-8 container-fluid">
        <div class="row">
          <div class="col-8 big_ht">
            <img src="{{activityCoverImg}}" onerror="this.src='../../../../assets/images/Group 67292.png'"
              alt="image_not_found" class="h-100 w-100 img-fluid image_adjust" />
          </div>
          <div class="col-4 big_ht">
            <img src="{{activityCoverImg2}}" onerror="this.src='../../../../assets/images/Group 67292.png'"
              alt="image_not_found" class="h-100 w-100 img-fluid image_adjust" />
          </div>
        </div>
      </ion-col>
      <ion-col class="col-12 col-md-4 container-fluid">
        <!-- <div class="row">
          <div *ngFor="let e of randomActiveImage; let m = index" class="col-6 small_ht">
            <img src="{{ e }}" class="h-100 w-100" />
          </div>
        </div> -->
        <div class="row">
          <div class="col-6 small_ht">
            <img src="{{sideImg0}}" onerror="this.src='../../../../assets/images/Group 67292.png'"
              class="h-100 w-100 img-fluid image_adjust" />
          </div>
          <div class="col-6 small_ht">
            <img src="{{sideImg1}}" onerror="this.src='../../../../assets/images/Group 67292.png'"
              class="h-100 w-100 img-fluid image_adjust" />
          </div>
          <div class="col-6 small_ht">
            <img src="{{sideImg2}}" onerror="this.src='../../../../assets/images/Group 67292.png'"
              class="h-100 w-100 img-fluid image_adjust" />
          </div>
          <div class="col-6 small_ht">
            <img src="{{sideImg3}}" onerror="this.src='../../../../assets/images/Group 67292.png'"
              class="h-100 w-100 img-fluid image_adjust" />
          </div>
        </div>
      </ion-col>
      <ion-col class="col-12 p-0">
        <ion-row class="mt-3">
          <ion-col class="col-sm-3">
            <br />
            <ion-text class="trip_name text-white">Your Trip</ion-text><br />
            <ion-text class="fnt_sml text-white">{{ totalDate }}&nbsp;{{totalDate>1?'Days':'Day'}},{{
              TotalPersons
              }}&nbsp;{{TotalPersons>1?'Persons':'Person'}}</ion-text><br />
            <!-- <div *ngFor="let y of AcivityPreferanceNew; let q = index">
              <div class="inline_activity">
                <ion-text>{{ y }}</ion-text>
              </div>
            </div> -->
          </ion-col>

          <ion-col class="position-relative col-sm-6"></ion-col>
          <ion-col class="position-relative col-sm-3 mt-4">
            <div class="d-inline-block ml-auto">
              <table class="position-relative" style="width: 220px">
                <br />
                <tr *ngIf="flightFareTotalForAllFlights !='0.0'">
                  <td class="price_for text-white">Flights</td>
                  <br />

                  <td class="price" *ngIf="currencyTypeFilterTotal?.length>0">
                    {{ flightFareTotalForAllFlights | currency:"₹ " : false : '2.0-0' }}
                  </td>
                  <div (click)="toggle()">
                    <ion-icon name="{{ buttonName }}" size="small" class="main_chiv_symbol cursor-pointer"></ion-icon>
                  </div>
                </tr>
                <tr *ngIf="show">
                  <td class="price_for_tax text-white">{{ equivFare }}</td>
                  <br />
                  <td class="price_tax" *ngIf="currencyTypeFilterTotal?.length>0">
                    {{ flightEquiFarePriceeForAllFlights | currency:"₹ " : false : '2.0-0' }}
                  </td>
                </tr>
                <tr *ngIf="show">
                  <td class="price_for_tax text-white">{{ totalTax }}</td>
                  <br />
                  <td class="price_tax" *ngIf="currencyTypeFilterTotal?.length>0">
                    {{ flightTaxPriceForAllFlights | currency:"₹ " : false : '2.0-0' }}
                  </td>
                </tr>
                <tr *ngIf="hotelPriceTotal != 0.0">
                  <td class="price_for text-white">Hotels</td>
                  <br />
                  <td class="price" *ngIf="hotelPriceTotal != 0.0">
                    {{ hotelPriceTotal | currency:"₹ " : false : '2.0-0' }}
                  </td>
                </tr>
                <tr *ngIf="activityPrice != 0.0">
                  <td class="price_for text-white">Activities</td>
                  <br />
                  <td class="price">
                    {{ activityPrice | currency:"₹ " : false : '2.0-0' }}
                  </td>
                </tr>
                <hr *ngIf="this.GrandTotal != 0.0" class="line_price" />
                <tr *ngIf="this.GrandTotal != 0.0">
                  <td class="price_for text-white">Total</td>
                  &nbsp;&nbsp;&nbsp;
                  <td class="price" *ngIf="GrandTotalCurrency?.length>0">{{ GrandTotal | currency:"₹ " : false :
                    '2.0-0'}}</td>
                </tr>
                <hr *ngIf="GrandTotal != 0.0" class="line_price" />
              </table>
            </div>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <!-- temporary -->
    <!-- <button (click)="gototravellers()">gotoadd travellers</button> -->
    <!-- temporary -->
    <div class="no-gutters">
      <ion-text class="itenary_header1">
        Trip Dates
      </ion-text>
      <ion-row>
        <ion-col class="col-1 col-lg-1 position-relative p-0">
        </ion-col>
        <ion-col class="col-11 col-lg-11 p-0">
          <ion-text class="position-relative travel_dates mr-3">
            {{PreviewItenary?.startDate| date: 'EEE,dd LLL
            yyyy'}}&nbsp;-&nbsp;{{PreviewItenary?.endDate| date:
            'EEE,dd
            LLL yyyy'}}
          </ion-text>
        </ion-col>
      </ion-row>
    </div>
    <div class="no-gutters"
      *ngIf="selectedTravellers?.adults.length+selectedTravellers?.children.length+selectedTravellers?.infants.length>0">
      <ion-text class="itenary_header1">
        Passenger Details
      </ion-text>
      <ion-row>
        <ion-col class="col-1 col-lg-1 position-relative p-0">
        </ion-col>
        <ion-col class="col-11 col-lg-11 p-0">
          <ion-text class="position-relative passenger_name mr-3" *ngFor="let name of selectedTravellers.adults">
            <ion-icon name="person-circle-outline" class="icon_profile"></ion-icon>{{name.firstName}}
          </ion-text>
          <ion-text class="position-relative passenger_name mr-3" *ngFor="let name of selectedTravellers.children">
            <ion-icon name="person-circle-outline" class="icon_profile"></ion-icon>{{name.firstName}}
          </ion-text>
          <ion-text class="position-relative passenger_name mr-3" *ngFor="let name of selectedTravellers.infants">
            <ion-icon name="person-circle-outline" class="icon_profile"></ion-icon>{{name.firstName}}
          </ion-text>
          <button class="btn book_btn d-block btn_hover" *ngIf="userNavigate" (click)="gototravellers()">
            Edit
          </button>
        </ion-col>
      </ion-row>
    </div>
    <ion-row>
      <ion-col class="col-1 col-lg-1 position-relative p-0"> </ion-col>
      <ion-col class="col-11 col-lg-11 p-0" *ngIf="this.GrandTotal != 0.0">
        <ion-text class="d-block included">Included</ion-text>
        <ion-row>
          <ion-col size="12" size-sm="auto" class="pr-3" *ngIf="flightFareTotalForAllFlights !='0.0'">
            <ion-row>
              <ion-col size="auto"><img src="../../../assets/images/Group 53105.png" class="image_adjust icon_size" />
              </ion-col>
              <ion-col class="pl-2">
                <div class="row h-100 no-gutters">
                  <div class="my-auto d-inline">
                    <ion-text class="d-block included_text_header">Transportation</ion-text>
                    <ion-text *ngIf="flightFareTotalPriceFilter?.length == 1" class="text-dark font-weight-bold">
                      {{ flightFareTotalPriceFilter?.length }} Flight selected</ion-text>
                    <ion-text *ngIf="flightFareTotalPriceFilter?.length > 1" class="text-dark font-weight-bold">
                      {{ flightFareTotalPriceFilter?.length}} Flights selected</ion-text>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" size-sm="auto" class="pr-3" *ngIf="hotelPriceTotal != 0.0">
            <ion-row>
              <ion-col size="auto"><img src="../../../assets/images/Group 53106.png" class="image_adjust icon_size" />
              </ion-col>
              <ion-col class="pl-2">
                <div class="row h-100 no-gutters">
                  <div class="my-auto d-inline">
                    <ion-text class="d-block included_text_header">Stays</ion-text>
                    <ion-text *ngIf="hotelPriceFilter?.length == 1" class="text-dark font-weight-bold">
                      {{ hotelPriceFilter?.length }} Hotel Selected</ion-text>
                    <ion-text *ngIf="hotelPriceFilter.length > 1" class="text-dark font-weight-bold">
                      {{ hotelPriceFilter?.length }} Hotels Selected</ion-text>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>

          <ion-col size="12" size-sm="auto" class="pr-3" *ngIf="activityPrice != 0.0">
            <ion-row>
              <ion-col size="auto"><img src="../../../assets/images/Group 53107.png" class="image_adjust icon_size" />
              </ion-col>
              <ion-col class="pl-2">
                <div class="row h-100 no-gutters">
                  <div class="my-auto d-inline">
                    <ion-text class="d-block included_text_header">Activities</ion-text>
                    <ion-text *ngIf="activityPriceDetailsfiltered?.length == 1" class="text-dark font-weight-bold">
                      {{ activityPriceDetailsfiltered?.length }} Activity
                      Selected</ion-text>
                    <ion-text *ngIf="activityPriceDetailsfiltered?.length > 1" class="text-dark font-weight-bold">
                      {{ activityPriceDetailsfiltered?.length }} Activities
                      Selected</ion-text>
                  </div>
                </div>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-text *ngIf="
        flightsArray?.length > 0 ||
        hotelsArray?.length > 0 ||
        activityPriceDetailsfiltered?.length >0
      " class="itenary_header">Your Itinerary</ion-text>
    <ion-row class="pt-4 position-relative">
      <ion-col class="col-1 col-lg-1 position-relative p-0"> </ion-col>
      <ion-col class="col-11 col-lg-11 p-0 text-dark vert_line_div">

        <ion-grid id="one-record" class="mb-5">
          <ion-row>
            <ion-col size="12" class="pl_5  position-relative">
              <div class="flt_icon">0</div>
              <ion-text class="day_origin">Origin</ion-text>
              <ion-row>
                <ion-col size="12" size-sm="6" size-lg="4" class=" city_card_line text_pad pt-2">
                  <ion-text class="d-block text_header">{{
                    PreviewItenary.originCity.cityName
                    }}
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>

          <ion-row *ngFor="let i of previewItenaryDetails; let p = index">
            <ion-col size="12" class="pl_5 mt-5 position-relative">
              <div class="flt_icon">{{ i.day + 1 }}</div>
              <ion-text class="day">Destination&nbsp;{{ i.day + 1 }}</ion-text>
              <!-- ion-text class="day">Day&nbsp;{{getDate(i.date)}}</ion-text> -->

              <ion-row>
                <!-- <ion-col size="12" size-sm="4" class="itenerary_img background_color img_pad">
                  <img src="../../../assets/images/dummyimage1.png" class="img_dimensions" />
                </ion-col> -->
                <ion-col size="12" size-sm="6" size-lg="4" class=" city_card_line text_pad pt-2">
                  <ion-text class="d-block text_header">{{
                    i.cityName
                    }}&nbsp;<span class="dates_size">{{i.date.start|date:'MMMM d,
                      y'}}&nbsp;-&nbsp;{{i.date.end|date:'MMMM d,
                      y'}}</span>
                  </ion-text>
                </ion-col>
              </ion-row>
            </ion-col>
            <ion-col *ngIf="i.flightDetails?.sequenceNumber" size="12"
              class="pl_5 mt-5 mb-5 flight_card_line position-relative">
              <div class="flight_icon_flight">
                <img src="../../../assets/images/Artwork 6.svg" class="" />
              </div>
              <ion-row>
                <ion-col size="12" class="background_color pl-md-3">
                  <ion-card class="bg-white text-dark flt_card lg_dsplay">
                    <div class="no-gutters connecting_flights">
                      <div class="pb-2 position-relative">
                        <span class="flight_fare">{{i.flightDetails.fareDetails.totalFare.amount | currency:"₹ " : false : '2.0-0'}}</span>

                        <ion-grid class="container-fluid pt-2" *ngFor="
                            let f of i.flightDetails?.flightSegments;
                            let flightsegment_index = index
                          ">
                          <ion-row class="row">
                            <ion-col class="col-12 mb-1" size="12">
                              <div class="d-inline">
                                <img src="{{ f.airlineInfo.logoURL }}" class="img-fluid" />
                                <!-- <ion-text class="text-dark pl-2">{{
                                  f.airlineInfo.name
                                  }}</ion-text> -->
                              </div>
                            </ion-col>
                            <ion-col class="col-md-4 col-6 mb_sm">
                              <ion-text class="d-block frm_to">{{ f.departureAirportLocationCode }}
                                {{ f.airlineInfo.departureCity }}
                                {{
                                f.departureDateTime | date: 'HH:mm'
                                }}</ion-text>
                              <ion-text class="d-block time">{{
                                f.departureDateTime | date: 'EEE,dd LLL yyyy'
                                }}</ion-text>
                            </ion-col>
                            <ion-col class="col-md-3 col-6">
                              <ion-text class="d-block text-center frm_to">
                                <ion-icon name="timer-outline"></ion-icon>
                              </ion-text>
                              <ion-text class="d-block text-center time">{{
                                f.journeyDuration | toNumber | durationPipe
                                }}</ion-text>
                            </ion-col>
                            <ion-col class="col-md-5 col-6 mb_sm">
                              <ion-text class="d-block frm_to">{{ f.arrivalAirportLocationCode }}
                                {{ f.airlineInfo.arrivalCity }}
                                {{
                                f.arrivalDateTime | date: 'HH:mm'
                                }}</ion-text>
                              <ion-text class="d-block time">{{
                                f.arrivalDateTime | date: 'EEE,dd LLL yyyy'
                                }}</ion-text>
                            </ion-col>
                          </ion-row>
                          <div class="text-center short_layover_div position-relative" *ngIf="
                              flightsegment_index !=
                              i.flightDetails?.flightSegments?.length - 1
                            ">
                            <ion-text class="text-dark short_layover_text">Layover
                              {{
                              diff(
                              f.arrivalDateTime,
                              i.flightDetails.flightSegments[
                              flightsegment_index + 1
                              ]?.departureDateTime
                              )
                              }}</ion-text>
                          </div>
                        </ion-grid>
                      </div>
                    </div>
                  </ion-card>
                  <ion-card class="bg-white text-dark mb-2 ml-md-2 mr-2 flt_card sm_dsplay">
                    <div class="no-gutters connecting_flights">
                      <div class="pb-2 position-relative">
                        <span class="flight_fare">{{i.flightDetails.fareDetails.totalFare.amount | currency:"₹ " : false : '2.0-0'}}</span>
                        <ion-grid class="container-fluid" *ngFor="
                            let f of i.flightDetails?.flightSegments;
                            let flightsegment_index = index
                          ">
                          <ion-row class="row p-0">
                            <ion-col class="d-flex col-12 mb-1" size="12">
                              <div class="d-inline aero_name">
                                <img src="{{ f.airlineInfo.logoURL }}" class="img-fluid" />
                                <!-- <ion-text class="text-dark pl-2">{{
                                  f.airlineInfo.name
                                  }}</ion-text> -->
                              </div>
                            </ion-col>
                            <ion-col size="6" class="pl-2">
                              <ion-text class="d-block frm_to">{{ f.departureAirportLocationCode }}
                                {{ f.airlineInfo.departureCity }}
                                {{
                                f.departureDateTime | date: 'HH:mm'
                                }}</ion-text>
                            </ion-col>
                            <ion-col size="6" class="text-right pr-2">
                              <ion-text class="d-block frm_to">{{ f.arrivalAirportLocationCode }}
                                {{ f.airlineInfo.arrivalCity }}
                                {{
                                f.arrivalDateTime | date: 'HH:mm'
                                }}</ion-text>
                            </ion-col>
                            <ion-col class="d-flex pr-2 pl-2 pt-0 pb-0" size="12">
                              <div>
                                <ion-text class="d-inine sm_time">{{
                                  f.departureDateTime | date: 'EEE,dd LLL yyyy'
                                  }}</ion-text>
                              </div>
                              <div class="flex-grow-1 text-center position-relative z_0">
                                <!-- <ion-text class="d-inline pr-1 frm_to sm_time lft_lne z_2 bg-white"
                            ><ion-icon name="timer-outline"></ion-icon></ion-text
                          > -->
                                <ion-text class="d-inline sm_time rt_lne pr-1 z_2 bg-white">
                                  <ion-icon name="timer-outline"></ion-icon>{{
                                  f.journeyDuration | toNumber | durationPipe
                                  }}
                                </ion-text>
                              </div>
                              <div>
                                <ion-text class="d-block sm_time text-right">{{
                                  f.arrivalDateTime | date: 'EEE,dd LLL yyyy'
                                  }}</ion-text>
                              </div>
                            </ion-col>
                            <div class="col-12 text-center short_layover_div position-relative" *ngIf="
                                flightsegment_index !=
                                i.flightDetails?.flightSegments?.length - 1
                              ">
                              <ion-text class="text-dark short_layover_text">Layover
                                {{
                                diff(
                                f.arrivalDateTime,
                                i.flightDetails.flightSegments[
                                flightsegment_index + 1
                                ]?.departureDateTime
                                )
                                }}</ion-text>
                            </div>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                  </ion-card>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col size="12" class="pl_5 fl_card_line position-relative mt-5"
              *ngIf="i.hotelDetails?.hotelContent?.hotelId">
              <div class="htl_icon">
                <img src="../../../assets/images/htl_icon.svg" class="" />
              </div>
              <ion-row>
                <ion-col size="12" size-sm="4" class="itenerary_img background_color img_pad">
                  <img src="{{ i.hotelDetails?.hotelContent?.images[0]?.url }}" alt="image_not_found"
                    onerror="this.src='assets/images/hotel.png'" class="img_dimensions" />
                </ion-col>
                <ion-col size="12" size-sm="6" size-lg="4" class="text_pad">
                  <ion-text class="d-block text_header">
                    <span class="dates_size">{{i.date.start|date:'MMMM d, y'}}&nbsp;-&nbsp;{{i.date.end|date:'MMMM d,
                      y'}}</span><br />
                    {{i.hotelDetails?.hotelContent?.name}}
                    <div>
                      <span class=" rating-list" *ngIf=" i.hotelDetails?.hotelContent?.hotelRating == 1">
                      <li class="mr-1 rating-num">{{i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                      </span>
                      <span class=" rating-list" *ngIf=" i.hotelDetails?.hotelContent?.hotelRating > 1 &&
                        i.hotelDetails?.hotelContent?.hotelRating< 2">
                      <li class="mr-1 rating-num">{{ i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star-half-outline" class="star-color"></ion-icon>
                        </li>
                      </span>
                      <span class=" rating-list" *ngIf=" i.hotelDetails?.hotelContent?.hotelRating == 2">
                       <li class="mr-1 rating-num">{{ i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                      </span>
                      <span class=" rating-list" *ngIf=" i.hotelDetails?.hotelContent?.hotelRating > 2 &&
                        i.hotelDetails?.hotelContent?.hotelRating< 3">
                        <li class="mr-1 rating-num">{{ i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star-half-outline" class="star-color"></ion-icon>
                        </li>

                      </span>
                      <span class=" rating-list" *ngIf=" i.hotelDetails?.hotelContent?.hotelRating == 3">
                       <li class="mr-1 rating-num">{{ i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                      </span>
                      <span class=" rating-list" *ngIf="i.hotelDetails?.hotelContent?.hotelRating > 3 &&
                        i.hotelDetails?.hotelContent?.hotelRating < 4">
                     <li class="mr-1 rating-num">{{ i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star-half-outline" class="star-color"></ion-icon>
                        </li>

                      </span>
                      <span class=" rating-list" *ngIf="i.hotelDetails?.hotelContent?.hotelRating == 4">
                        <li class="mr-1 rating-num">{{i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>

                      </span>
                      <span class=" rating-list" *ngIf=" i.hotelDetails?.hotelContent?.hotelRating> 4 &&
                        i.hotelDetails?.hotelContent?.hotelRating < 5">
                        <li class="mr-1 rating-num">{{ i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star-half-outline" class="star-color"></ion-icon>
                        </li>
                      </span>
                      <span class=" rating-list" *ngIf="i.hotelDetails?.hotelContent?.hotelRating == 5 ">
                        <li class="mr-1 rating-num">{{i.hotelDetails?.hotelContent?.hotelRating | number: '1.1-1'}}</li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                        <li>
                          <ion-icon name="star" class="star-color"></ion-icon>
                        </li>
                      </span>
                    </div>
                  </ion-text>
                  <div class="mt-2 text_normal_head" *ngIf="i.hotelDetails.selectedRoom.netPrice">Price:
                  </div>
                  <div class="text_normal" *ngIf="i.hotelDetails.selectedRoom.netPrice" class="text_normal">
                      {{  i.hotelDetails.selectedRoom.netPrice | currency:"₹ " : false : '2.0-0' }}</div>
                  <div class="mt-2 text_normal_head" *ngIf="i.hotelDetails?.selectedRoom?.roomType?.length>0">RoomType:
                  </div>
                  <div class="text_normal" *ngIf="i.hotelDetails?.selectedRoom?.roomType?.length>0" class="text_normal">
                    {{
                    i.hotelDetails?.selectedRoom?.roomType }}</div>

                  <div class="mt-2 text_normal_head" *ngIf="i.hotelDetails?.selectedRoom?.boardType?.length>0">
                    BoardType:
                  </div>
                  <div class="text_normal" *ngIf="i.hotelDetails?.selectedRoom?.boardType?.length>0"
                    class="text_normal">{{
                    i.hotelDetails?.selectedRoom?.boardType }}</div>

                  <div class="mt-2 text_normal_head" *ngIf="i.hotelDetails?.selectedRoom?.fareType ?.length>0">FareType:
                  </div>
                  <div class="text_normal" *ngIf="i.hotelDetails?.selectedRoom?.fareType ?.length>0"
                    class="text_normal">{{
                    i.hotelDetails?.selectedRoom?.fareType }}</div>

                  <div class="mt-2 text_normal_head" *ngIf="i.hotelDetails?.hotelContent?.address?.length>0">Address:
                  </div>
                  <div class="text_normal" *ngIf="i.hotelDetails?.hotelContent?.address?.length>0">{{
                    i.hotelDetails?.hotelContent?.address }},{{
                    i.hotelDetails?.hotelContent?.phoneNumbers }}</div>
                </ion-col>
              </ion-row>
            </ion-col>

            <ion-col>
              <ion-row *ngIf="i.activityDetails.length > 0">
                <ion-col *ngFor="let k of i.activityDetails; let p = index" size="12"
                  class="pl_5 fl_card_line position-relative pb-3 mt-5">
                  <div class="flight_icon">
                    <img src=" ../../../assets/images/loc_in_circle.svg" class="" />
                  </div>

                  <ion-row>
                    <ion-col size="12" size-sm="4" class="itenerary_img_active background_color img_pad">
                      <img src="{{ k.coverImageUrl }}" class="img_dimensions_active" />
                    </ion-col>
                    <ion-col size="12" size-sm="6" size-lg="4" class="text_pad1 mt-2">
                      <span class="dates_size_activites">{{k.activityDate|date:'MMMM d,
                        y'}} at {{k.time}}</span><br />
                      <ion-text class="d-block text_header">{{k.activityName}}</ion-text>
                      <ion-text class="d-block text-left text_normal">
                        <div *ngIf="!k.showMore">
                          {{this.trimString(k.description,105)}}
                          <a (click)="k.showMore = !k.showMore">Show <span [innerHtml]="k.showMore ? 'less' : 'More'">
                            </span>
                          </a>
                        </div>
                        <div *ngIf="k.showMore">
                          {{k.description}}
                          <a (click)="k.showMore = !k.showMore">Show <span [innerHtml]="k.showMore ? 'less' : 'More'">
                            </span>
                          </a>
                        </div>
                      </ion-text>
                      <div class="mt-2 text_normal_head" *ngIf="k.grandtotal">
                        Price:
                      </div>
                      <div class="text_normal" *ngIf="k.grandtotal"
                        class="text_normal">{{k.grandtotal | currency:"₹ " : false : '2.0-0' }}</div>
                      <div class="mt-2 text_normal_head" *ngIf="k.customerInfo?.requiredFields?.firstName?.length>0">
                        Customer Name:
                      </div>
                      <div class="text_normal" *ngIf="k.customerInfo?.requiredFields?.firstName?.length>0"
                        class="text_normal">{{
                        k.customerInfo?.requiredFields?.firstName}}&nbsp;{{
                        k?.customerInfo?.requiredFields?.lastName}}</div>
                      <div class="mt-2 text_normal_head" *ngIf="k.customerInfo?.requiredFields?.firstName?.length>0">
                        Customer Email:
                      </div>
                      <div class="text_normal" *ngIf="k.customerInfo?.requiredFields?.email?.length>0"
                        class="text_normal">{{
                        k.customerInfo?.requiredFields?.email}}</div>
                      <table class="table_active mt-2">
                        <tr class="th_active">
                          <th>Travellers</th>
                          <th>No of Tickets</th>
                        </tr>
                        <tr class="td_active" *ngFor="let p of k.productsInfo;">
                          <td *ngIf="p.productName?.toString()?.length === 0">-</td>
                          <td *ngIf="p.productName?.toString()?.length > 0">{{p.productName}}</td>
                          <td *ngIf="p.quantity?.toString()?.length === 0">-</td>
                          <td *ngIf="p.quantity?.toString()?.length>0">{{p.quantity}}</td>
                        </tr>
                      </table>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-col>
          </ion-row>


        </ion-grid>
        <ion-row *ngIf="returnflightsArray?.length>0">
          <ion-col size="12" class="pl_5  position-relative" *ngFor="let z of returnFlight;">
            <div class="flt_icon">{{previewItenaryDetails?.length + 1}}</div>
            <ion-text class="day_origin">Return</ion-text>
            <ion-row>
              <ion-col size="12" size-sm="6" size-lg="4" class=" city_card_line text_pad pt-2">
                <ion-text class="d-block text_header">{{
                  z.cityName
                  }}&nbsp;<span class="dates_size">{{z.journeyDates.startDate|date:'MMMM d, y'}}</span>
                </ion-text>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
        <div *ngIf="returnFlight?.length>0" size="12" class="pl_5 mt-5 mb-5 return_flight_card_line position-relative">

          <div *ngIf="returnFlight?.length>0" class="flight_icon_flight">
            <img src="../../../assets/images/Artwork 6.svg" class="" />
          </div>

          <ion-row>
            <ion-col size="12" class="background_color pl-md-3">
              <ion-card *ngFor="let z of returnFlight;" class="bg-white text-dark flt_card lg_dsplay">
                <div class="no-gutters connecting_flights">
                  <div class="pb-2 position-relative">
                    <span class="flight_fare">{{z.flightDetails.fareDetails.totalFare.amount | currency:"₹ " : false : '2.0-0'}}</span>
                    <ion-grid class="container-fluid pt-2" *ngFor="
                        let f of z.flightDetails.flightSegments;
                        let flightsegment_index = index
                      ">
                      <ion-row class="row">
                        <ion-col class="d-flex col-12 mb-1" size="12">
                          <div class="d-inline">
                            <img src="{{ f.airlineInfo.logoURL }}" class="img-fluid" />
                            <!-- <ion-text class="text-dark pl-2">{{
                              f.airlineInfo.name
                              }}</ion-text> -->
                          </div>
                        </ion-col>
                        <ion-col class="col-md-4 col-6 mb_sm">
                          <ion-text class="d-block frm_to">{{ f.departureAirportLocationCode }}
                            {{ f.airlineInfo.departureCity }}
                            {{
                            f.departureDateTime | date: 'HH:mm'
                            }}</ion-text>
                          <ion-text class="d-block time">{{
                            f.departureDateTime | date: 'EEE,dd LLL yyyy'
                            }}</ion-text>
                        </ion-col>
                        <ion-col class="col-md-3 col-6">
                          <ion-text class="d-block text-center frm_to">
                            <ion-icon name="timer-outline"></ion-icon>
                          </ion-text>
                          <ion-text class="d-block text-center time">{{
                            f.journeyDuration | toNumber | durationPipe
                            }}</ion-text>
                        </ion-col>
                        <ion-col class="col-md-5 col-6 mb_sm">
                          <ion-text class="d-block frm_to">{{ f.arrivalAirportLocationCode }}
                            {{ f.airlineInfo.arrivalCity }}
                            {{
                            f.arrivalDateTime | date: 'HH:mm'
                            }}</ion-text>
                          <ion-text class="d-block time">{{
                            f.arrivalDateTime | date: 'EEE,dd LLL yyyy'
                            }}</ion-text>
                        </ion-col>
                      </ion-row>
                      <div class="col-12 text-center short_layover_div position-relative" *ngIf="
                      flightsegment_index !=
                      z.flightDetails.flightSegments.length - 1
                    ">
                    <ion-text class="text-dark short_layover_text">Layover
                      {{
                      diff(
                      f.arrivalDateTime,
                      z.flightDetails.flightSegments[
                      flightsegment_index + 1
                      ]?.departureDateTime
                      )
                      }}</ion-text>
                  </div>
                    </ion-grid>
                  </div>
                </div>
              </ion-card>
              <ion-card *ngFor="let z of returnFlight;" class="bg-white text-dark mb-2 ml-md-2 mr-2 flt_card sm_dsplay">
                <div class="no-gutters connecting_flights">
                  <div class="pb-2 position-relative">
                    <span class="flight_fare">{{z.flightDetails.fareDetails.totalFare.amount | currency:"₹ " : false : '2.0-0'}}</span>
                    <ion-grid class="container-fluid" *ngFor="
                        let f of z.flightDetails.flightSegments;
                        let flightsegment_index = index
                      ">
                      <ion-row class="row p-0">
                        <ion-col class="d-flex col-12 mb-1" size="12">
                          <div class="d-inline aero_name">
                            <img src="{{ f.airlineInfo.logoURL }}" class="img-fluid" />
                            <!-- <ion-text class="text-dark pl-2">{{
                              f.airlineInfo.name
                              }}</ion-text> -->
                          </div>
                        </ion-col>
                        <ion-col size="6" class="pl-2">
                          <ion-text class="d-block frm_to">{{ f.departureAirportLocationCode }}
                            {{ f.airlineInfo.departureCity }}
                            {{
                            f.departureDateTime | date: 'HH:mm'
                            }}</ion-text>
                        </ion-col>
                        <ion-col size="6" class="text-right pr-2">
                          <ion-text class="d-block frm_to">{{ f.arrivalAirportLocationCode }}
                            {{ f.airlineInfo.arrivalCity }}
                            {{
                            f.arrivalDateTime | date: 'HH:mm'
                            }}</ion-text>
                        </ion-col>
                        <ion-col class="d-flex pr-2 pl-2 pt-0 pb-0" size="12">
                          <div>
                            <ion-text class="d-inine sm_time">{{
                              f.departureDateTime | date: 'EEE,dd LLL yyyy'
                              }}</ion-text>
                          </div>
                          <div class="flex-grow-1 text-center position-relative z_0">
                            <!-- <ion-text class="d-inline pr-1 frm_to sm_time lft_lne z_2 bg-white"
                        ><ion-icon name="timer-outline"></ion-icon></ion-text
                      > -->
                            <ion-text class="d-inline sm_time rt_lne pr-1 z_2 bg-white">
                              <ion-icon name="timer-outline"></ion-icon>{{
                              f.journeyDuration | toNumber | durationPipe
                              }}
                            </ion-text>
                          </div>
                          <div>
                            <ion-text class="d-block sm_time text-right">{{
                              f.arrivalDateTime | date: 'EEE,dd LLL yyyy'
                              }}</ion-text>
                          </div>
                        </ion-col>
                        <div class="col-12 text-center short_layover_div position-relative" *ngIf="
                            flightsegment_index !=
                            z.flightDetails.flightSegments.length - 1
                          ">
                          <ion-text class="text-dark short_layover_text">Layover
                            {{
                            diff(
                            f.arrivalDateTime,
                            z.flightDetails.flightSegments[
                            flightsegment_index + 1
                            ]?.departureDateTime
                            )
                            }}</ion-text>
                        </div>
                      </ion-row>
                    </ion-grid>
                  </div>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </div>

      </ion-col>
    </ion-row>



    <!--  -->

    <div *ngIf="payFali" class="card pay_center" style="width: 18rem;">
      <div style="border-radius: 10px;">
        <div class="fail_payment_color">
          <div class="modal-body fail_payment_head">
            <img src="../../../assets/images/Group 64303.svg" alt="payment fail" class="failpayment_link">
            <h3 class="fail_payment_font1">Transaction Failed</h3>
            <p>
              Please Click On The Below Button To Book Your Trip Again
            </p>
            <button class="fail_button fail_payment_font1" data-dismiss="modal" (click)="close_pay()">Proceed
              Again</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ////Expair Items/// -->
    <div>
      <div *ngIf="hotelisValid" class="card pay_center" style="width: 18rem;">
        <div style="border-radius: 10px;">
          <div class="fail_trip_color">
            <div class="modal-body fail_trip_head">
              <img src="../../../assets/images/Group 72961.svg" alt="trip fail" class="failtrip_link">
              <p *ngFor="let h of sourceCode?.hotels; let q = index">
                {{h.hotelName}},{{h.hotelCity}}<br />
              </p>
              <h3 class="fail_trip_font1">Hotel is not available <br>at the moment</h3>
              <p>
                Please Click On The Below Button To Book Your Hotel Again
              </p>
              <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="Test_close()">Review
                Itinerary</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div>
      <div *ngIf="flightisValid" class="card pay_center" style="width: 18rem;">
        <div style="border-radius: 10px;">
          <div class="fail_trip_color">
            <div class="modal-body fail_trip_head">
              <img src="../../../assets/images/Group 72959.svg" alt="trip fail" class="failtrip_link">
              <div *ngFor="let f of sourceCode?.flights; let q = index">
                <p>
                  {{f?.departureCity}} - {{f?.arrivalCity}}<span>(</span>{{f?.airlineName}}<span>)</span><br />
                </p>
              </div>
              <h3 class="fail_trip_font1">Flight is not available <br>at the moment</h3>
              <p>
                Please Click On The Below Button To Book Your Flight Again
              </p>
              <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="Test_close()">Review
                Itinerary</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="bothItems" class="card pay_center" style="width: 30rem;">
      <div class="row" style="border-radius: 10px;">
        <div class="fail_trip_color col">
          <div class="modal-body fail_trip_head">
            <img src="../../../assets/images/Group 72959.svg" alt="payment fail" class="failtrip_link">
            <div *ngFor="let f of sourceCode?.flights; let q = index">
              <p>
                {{f?.departureCity}} - {{f?.arrivalCity}}<span>(</span>{{f?.airlineName}}<span>)</span><br />
              </p>
            </div>
            <h3 class="fail_trip_font1">Flight is not available <br>at the moment</h3>
          </div>
        </div>
        <div class="fail_trip_color col">
          <div class="modal-body fail_trip_head">
            <img src="../../../assets/images/Group 72961.svg" alt="payment fail" class="failtrip_link">
            <p *ngFor="let h of sourceCode?.hotels; let q = index">
              {{h.hotelName}},{{h.hotelCity}}<br />
            </p>
            <h3 class="fail_trip_font1">Hotel is not available <br>at the moment</h3>
          </div>
        </div>
      </div>

      <p class="trip_navigate">
        Please Click On The Below Button <br>
        To Book Your Item Again
      </p>
      <button class="fail_trip_font1 trip_center_button" data-dismiss="modal" (click)="Test_close()">Review
        Itinerary</button>
    </div>

    <!-- ///API ERROR/// -->
    <div *ngIf="!apiError " class="card pay_center" style="width: 18rem;">
      <div style="border-radius: 10px;">
        <div class="fail_trip_color">
          <div class="modal-body fail_trip_head">
            <img src="../../../assets/images/service error.gif" alt="trip fail" class="failtrip_link">
            <h3 class="fail_trip_font1">Network Error</h3>
            <p>
              Somting went worng.you may be able to try again later.
            </p>
            <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="Network_close()">Ok</button>
          </div>
        </div>
      </div>
    </div>
    <div *ngIf="flt_policy_error" class="card pay_center" style="width: 18rem;">
      <div style="border-radius: 10px;">
        <div class="fail_trip_color">
          <div class="modal-body fail_trip_head">
            <img src="../../../assets/images/service error.gif" alt="trip fail" class="failtrip_link">
            <p>
              Somting went worng with flights booking, please try again
            </p>
            <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="flightPoicyErrorClose()">Ok</button>
          </div>
        </div>
      </div>
    </div>

    <!-- //NoItemSelect// -->
    <div *ngIf="noItemSelect">
      <div class="card pay_center" style="width: 18rem;">
        <div style="border-radius: 10px;">
          <div class="fail_trip_color">
            <div class="modal-body fail_trip_head">
              <h3 class="fail_trip_font1">No Flight and Hotel is Slected</h3>
              <p>
                Please Click On The Below Button To Select Flight and Hotel
              </p>
              <button class="trip_button fail_trip_font1" data-dismiss="modal" (click)="Test_close()">Review
                Itinerary</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-grid>


  <div *ngIf="isLoading">
    <div class="blur-box spinner_overlay"></div>
    <div class="center_image">
      <div class="card pay_center" style="width: 18rem;">
        <div style="border-radius: 10px;">
          <div class="fail_trip_color">
            <div class="modal-body fail_trip_head">
              <h3 class="fail_trip_font1">Validating your bookings</h3>
              <p>
                Please do not Refresh the page/click Back button
              </p>
              <img src="../../../assets/images/loader.gif" class="failtrip_link" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    <!-- <div class="container col-10 mt-4 mb-4 mx-auto">
      <div class="row">
        <div class="col-4">
          <div class="text_styles_45824">View Cancellation Policy</div>
        </div>
        <div class="col-4">
        <div class="text_styles_45824" (click)="cancelBooking()" >Cancel Booking</div>
        </div>
      </div>
    </div> -->

  <!-- footer code starts -->

  <ion-footer class="ion-no-border border-none footer-background-color">
    <ion-card class="ion-card-footer footer-background-color">
      <ion-grid>
        <ul class="nav justify-content-center footer-text-styles mt-4 mb-2 dispaly-mobile">
          <li class="nav-item">
            <a class="nav-link footer-text-styles" [routerLink]="['/about-us']">About Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-text-styles" [routerLink]="['/staycation']">Staycations</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-text-styles" style="cursor: pointer;" (click)="goToContact()">Contact Us</a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-text-styles" [routerLink]="['/staycation']">Tailor Trips</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link footer-text-styles" href="#">Blogs</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-link footer-text-styles" [routerLink]="['/policy']">Policies</a>
          </li>
        </ul>
        <ul class="nav justify-content-center mt-2 ">
          <li class="nav-item">
            <a class="nav-link footer-icon-styles twitter-icon" target="_blank" href="https://twitter.com/voyaah1/">
              <ion-icon class="p-0 m-0" name="logo-twitter"></ion-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-icon-styles facebook-icon" target="_blank"
              href="https://www.facebook.com/voyaahcations/">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-icon-styles linkedin-icon" target="_blank"
              href="https://www.linkedin.com/company/voyaah/">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link footer-icon-styles instagram-icon" target="_blank"
              href="https://www.instagram.com/voyaah_cations/">
              <ion-icon name="logo-instagram"></ion-icon>
            </a>
          </li>
        </ul>
        <hr width="100%" class="hr-styles dispaly-mobile" noshade />
        <div class="pt-3 poweredby text-center pb-3 dispaly-mobile">
          <p>
            &#169; Copyright 2020-2021. All Rights Reserved. Powered by
            <span class="ml-1 company"><a href="https://ojas-it.com/" target="_blank">
                OJAS Innovative Technologies Pvt Ltd</a></span>
          </p>
        </div>
      </ion-grid>
    </ion-card>
  </ion-footer>
  <!-- footer code ends -->


</ion-content>
