<ion-col>
  <!-- Mobile view - Header part -->
  <ion-col size="12" class="p-2 fltr_sm">
    <ion-icon style="zoom: 2.0;
    margin-bottom: -2px;" name="arrow-back-circle-outline" (click)="backclick()"></ion-icon>
    <ion-text class="color2 float-right mr-3 mt-1" (click)="filterclick()">More Filters</ion-text>

    <!-- Mobile airport selection container -->
    <div class="row no-gutters">
      <div class="col-4 mt-2">
        <select (change)="selectOriginCode($event.target.selectedIndex)" name="cmbTipoTexto"
          class="form-control form-control-lg airport-select" id="cmbTipoTexto">
          <option *ngFor="let item of originCityCodes" [value]="item.airportCode">{{item.airportCode}} , {{
            item.cityName}} ({{item.distance.toFixed(1)}} KM)</option>
        </select>
      </div>
      <div class="col-4 mt-2 px-1">
        <select (change)="selectToCode($event.target.selectedIndex)" name="cmbTipoTexto"
          class="form-control form-control-lg airport-select" id="cmbTipoTexto">
          <option *ngFor="let item of toCityCodes" [value]="item.key">{{item.airportCode}} , {{ item.cityName}}
            ({{item.distance.toFixed(1)}} KM)</option>
        </select>
      </div>
      <div class="col-4 mt-2">
        <select (change)="selectFlightClass($event.target.selectedIndex)" name="cmbTipoTexto"
          class="form-control form-control-lg airport-select" id="cmbTipoTexto">
          <option *ngFor="let item of flightClasses" [value]="item.key">{{item}}</option>
        </select>
      </div>
    </div>
  </ion-col>
  <!-- web view airport selection container -->
  <ion-grid class="col-lg-12 col-md-12 flt_top">
    <ion-row>
      <!-- <div class="d-flex justify-content-between p-0"> -->
      <ion-col class="p-0">
        <ion-row class="position-relative">
          <ion-col class="position-relative col-4  pr-custom">
            <div class="position-relative frm_cls">
              <img src="../../assets/images/Artwork 1.svg" />
              <ion-text class="top">From</ion-text><br />
              <ion-text class="below">{{ fromLocation }}</ion-text>
            </div>
            <select (change)="selectOriginCode($event.target.selectedIndex)" name="cmbTipoTexto"
              class="form-control form-control-lg " id="cmbTipoTexto">
              <option *ngFor="let item of originCityCodes" [value]="item.airportCode">{{item.airportCode}} , {{
                item.cityName}} ({{item.distance.toFixed(1)}} KM)</option>
            </select>
          </ion-col>
          <!-- <ion-icon name="swap-horizontal-outline" class="swap_horizontal"></ion-icon> -->
          <ion-col class="position-relative col-4 pl-custom">
            <div class="position-relative frm_cls">
              <img src="../../assets/images/Artwork 1.svg" />
              <ion-text class="top">To</ion-text><br />
              <ion-text class="below">{{ toLocation }}</ion-text>
            </div>
            <select (change)="selectToCode($event.target.selectedIndex)" name="cmbTipoTexto"
              class="form-control form-control-lg " id="cmbTipoTexto">
              <option *ngFor="let item of toCityCodes" [value]="item.key">{{item.airportCode}} , {{ item.cityName}}
                ({{item.distance.toFixed(1)}} KM) </option>
            </select>
          </ion-col>
          <ion-col class="position-relative col-3 ">
            <div class="position-relative frm_cls">
              <img src="../../assets/images/Artwork 6.svg" class="flt_img" />
              <ion-text class="top">Departure</ion-text><br />
              <ion-text class="below">{{ fromDate | date }}</ion-text>
            </div>
            <select (change)="selectFlightClass($event.target.selectedIndex)" name="cmbTipoTexto"
              class="form-control form-control-lg" id="cmbTipoTexto">
              <option *ngFor="let item of flightClasses" [value]="item.key">{{item}}</option>
            </select>
          </ion-col>
          <ion-col class="position-relative filterFinal col-1 p-0">
            <ion-text class="mr_fltrs cursor-pointer" (click)="filterclick()">Filters</ion-text>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>

  <div [hidden]="!isLoading" class="text-center marginSet">
    <img class="img-fluid mx-auto" src="../../../assets/images/flight-fly.gif" width="300px" height="300px" />
  </div>
  <div [hidden]="!isError" class="text-center marginSet">
    <img class="img-fluid mx-auto d-block" src="../../../assets/images/service error.gif" width="200px"
      height="200px" />
    <ion-text class="d-block text-center errorMessage mt-2">{{ errorMessage }}</ion-text>
  </div>

  <!-- filght preferences container with multiple options -->
  <ion-grid class="container-fluid p-3" [hidden]="!fltr_cards_display">
    <ion-row class="mb-4 text-right">
      <ion-col class="col-12 col-sm-12 ml-2">
        <button class="btn ac_apply2 btn_hover" [ngClass]="isFilterApplied?'active':''" (click)="filterbackclick()" >
          Clear
        </button>
      <button class="btn apply_button float-right btn_hover btn_focus_bg_clr" (click)="applyclick()">
            Apply
          </button>
        <!-- <ion-text class="text-dark cursor-pointer" (click)="filterbackclick()">Back</ion-text><button
          class="btn apply_filters_btn ml-3" (click)="applyclick()">
          Apply
        </button> -->
      </ion-col>
    </ion-row>
    <ion-row class="mb-4">
      <ion-col class="col-6 col-sm-6">
        <ion-text class="d-block text-dark fltr_head">Price</ion-text>
        <ion-text class="d-block color2">Upto : {{ farevalue| currency:"₹ " : false : '1.0-0' }}</ion-text>
        <mat-slider min="100" max="{{maxFareValue}}" step="100" [(value)]="farevalue"
        class="pl-0 w-100" (change)="isFilterApplied = true" ></mat-slider>
        <div>
          <ion-text class="color2">{{0 | currency:"₹ " : false : '1.0-0'}}</ion-text>
          <ion-text class="color2 float-right">{{maxFareValue| currency:"₹ " : false : '1.0-0'}}</ion-text>
        </div>
      </ion-col>
      <ion-col class="col-6 col-sm-6">
        <ion-text class="d-block text-dark fltr_head">Fare Type:</ion-text>
        <ion-text class="d-block color2">Partially Refundable</ion-text>
        <mat-slide-toggle [checked]="isPartialRefundChecked" (change)="onRefundChanged($event)" class="mt-2 pt-1">
        </mat-slide-toggle>
      </ion-col>
    </ion-row>
    <ion-row class="mb-4">
      <ion-col class="col-12">
        <ion-text class="d-block text-dark fltr_head">Duration:</ion-text>
        <ion-text class="d-block color2">{{ dummyMaxDurationValue }} min</ion-text>
        <mat-slider min="30" max="{{maxDurationValue}}" step="1" [(value)]="dummyMaxDurationValue"
        class="pl-0 w-100" (change)="isFilterApplied = true">
        </mat-slider>
        <div>
          <ion-text class="color2">0 min</ion-text>
          <ion-text class="color2 float-right">{{maxDurationValue}} min</ion-text>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="mb-4">
      <ion-col class="col-7 col-sm-7">
        <ion-text class="d-block text-dark fltr_head">Depart Time:</ion-text>
        <div class="cursor-pointer dprt_tm mr-1" [ngClass]="depart[0] ? 'clicked' : ''" (click)="departclick(0)">
          <ion-text class="dprt_txt">00-06</ion-text>
        </div>
        <div class="cursor-pointer dprt_tm mr-1" [ngClass]="depart[1] ? 'clicked' : ''" (click)="departclick(1)">
          <ion-text class="dprt_txt">06-12</ion-text>
        </div>
        <br />
        <div class="cursor-pointer dprt_tm mr-1" [ngClass]="depart[2] ? 'clicked' : ''" (click)="departclick(2)">
          <ion-text class="dprt_txt">12-18</ion-text>
        </div>
        <div class="cursor-pointer dprt_tm mr-1" [ngClass]="depart[3] ? 'clicked' : ''" (click)="departclick(3)">
          <ion-text class="dprt_txt">18-00</ion-text>
        </div>
      </ion-col>
      <ion-col class="col-5 col-sm-5">
        <ion-text class="d-block text-dark fltr_head">Stops:</ion-text>
        <select name="selectedQuantity" id="aantal" class="form-control"
        [(ngModel)]="selectedStop" (change)="isFilterApplied = true">
          <option *ngFor="let option of listOfstops" [value]="option">
            <span *ngIf="option==-1">Select stop(s)</span>
            <span *ngIf="option!=-1">{{option}} stop(s)</span>
          </option>
        </select>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="col-6 col-sm-6">
        <ion-text class="d-block text-dark fltr_head">Airlines:</ion-text>
        <ng-multiselect-dropdown [placeholder]="'Select Airlines'" [data]="airlines" [(ngModel)]="selectedAirlines"
          [settings]="dropdownSettings" (change)="isFilterApplied = true">
        </ng-multiselect-dropdown>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- Web view - flights search results -->
  <div class="no-gutters lg_dsplay p-2">
    <ion-grid [hidden]="!(flightsmodified.length > 0 && !fltr_cards_display)" class="accordion" id="accordion_lg">
      <ion-row>
        <ion-col class="col-12">
          <div class="sort-container">
            <span (click)="sortByPrice()" [ngClass]="PriceOrDurationSorted == 'PRICE'?'sort-selected':'normal'">Price
              <span (click)="sortByPrice()" [hidden]="!isPriceSortedInAsc"><i class="fas fa-caret-up ml-2 mr-2"></i></span>
              <span (click)="sortByPrice()" [hidden]="isPriceSortedInAsc"><i
                  class="fas fa-caret-down ml-2 mr-2"></i></span>
            </span>
            <span (click)="sortByDuration()"
              [ngClass]="PriceOrDurationSorted == 'DURATION'?'sort-selected':'normal'">Duration
              <span (click)="sortByDuration()" [hidden]="!isDurationSortedInAsc"><i
                  class="fas fa-caret-up ml-2 mr-2"></i></span>
              <span (click)="sortByDuration()" [hidden]="isDurationSortedInAsc"><i
                  class="fas fa-caret-down ml-2 mr-2"></i></span>
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-card class="bg-white clr_primary position-relative mb-2 flt_card "
        *ngFor="let h of flightsmodified; let ind = index">
        <ion-grid class="container-fluid">
          <ion-row class="row">
            <ion-col class="d-flex col-12 mb-3 mt-3" size="12">
              <div class="d-inline">
                <img *ngFor="let image of h.flightSegments|airlinesImage" src="{{image}}" class="img-fluid pr-2" />
                <!-- <ion-text class="pr-2 airline_name position-relative"
                  *ngFor="let name of h.flightSegments|airlinesName">{{name}}
                </ion-text> -->
              </div>
            </ion-col>
            <ion-col class="col-md-3 col-6 mb_sm">
              <ion-text class="d-block frm_to">{{
                h.flightSegments[0].departureAirportLocationCode
                }} {{h.flightSegments[0].airlineInfo.departureCity}}</ion-text>
              <ion-text class="d-block time">{{
                h.flightSegments[0].departureDateTime |date:'MMM d, HH:mm'
                }}</ion-text>
            </ion-col>
            <ion-col class="col-md-3 col-6">
              <ion-text class="d-block text-center frm_to">
                <ion-icon name="timer-outline"></ion-icon>
              </ion-text>
              <!-- <ion-text class="d-block time text-center">{{h.totalDuration|durationPipe}}</ion-text> -->
              <ion-text class="d-block text-center time">{{h|totalDuration|durationPipe}}</ion-text>
            </ion-col>
            <ion-col class="col-md-6 col-6 mb_sm d-flex justify-content-between">
              <div class="no-gutters">
                <ion-text class="d-block frm_to">{{
                  h.flightSegments[h.flightSegments.length - 1]
                  .arrivalAirportLocationCode
                  }} {{
                  h.flightSegments[h.flightSegments.length - 1]
                  .airlineInfo.arrivalCity
                  }}</ion-text>
                <ion-text class="d-block time">{{
                  h.flightSegments[h.flightSegments.length - 1].arrivalDateTime
                  |date:'MMM d, HH:mm'
                  }}</ion-text>
              </div>
              <div class="no-gutters">
                <span class="fare">{{h.fareDetails.totalFare.amount| currency:"₹ " : false : '1.0-0'}}</span>
              </div>
            </ion-col>
            <ion-col size="12" class="pl-3 mt-2 mb-2">
              <ion-text class="fnt_sze_13 position-relative stops mr-3" *ngFor="let s of h.flightSegments">
                {{ s.departureAirportLocationCode }}</ion-text>
              <ion-text class="fnt_sze_13 position-relative mr-1">{{
                h.flightSegments[h.flightSegments.length - 1]
                .arrivalAirportLocationCode
                }}</ion-text>
              <ion-text class="fnt_sze_13 pl-5">{{ h.flightSegments.length - 1 }} stop(s)</ion-text>
              <ion-text class="flt_dtls cursor-pointer" data-toggle="collapse" [attr.data-target]="'#collapse-' + ind"
                aria-expanded="true" [attr.aria-controls]="'collapse-' + ind">Flight Details ></ion-text>
            </ion-col>
            <button data-amplify-analytics-on='click' data-amplify-analytics-name='AddFlights'
              data-amplify-analytics-attrs='Flights' type="button" class="btn add_nw btn_hover btn_focus_bg_clr" (click)="addFlights(h)">
              Add Now
            </button>
          </ion-row>
        </ion-grid>
        <div class="no-gutters connecting_flights collapse position-relative" [attr.id]="'collapse-' + ind" aria-labelledby="headingTwo"
          data-parent="#accordion_lg">
          <span (click)="openPolicy(h.fareSourceCode)" class="float-right flt_policy cursor-pointer">Flight Polocies</span>
          <div class="pb-3">
            <ion-grid class="container-fluid pt-3" *ngFor="let f of h.flightSegments; let flightsegment_index=index">
              <ion-row class="row">
                <ion-col class="d-flex col-12 mb-3" size="12">
                  <div class="d-inline aero_name">
                    <img src="{{f.airlineInfo.logoURL}}" class="img-fluid" />
                    <ion-text class="text-dark pl-2">{{f.airlineInfo.name}}</ion-text>
                  </div>
                </ion-col>
                <ion-col class="col-md-3 col-6 mb_sm">
                  <ion-text class="d-block frm_to">{{
                    f.departureAirportLocationCode
                    }} {{
                    f.departureDateTime | date:'HH:mm'
                    }}</ion-text>
                  <ion-text class="d-block time">{{
                    f.departureDateTime | date:'EEE,dd LLL yyyy'
                    }}</ion-text>
                </ion-col>
                <ion-col class="col-md-3 col-6">
                  <ion-text class="d-block text-center frm_to">
                    <ion-icon name="timer-outline"></ion-icon>
                  </ion-text>
                  <ion-text class="d-block text-center time">{{f.journeyDuration |toNumber|durationPipe}}</ion-text>
                </ion-col>
                <ion-col class="col-md-6 col-6 mb_sm">
                  <ion-text class="d-block frm_to">{{
                    f.arrivalAirportLocationCode
                    }} {{
                    f.arrivalDateTime | date:'HH:mm'
                    }}</ion-text>
                  <ion-text class="d-block time">{{
                    f.arrivalDateTime | date:'EEE,dd LLL yyyy'
                    }}</ion-text>
                </ion-col>
              </ion-row>
              <div class="text-center short_layover_div position-relative"
                [hidden]="!(flightsegment_index!=h.flightSegments.length-1)">
                <ion-text class="text-dark short_layover_text">Layover
                  {{diff(f.arrivalDateTime,h.flightSegments[flightsegment_index+1]?.departureDateTime)}}</ion-text>
              </div>
            </ion-grid>
          </div>

        </div>
      </ion-card>
    </ion-grid>
  </div>

  <!-- Mobile view - flights search results -->
  <div class="px-2 mt-2 sm_dsplay">
    <ion-grid class="" [hidden]="!(flightsmodified.length > 0&& !fltr_cards_display)" class="accordion" id="accordion_sm">
      <ion-row>
        <ion-col class="col-12">
          <div class="sort-container">
            <span (click)="sortByPrice()" [ngClass]="PriceOrDurationSorted == 'PRICE'?'sort-selected':'normal'">Price
              <span (click)="sortByPrice()" [hidden]="!isPriceSortedInAsc"><i class="fas fa-caret-up ml-2 mr-2"></i></span>
              <span (click)="sortByPrice()" [hidden]="isPriceSortedInAsc"><i
                  class="fas fa-caret-down ml-2 mr-2"></i></span>
            </span>
            <span (click)="sortByDuration()"
              [ngClass]="PriceOrDurationSorted == 'DURATION'?'sort-selected':'normal'">Duration
              <span (click)="sortByDuration()" [hidden]="!isDurationSortedInAsc"><i
                  class="fas fa-caret-up ml-2 mr-2"></i></span>
              <span (click)="sortByDuration()" [hidden]="isDurationSortedInAsc"><i
                  class="fas fa-caret-down ml-2 mr-2"></i></span>
            </span>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col class="position-relative">
          <ion-card class="bg-white text-dark flt_card mb-2" *ngFor="let h of flightsmodified;let ind=index;">
            <ion-grid class="container-fluid">
              <ion-row class="row p-0">
                <ion-col class="d-flex col-12 mb-2 p-2" size="12">
                  <div class="d-inline">
                    <img *ngFor="let image of h.flightSegments|airlinesImage" src="{{image}}" class="img-fluid pr-2" />
                    <!-- <ion-text class="text-dark pr-2 airline_name position-relative"
                      *ngFor="let name of h.flightSegments|airlinesName">
                      {{name}}
                    </ion-text> -->
                  </div>
                </ion-col>
                <ion-col size="6" class="pl-2">
                  <ion-text class="d-block frm_to">{{
                    h.flightSegments[0].departureAirportLocationCode
                    }} {{h.flightSegments[0].airlineInfo.departureCity}}</ion-text>
                </ion-col>
                <ion-col size="6" class="text-right pr-2">
                  <ion-text class="d-block frm_to">{{
                    h.flightSegments[h.flightSegments.length - 1]
                    .arrivalAirportLocationCode
                    }} {{ h.flightSegments[h.flightSegments.length - 1].airlineInfo.arrivalCity}}</ion-text>
                </ion-col>
                <ion-col class="d-flex p-2" size="12">
                  <div>
                    <ion-text class="d-inine time">{{
                      h.flightSegments[0].departureDateTime | slice: 11:16
                      }}</ion-text>
                  </div>
                  <div class="flex-grow-1 text-center position-relative z_0">
                    <ion-text class="d-inline pr-1 frm_to time lft_lne bg-white z_2">
                      <ion-icon name="timer-outline"></ion-icon>
                    </ion-text>
                    <ion-text class="d-inline time rt_lne bg-white pr-1 z_2">{{h|totalDuration|durationPipe}}</ion-text>
                  </div>
                  <div class="text-right">
                    <ion-text class="d-block time">{{
                      h.flightSegments[h.flightSegments.length - 1]
                      .arrivalDateTime | slice: 11:16
                      }}</ion-text>
                  </div>
                </ion-col>
                <ion-col size="12" class="p-2 d-flex justify-content-between">
                  <div>
                    <ion-text class="fnt_sze_13 position-relative stops mr-3" *ngFor="let s of h.flightSegments">
                      {{ s.departureAirportLocationCode }}</ion-text>
                    <ion-text class="fnt_sze_13 position-relative mr-1">{{
                      h.flightSegments[h.flightSegments.length - 1]
                      .arrivalAirportLocationCode
                      }}</ion-text>
                  </div>

                  <ion-text class="fnt_sze_13">{{ h.flightSegments.length - 1 }} stop(s)</ion-text>
                  <span class="fare_mobile">{{h.fareDetails.totalFare.amount| currency:"₹ " : false : '1.0-0'}}</span>
                </ion-col>
                <ion-col size="12" class="flt_crd_btm p-3">
                  <ion-row>
                    <ion-col size="5" class="flt_dtls_sm fnt_sze_13 mob-add-now" data-toggle="collapse"
                      [attr.data-target]="'#collapse-' + ind" aria-expanded="true"
                      [attr.aria-controls]="'collapse-' + ind">
                      Flight Details<ion-icon name="caret-down" class="mb_fnt"></ion-icon>
                    </ion-col>
                    <ion-col size="7" class="add text-right">
                      <button class="mob-add-now btn_hover" (click)="addFlights(h)">Add Now</button>
                    </ion-col>
                  </ion-row>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div class="no-gutters connecting_flights collapse position-relative" [attr.id]="'collapse-' + ind"
              aria-labelledby="headingTwo" data-parent="#accordion_sm">
              <span (click)="openPolicy(h.fareSourceCode)" class="flt_policy cursor-pointer">Flight Polocies</span>
              <div class="pb-3">
                <ion-grid class="container-fluid" *ngFor="let f of h.flightSegments; let flightsegment_index=index">
                  <ion-row class="row p-0">
                    <ion-col class="d-flex col-12 mb-2 p-2" size="12">
                      <div class="d-inline aero_name">
                        <img src="{{f.airlineInfo.logoURL}}" class="img-fluid" />
                        <ion-text class="text-dark pl-2">{{f.airlineInfo.name}}</ion-text>
                      </div>
                    </ion-col>
                    <ion-col size="6" class="pl-2">
                      <ion-text class="d-block frm_to">{{
                        f.departureAirportLocationCode
                        }} {{
                        f.departureDateTime | date:'HH:mm'
                        }}</ion-text>
                    </ion-col>
                    <ion-col size="6" class="text-right pr-2">
                      <ion-text class="d-block frm_to">{{
                        f.arrivalAirportLocationCode
                        }} {{
                        f.arrivalDateTime | date:'HH:mm'
                        }}</ion-text>
                    </ion-col>
                    <ion-col class="d-flex p-2" size="12">
                      <div>
                        <ion-text class="d-inine sm_time">{{
                          f.departureDateTime | date:'EEE,dd LLL yyyy'
                          }}</ion-text>
                      </div>
                      <div class="flex-grow-1 text-center position-relative z_0">
                        <ion-text class="d-inline pr-1 frm_to sm_time lft_lne z_2 back_color3">
                          <ion-icon name="timer-outline"></ion-icon>
                        </ion-text>
                        <ion-text class="d-inline sm_time rt_lne pr-1 z_2 back_color3">
                          {{f.journeyDuration |toNumber|durationPipe}}</ion-text>
                      </div>
                      <div class="text-right">
                        <ion-text class="d-block sm_time">{{
                          f.arrivalDateTime | date:'EEE,dd LLL yyyy'
                          }}</ion-text>
                      </div>
                    </ion-col>
                    <div class="col-12 text-center short_layover_div position-relative"
                      [hidden]="!(flightsegment_index!=h.flightSegments.length-1)">
                      <ion-text class="text-dark short_layover_text">Layover
                        {{diff(f.arrivalDateTime,h.flightSegments[flightsegment_index+1]?.departureDateTime)}}
                      </ion-text>
                    </div>
                  </ion-row>
                </ion-grid>
              </div>

            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


</ion-col>
