/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import '~@ionic/angular/css/core.css';

/* Basic CSS for apps built with Ionic */
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

@import '~bootstrap/dist/css/bootstrap.css';
@import '~material-design-icons/iconfont/material-icons.css';
/* Add application styles & imports to this file! */
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/indigo-pink.css';
$primary-color: #224c51;
$mat-myapp-primary: (
  50: #e5eaeb,
  100: #becbcd,
  200: #93a9ac,
  300: #67878b,
  400: #476d72,
  500: #265359,
  600: #224c51,
  700: #1c4248,
  800: #17393e,
  900: #0d292e,
  A100: #6be8ff,
  A200: #38e0ff,
  A400: #05d9ff,
  A700: #00c6eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-myapp-accent: (
  50: #e5eaeb,
  100: #becbcd,
  200: #93a9ac,
  300: #67878b,
  400: #476d72,
  500: #265359,
  600: #224c51,
  700: #1c4248,
  800: #17393e,
  900: #0d292e,
  A100: #6be8ff,
  A200: #38e0ff,
  A400: #05d9ff,
  A700: #00c6eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$primary: mat-palette($mat-myapp-primary);
$accent: mat-palette($mat-myapp-accent);

$theme: mat-light-theme($primary, $accent);

@include angular-material-theme($theme);

mat-card {
  padding: 0px !important;

  mat-card-title,
  mat-card-content {
    padding: 0.5em;
  }
}
@font-face {
  font-family: 'AzoSans-Regular';
  src: url('assets/font/AzoSans-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  font-family: 'AzoSans-Regular';
  // font-weight: 400;
}

body {
  margin: env(safe-area-inset-top, 20px) env(safe-area-inset-right, 20px)
    env(safe-area-inset-bottom, 20px) env(safe-area-inset-left, 20px);
}


ion-content {
  --background: none;
}
ion-item {
  --background: none;
}
ion-grid {
  --background: white;
}
ion-fab-button {
  --background: #265359 !important;
  --color: white !important;
}
ion-text{
  --color:#265359 ;
}
p, span, h1, h2, h3, h4,div{
  color: #265359;
}
button{
.spinner-border{
  color: white;
}
}
.btn_hover:hover{
  color: white !important;
}
.btn_focus_bg_clr:focus{
  background-color: $primary-color !important;
  color: white !important;
}
.clr_primary{
  color: $primary-color !important;
}
.cursor-pointer {
  cursor: pointer !important;
}
.TimelinePopup-modal-css .modal-wrapper {
  height: 195px;
  position: absolute;
  display: block;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
}
.entercode-modal-css .modal-wrapper {
  height: 195px;
  position: absolute;
  display: block;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
}
.policy-modal-css .modal-wrapper{
  max-width: 50%;
  height: 75%;
}
.login-modal-css .modal-wrapper {
  height: 430px;
  top: 15%;
  right: 6%;
  position: absolute;
  display: block;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
}
.text-justify{
  text-align: justify !important;
}
.signup-modal-css .modal-wrapper {
  // height: 480px;
  height: 480px;
  top: 15%;
  right: 6%;
  position: absolute;
  display: block;
  max-width: 400px;
  background-color: white;
  border-radius: 15px;
}
.enteremail-modal-css .modal-wrapper {
  height: 200px;
  top: 15%;
  right: 6%;
  position: absolute;
  display: block;
  width: 340px;
  background-color: white;
  border-radius: 15px;
}
.forgot-modal-css .modal-wrapper {
  height: 280px;
  top: 15%;
  right: 6%;
  position: absolute;
  display: block;
  width: 409px;
  background-color: white;
  border-radius: 15px;
}
.forgotOtp-modal-css .modal-wrapper {
  height: 350px;
  top: 15%;
  right: 6%;
  position: absolute;
  display: block;
  width: 409px;
  background-color: white;
  border-radius: 15px;
}
.forgotConfirm-modal-css .modal-wrapper {
  height: 410px;
  top: 15%;
  right: 6%;
  padding: 5px;
  position: absolute;
  display: block;
  width: 409px;
  background-color: white;
  border-radius: 15px;
}
.addTravellerPopover .popover-content {
  top: 177px !important;
  right: 0 !important;
  bottom: 0 !important;
  left: unset !important;
  transform-origin: right top !important;
  max-width: 375px !important;
}
// .login-modal-css .modal-wrapper.sc-ion-modal-md {
//   background-color: white !important;
//   // margin-left: 60%;
//   // margin-bottom: 32%;
//   position: absolute;
//   top: 135px;
//   right: 60px;
// }
// .login-modal-css .modal-wrapper.sc-ion-modal-md-h {
//   --border-radius: 20px !important;
//   --height: 430px !important;
//   --width: 400px !important;
// }
@media (max-width: 990px) {
  .modal-wrapper.sc-ion-modal-md,
  .modal-wrapper.sc-ion-modal-ios {
    top: unset !important;
    right: unset !important;
  }
}
@media (max-width:576px){
  .policy-modal-css .modal-wrapper{
    max-width: 90%;
    height: 90%;
  }
  .TimelinePopup-modal-css .modal-wrapper{
    height:150px;
    max-width: 300px;
    .text_colour{
      font-size: 14px;
    }
  }

}
@media(max-width:410px){
  .login-modal-css .modal-wrapper{
    max-width: 350px;
  }
  .signup-modal-css .modal-wrapper {
    max-width: 350px;
  }
  .entercode-modal-css .modal-wrapper {
    max-width: 350px;
  }
  .forgotConfirm-modal-css .modal-wrapper{
    max-width: 350px;
  }
}
@media(max-width:359px){
  .login-modal-css .modal-wrapper{
    max-width: 310px;
  }
  .signup-modal-css .modal-wrapper{
    max-width: 310px;
  }
  .entercode-modal-css .modal-wrapper{
    max-width: 310px;
  }
  .enteremail-modal-css .modal-wrapper {
    max-width: 310px;
  }
  .forgotConfirm-modal-css .modal-wrapper{
    max-width: 310px;
  }
}
// .ion-page1 {
//   background-color: blue !important;
//   height: 100vh !important;
//   // --width: 900px;
// }

// @media only screen and (min-height: 768px) and (min-width: 768px) {
//   .sc-ion-modal-md-h {
//     --width: 600px;
//     --border-radius: 25px;
//     --height: 55% !important;
//   }
// }

.form-control:focus,
.btn:focus {
  color: #26595383;
  background-color: #fff;
  border-color: unset;
  outline: 0;
  box-shadow: unset;
}
.form-control {
  font-size: 14px;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

// .modal-backdrop.show {
//   opacity: 0px;
// }
// .modal-content {
//   position: relative;
//   display: flex;
//   flex-direction: column;
//   width: 73%;
//   pointer-events: auto;
//   background-color: #fff;
//   background-clip: padding-box;
//   border: 1px solid rgba(0, 0, 0, 0.2);
//   border-radius: 0.3rem;
//   outline: 0;
//   border-top-left-radius: 31px;
//   max-width: 302px !important;
//   left: 100px;
// }

// @media (min-width: 576px) {
//   .modal-content {
//     left: 282px;
//   }
// }
// @media (min-width: 768px) {
//   .modal-content {
//     left: 240px;
//   }
// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .modal-content {
//     left: 257px;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .modal-content {
//     left: 329px;
//   }
// }

// @media (min-width: 576px) {
//   .modal-content {
//     left: 338px;
//   }
// }
// @media (min-width: 768px) {
//   .modal-content {
//     left: 295px;
//   }
// }
// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {
//   .modal-content {
//     left: 340px;
//   }
// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {
//   .modal-content {
//     left: 511px;
//   }
// }
.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 100%;
  background: #d4b2b1;
  opacity: 4.2;
}
.swiper-pagination-bullet-active {
  background: #265359;
}

.loading-block {
  top: 35% !important;
}
.loading-block .loader-image {
  width: 10% !important;
}
.loading-block .message {
  color: rgb(41, 41, 41);
  font-size: 16px;
  padding: 5px 0px;
}
// Mixin
@mixin css3($property, $value) {
  @each $prefix in -webkit-, -moz-, -ms-, -o-, '' {
    #{$prefix}#{$property}: $value;
  }
}

// Preloader
.loading-block .preloader {
  position: relative;
  height: 30px;
  width: 100%;
  overflow: visible;
}

.loading-block .preloader i {
  display: block;
  width: 12px;
  height: 12px;
  background: black;
  border-radius: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -8px 0 0 -8px;
  opacity: 1;
  transform: translate3d(60px, 0, 0);
  -webkit-transform: translate3d(60px, 0, 0);
  overflow: hidden;
  text-indent: -9999px;
  border: 2px solid #265359;
  &:nth-child(1) {
    background: #265359;
    @include css3(animation, voyaah 2s ease-in-out infinite);
  }
  &:nth-child(2) {
    background: #265359;
    @include css3(animation, voyaah 2s ease-in-out infinite 0.2s);
  }
  &:nth-child(3) {
    background: #265359;
    @include css3(animation, voyaah 2s ease-in-out infinite 0.4s);
  }
}

@-webkit-keyframes voyaah {
  0% {
    opacity: 0;
    @include css3(transform, translate3d(100px, 0, 0));
  }
  30% {
    opacity: 1;
    @include css3(transform, translate3d(0, 0, 0));
  }
  70% {
    opacity: 1;
    @include css3(transform, translate3d(0, 0, 0));
  }
  100% {
    opacity: 0;
    @include css3(transform, translate3d(-100px, 0, 0));
  }
}
@-o-keyframes voyaah {
  0% {
    opacity: 0;
    @include css3(transform, translate3d(100px, 0, 0));
  }
  30% {
    opacity: 1;
    @include css3(transform, translate3d(0, 0, 0));
  }
  70% {
    opacity: 1;
    @include css3(transform, translate3d(0, 0, 0));
  }
  100% {
    opacity: 0;
    @include css3(transform, translate3d(-100px, 0, 0));
  }
}
@keyframes voyaah {
  0% {
    opacity: 0;
    @include css3(transform, translate3d(100px, 0, 0));
  }
  30% {
    opacity: 1;
    @include css3(transform, translate3d(0, 0, 0));
  }
  70% {
    opacity: 1;
    @include css3(transform, translate3d(0, 0, 0));
  }
  100% {
    opacity: 0;
    @include css3(transform, translate3d(-100px, 0, 0));
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}
