<ion-row class="w-100 pt-4 pb-5 position-relative left_scroll">
  <ion-col class="col-1 col-lg-1 position-relative p-0">
    <p class="circle position-absolute z-index-2">
      <img class="location" src="../../../assets/images/loc_in_circle.svg" />
    </p>
  </ion-col>

  <ion-col class="col-11 col-lg-11 p-0 text-dark vert_line_div">
    <ion-row class="pl-15 origin_line">
      <ion-col class="pl-5 pr-0 position-relative">
        <ion-text class="org_txt">Origin</ion-text>
        <ion-input class="inputsearch" placeholder="{{ originCity.cityName }} , {{ originCity.countryName }}" readonly>
        </ion-input>
      </ion-col>
    </ion-row>

    <div cdkDropList class="example-list mt-3 " id="accordion_timeline" (cdkDropListDropped)="drop($event)">
      <div cdkDrag class="col-12 p-0 mb-3" *ngFor="let i of locationData; let p = index" [cdkDragStartDelay]="400"
        cdkDragLockAxis="y">
        <ion-grid *ngIf="i.flightDetails.journeyType" class="lg_dsplay">
          <ion-row>
            <ion-col class="pl-5 fl_card_line position-relative">
              <ion-icon name="close-circle-outline" (click)="removeFlight(p)" class="closeicon cursor-pointer mr-3 mt-2">
              </ion-icon>
              <div class="flt_icon">
                <img src="../../../assets/images/Artwork 6.svg" />
              </div>
              <ion-card class="bg-white clr_primary mb-2 ml-3 mr-30 flt_card">
                <ion-grid class="container-fluid">
                  <ion-row class="row">
                    <ion-col class="d-flex col-12 mb-2" size="12">
                      <div class="d-inline">
                        <img *ngFor="let image of i.flightDetails.flightSegments|airlinesImage" src="{{image}}"
                          class="img-fluid pr-2" />
                        <!-- <ion-text class="pr-2 airline_name position-relative"
                          *ngFor="let name of i.flightDetails.flightSegments|airlinesName">
                          {{name}}
                        </ion-text> -->
                      </div>
                    </ion-col>
                    <ion-col class="col-md-3 pr-0 col-6 mb_sm">
                      <ion-text class="d-block frm_to clr_primary">{{
                        i.flightDetails.flightSegments[0]
                        .departureAirportLocationCode
                        }} {{i.flightDetails.flightSegments[0].airlineInfo.departureCity}}</ion-text>
                      <ion-text class="d-block time">{{
                        i.flightDetails.flightSegments[0].departureDateTime|date:'MMM d, HH:mm'

                        }}</ion-text>
                    </ion-col>
                    <ion-col class="col-md-3 col-6 pr-0">
                      <ion-text class="d-block text-center frm_to">
                        <ion-icon name="timer-outline"></ion-icon>
                      </ion-text>
                      <ion-text class="d-block text-center time">{{i.flightDetails|totalDuration|durationPipe}}
                      </ion-text>
                    </ion-col>
                    <ion-col class="col-md-6 col-6 mb_sm pr-0 d-flex justify-content-between">
                      <div>
                        <ion-text class="d-block frm_to">{{
                          i.flightDetails.flightSegments[
                          i.flightDetails.flightSegments.length - 1
                          ].arrivalAirportLocationCode
                          }} {{i.flightDetails.flightSegments[
                          i.flightDetails.flightSegments.length - 1
                          ].airlineInfo.arrivalCity}}</ion-text>
                        <ion-text class="d-block time">{{
                          i.flightDetails.flightSegments[
                          i.flightDetails.flightSegments.length - 1
                          ].arrivalDateTime |date:'MMM d, HH:mm'
                          }}</ion-text>
                      </div>
                        <span class="flight_fare">{{i.flightDetails.fareDetails.totalFare.amount| currency:"₹ " : false : '1.0-0'}}</span>

                    </ion-col>
                    <ion-col size="12" size-sm class="pl-3 mt-2 mb-2">
                        <ion-text class="fnt_sze_13 position-relative stops mr-3"
                        *ngFor="let s of i.flightDetails.flightSegments">{{ s.departureAirportLocationCode }}</ion-text>
                      <ion-text class="fnt_sze_13 position-relative mr-1">{{
                        i.flightDetails.flightSegments[
                        i.flightDetails.flightSegments.length - 1
                        ].arrivalAirportLocationCode
                        }}</ion-text>
                      <ion-text class="fnt_sze_13 pl-5">{{
                        i.flightDetails.flightSegments.length - 1
                        }}
                        stop(s)</ion-text>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-grid *ngIf="i.flightDetails.journeyType" class="sm_dsplay">

          <ion-row>
            <ion-icon name="close-circle-outline" (click)="removeFlight(p)" class="mobilecloseicon cursor-pointer mr-3 mt-2">
            </ion-icon>
            <ion-col class="py-3 position-relative flt_sm_lne">
              <ion-card class="bg-white text-dark mb-2 ml-2 mr-2 flt_card">
                <ion-grid class="container-fluid">
                  <ion-row class="row p-2">
                    <ion-col class="d-flex col-12 mb-2 p-0" size="12">
                      <div class="d-inline">
                        <img *ngFor="let image of i.flightDetails.flightSegments|airlinesImage" src="{{image}}"
                          class="img-fluid pr-2" />
                        <!-- <ion-text class="text-dark pr-2 airline_name position-relative"
                          *ngFor="let name of i.flightDetails.flightSegments|airlinesName">
                          {{name}}
                        </ion-text> -->
                      </div>
                    </ion-col>
                    <ion-col size="6">
                      <ion-text class="d-block frm_to">{{
                        i.flightDetails.flightSegments[0]
                        .departureAirportLocationCode
                        }} {{i.flightDetails.flightSegments[0].airlineInfo.departureCity}}</ion-text>
                    </ion-col>
                    <ion-col size="6" class="text-right">
                      <ion-text class="d-block frm_to">{{
                        i.flightDetails.flightSegments[
                        i.flightDetails.flightSegments.length - 1
                        ]?.arrivalAirportLocationCode
                        }} {{
                        i.flightDetails.flightSegments[
                        i.flightDetails.flightSegments.length - 1
                        ]?.airlineInfo.arrivalCity
                        }}</ion-text>
                    </ion-col>
                    <ion-col class="d-flex" size="12">
                      <div>
                        <ion-text class="d-inine time">{{
                          i.flightDetails.flightSegments[0].departureDateTime
                          | slice: 11:16
                          }}</ion-text>
                      </div>
                      <div class="flex-grow-1 text-center position-relative z_0">
                        <ion-text class="d-inline time pr-1 frm_to lft_lne bg-white z_2">
                          <ion-icon name="timer-outline"></ion-icon>
                        </ion-text>
                        <ion-text class="d-inline time rt_lne bg-white pr-1 z_2">
                          {{i.flightDetails|totalDuration|durationPipe}}</ion-text>

                      </div>
                      <div>
                        <ion-text class="d-block time">{{
                          i.flightDetails.flightSegments[
                          i.flightDetails.flightSegments.length - 1
                          ].arrivalDateTime | slice: 11:16
                          }}</ion-text>
                      </div>
                    </ion-col>
                    <ion-col size="12" size-sm class="mt-2 d-flex justify-content-between">
                      <div>
                        <ion-text class="fnt_sze_13 position-relative stops mr-3"
                        *ngFor="let s of i.flightDetails.flightSegments">{{ s.departureAirportLocationCode }}</ion-text>
                      <ion-text class="fnt_sze_13 position-relative mr-1">{{
                        i.flightDetails.flightSegments[
                        i.flightDetails.flightSegments.length - 1
                        ].arrivalAirportLocationCode
                        }}</ion-text>
                      </div>

                      <ion-text class="fnt_sze_13">{{
                        i.flightDetails.flightSegments.length - 1
                        }}
                        stop(s)</ion-text>
                        <span class="flight_fare_sm">{{i.flightDetails.fareDetails.totalFare.amount| currency:"₹ " : false : '1.0-0'}}</span>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

        <ion-grid [attr.id]="'timelinecollapse-' + p"  class="collapse" [ngClass]="'timelinecollapse-' + p">
          <ion-row *ngIf="!i.flightDetails.journeyType">
            <ion-col>
              <ion-text class="addStyle d-inline-block pl-3 pl-sm-5 ml-5 mb-2"
                (click)="addModeOfJourney(p,i.day, i.cityName, i.countryName, i.id, i, i.date.start, i.date.end,i.latitude,i.longitude)">
                <ion-icon name="add" class="plus"></ion-icon> Add Flight
              </ion-text>
            </ion-col>
          </ion-row>
        </ion-grid>
        <div class="col-12 hrz_line_div pl_5 example-box" [ngClass]="dragflag ? 'cursor_move' : 'cursor_pointer'"
          (click)="cardclick(i.day, i.cityName, i.countryName, i.id, i, i.date.start, i.date.end);cardsToggle(p)"
          (mousedown)="active()" (mouseup)="mseup()">
          <ion-card [ngClass]="(dateMissing && (cityWithoutDate==i.id)) || i?.error || i?.returnError ? 'makeShadow' : ''" class="cardstyle z-index-2 bg-white container-fluid position-relative">
            <ion-icon *ngIf="p!=0" (click)="deleteRecord(i.id,p)" name="close-circle-outline" class="closeicon"></ion-icon>
            <div class="row">
              <div class="col-4 col-sm-3 locationIcon text-center">
                <span class="day">Destination</span>
                <h3 class="dayNum">{{ p + 1 | number: '2.' }}</h3>
              </div>
              <div class="col-8 col-sm-9 pr-0 pl-2 position-relative">
                <ion-row>
                  <ion-col class="card-text d-block" size="12" size-sm>
                    {{ i.cityName | titlecase}} ,
                    {{ i.countryName | titlecase}}
                  </ion-col>
                  <ion-col size="auto" class="tm_card_date m_7_3">
                    <mat-form-field appearance="fill" class="mat-width">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-date-range-input [min]="minDatelimit" [max]="maxDatelimit" [rangePicker]="picker"
                        (click)="onEvent($event);picker.open()">
                        <input matStartDate readonly="readonly" [(ngModel)]="i.date.start"
                          (dateInput)="changeStart($event, i.id, p)" placeholder="start" />
                        <input matEndDate readonly="readonly"  [(ngModel)]="i.date.end"
                          (dateInput)="changeEnd($event, i.id, p)" placeholder="end" />
                      </mat-date-range-input>
                      <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                    <span class="text-danger d-block" *ngIf="dateMissing && (cityWithoutDate==i.id)">select date</span>
                    <span class="text-danger d-block" *ngIf="i?.error">Dates Conflict</span>
                    <span class="text-danger d-block" *ngIf="i?.returnError==true">Change Return Date </span>
                    <span class="text-danger d-block" *ngIf="i?.sameError">Date Should Not Be Same </span>
                  </ion-col>
                </ion-row>
              </div>
            </div>
          </ion-card>
        </div>

        <div class="ml_4p5 crd_inside position-relative"
          *ngIf="(i?.hotelDetails?.hotelContent)||(i?.activityDetails.length>0)">

            <ion-grid class="container-fluid pl_5_htl mt-2 position-relative"
              *ngIf="i?.hotelDetails?.hotelContent?.name">
              <ion-icon name="close-circle-outline" (click)="removeHotel(p)" class="closeicon_htl_act cursor-pointer"></ion-icon>

              <ion-row class="mb-2">
                <ion-col class="col-3 p-0 htl_img_in_crd position-relative">
                  <div class="position-relative p-0  htl_row">
                    <img src="{{ i.hotelDetails.hotelContent.images[0].url }}" class="" alt="image_not_found"
                    onerror="this.src='assets/images/hotel.png'" />
                    <div class="htl_icn_in_crd">
                      <img src="../../../assets/images/htl_icon.svg" style="height: 16px;" />
                    </div>
                  </div>

                </ion-col>
                <ion-col class="col-9 pl-1">
                  <ion-text class="d-block htl_nme_crd">{{
                    i.hotelDetails.hotelContent.name
                    }}</ion-text>
                    <span class="htl_nme_crd">{{i.hotelDetails.selectedRoom.netPrice| currency:"₹ " : false : '1.0-0'}}</span>
                  <!-- <ion-text class="htl_adr_crd d-block">{{ i.hotelDetails.hotelContent.address }},{{
                    i.hotelDetails.hotelContent.city
                    }},{{ i.hotelDetails.hotelContent.country }}</ion-text> -->
                    <div>Date:{{i.date.start|date:'MMM d'}}-{{i.date.end|date:'MMM d'}}</div>
                </ion-col>
              </ion-row>
            </ion-grid>
            <div *ngIf="i?.activityDetails[0]">
          <ion-row class="mb-2 mt-2 container-fluid pl_5_htl position-relative"
            *ngFor="let d of i?.activityDetails">
            <ion-icon name="close-circle-outline" (click)="removeActivity(d.activityName)"
              class="closeicon_htl_act cursor-pointer"></ion-icon>

            <ion-col class="col-3 p-0 htl_img_in_crd">
              <div class="position-relative p-0  htl_row">
                <div class="loc_icn_in_crd">
                  <img src="../../../assets/images/loc_in_circle.svg" style="height: 17px;" />
                </div>
                <img src="{{ d.coverImageUrl }}" alt="image_not_found"
                  onerror="this.src='assets/iages/defaul/t-act.jpg'" />
              </div>
            </ion-col>
            <ion-col class="col-9 pl-1">
              <ion-text class="d-block htl_nme_crd text-left">{{ d.activityName }}
              </ion-text >
              <span class="htl_nme_crd">{{d.grandtotal| currency:"₹ " : false : '1.0-0'}}</span>
              <ion-text class="d-block text-left">
                <!-- <div *ngIf="!d.showMore">
                  {{this.trimString(d.description,35)}}
                  <a (click)="d.showMore = !d.showMore" class="cursor-pointer">Show <span [innerHtml]="d.showMore ? 'less' : 'More'"> </span>
                  </a>
                </div>
                <div *ngIf="d.showMore">
                  {{d.description}}
                  <a (click)="d.showMore = !d.showMore" class="cursor-pointer">Show <span [innerHtml]="d.showMore ? 'less' : 'More'"> </span>
                  </a>
                </div> -->
                <span>Date: {{d.activityDate|date:'MMM d'}}</span>&nbsp;&nbsp;
                <span>{{d.time}}</span>
              </ion-text>
            
            </ion-col>
          </ion-row>
        </div>
        </div>

        <ion-row class="ml_5 pl-4 collapse" [attr.id]="'timelinecollapseDown-' + p"
         [ngClass]="'timelinecollapse-' + p">
          <ion-col class="col-12 col-md-12 mt-2" *ngIf="!i.hotelDetails.hotelContent">

            <ion-text class="addStyle pt-1"
              (click)="hotelView(i.day, i.cityName, i.countryName, i.id, i, i.date.start, i.date.end)">
              <ion-icon name="add"></ion-icon>
              Add Hotel
            </ion-text>
          </ion-col>

          <ion-col>
            <ion-text class="addStyle d-inline-block pt-2 pl-3" (click)="addActivity(i.day, i.cityName, i.countryName, i.id, i, i.date)">
              <ion-icon name="add"></ion-icon> Add Activity
            </ion-text>
          </ion-col>
        </ion-row>

      </div>

    </div>
    <!-- ----------------------Add button at bottom in timeline page start ------------>
    <!-- <ion-fab class="positionFab">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button class="mt-2">
          <ion-icon name="location-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button class="mt-2">
          <ion-icon name="briefcase-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button class="mt-2">
          <ion-icon name="bed-outline"></ion-icon>
        </ion-fab-button>
        <ion-fab-button>
          <ion-icon name="airplane"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab> -->
    <!-- ----------------------Add button at bottom in timeline page end ------------>


    <!-- Retrun Type Code -->
    <div *ngFor="let j of returnPlandata">
      <ion-grid *ngIf="j.flightDetails.journeyType" class="lg_dsplay">
        <ion-row>
          <ion-col class="pl-5 fl_card_line position-relative">
            <ion-icon (click)="removeReturnFlight()" name="close-circle-outline" class="closeicon cursor-pointer mr-3 mt-2">
            </ion-icon>
            <div class="flt_icon">
              <img src="../../../assets/images/Artwork 6.svg" />
            </div>
            <ion-card class="bg-white text-dark mb-2 ml-3 mr-30 flt_card">
              <ion-grid class="container-fluid">
                <ion-row class="row">
                  <ion-col class="d-flex col-12 mb-2" size="12">
                    <div class="d-inline">
                      <img *ngFor="let image of j.flightDetails.flightSegments|airlinesImage" src="{{image}}"
                        class="img-fluid pr-2" />
                      <!-- <ion-text class="text-dark pr-2 airline_name position-relative"
                        *ngFor="let name of j.flightDetails.flightSegments|airlinesName">
                        {{name}}
                      </ion-text> -->
                    </div>
                  </ion-col>
                  <ion-col class="col-md-3 col-6 mb_sm">
                    <ion-text class="d-block frm_to">{{
                      j?.flightDetails.flightSegments[0]
                      .departureAirportLocationCode
                      }}</ion-text>
                    <ion-text class="d-block time">{{
                      j.flightDetails.flightSegments[0].departureDateTime
                      |date:'MMM d, HH:mm'
                      }}</ion-text>
                  </ion-col>
                  <ion-col class="col-md-3 col-6">
                    <ion-text class="d-block text-center frm_to">
                      <ion-icon name="timer-outline"></ion-icon>
                    </ion-text>
                    <ion-text class="d-block text-center time">{{j.flightDetails.totalDuration|toNumber|durationPipe}}
                    </ion-text>
                  </ion-col>
                  <ion-col class="col-md-6 col-6 mb_sm d-flex justify-content-between">
                    <div>
                      <ion-text class="d-block frm_to">{{
                        j.flightDetails.flightSegments[
                        j.flightDetails.flightSegments.length - 1
                        ].arrivalAirportLocationCode
                        }}</ion-text>
                      <ion-text class="d-block time">{{
                        j.flightDetails.flightSegments[
                        j.flightDetails.flightSegments.length - 1
                        ].arrivalDateTime |date:'MMM d, HH:mm'
                        }}</ion-text>
                    </div>
                    <span class="flight_fare">{{j.flightDetails.fareDetails.totalFare.amount| currency:"₹ " : false : '1.0-0'}}</span>
                  </ion-col>
                  <ion-col size="12" size-sm class="pl-3 mt-2 mb-2">
                    <ion-text class="fnt_sze_13 position-relative stops mr-3"
                      *ngFor="let s of j.flightDetails.flightSegments">{{ s.departureAirportLocationCode }}</ion-text>
                    <ion-text class="fnt_sze_13 position-relative mr-1">{{
                      j.flightDetails.flightSegments[
                      j.flightDetails.flightSegments.length - 1
                      ].arrivalAirportLocationCode
                      }}</ion-text>
                    <ion-text class="fnt_sze_13 pl-5">{{
                      j.flightDetails.flightSegments.length - 1
                      }}
                      stop(s)</ion-text>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid *ngIf="j.flightDetails.journeyType" class="sm_dsplay">
        <ion-row>
          <ion-col class="py-3 position-relative flt_sm_lne">

            <ion-card class="bg-white text-dark mb-2 ml-2 mr-2 flt_card">
              <ion-grid class="container-fluid">
                <ion-row class="row p-2 position-relative">
                  <ion-icon (click)="removeReturnFlight()" name="close-circle-outline"
                    class="mobilereturncloseicon cursor-pointer mr-3 mt-2"></ion-icon>
                  <ion-col class="d-flex col-12 mb-2 p-0" size="12">

                    <div class="d-inline">
                      <img *ngFor="let image of j.flightDetails.flightSegments|airlinesImage" src="{{image}}"
                        class="img-fluid pr-2" />
                      <!-- <ion-text class="text-dark pr-2 airline_name position-relative"
                        *ngFor="let name of j.flightDetails.flightSegments|airlinesName">
                        {{name}}
                      </ion-text> -->
                    </div>
                  </ion-col>
                  <ion-col size="6">
                    <ion-text class="d-block frm_to">{{
                      j.flightDetails.flightSegments[0]
                      .departureAirportLocationCode
                      }} {{j.flightDetails.flightSegments[0].airlineInfo.departureCity}}</ion-text>
                  </ion-col>
                  <ion-col size="6" class="text-right">
                    <ion-text class="d-block frm_to">{{
                      j.flightDetails.flightSegments[
                      j.flightDetails.flightSegments.length - 1
                      ]?.arrivalAirportLocationCode
                      }} {{
                      j.flightDetails.flightSegments[
                      j.flightDetails.flightSegments.length - 1
                      ]?.airlineInfo.arrivalCity
                      }}</ion-text>
                  </ion-col>
                  <ion-col class="d-flex" size="12">
                    <div>
                      <ion-text class="d-inine time">{{
                        j.flightDetails.flightSegments[0].departureDateTime
                        | slice: 11:16
                        }}</ion-text>
                    </div>
                    <div class="flex-grow-1 text-center position-relative z_0">
                      <ion-text class="d-inline time pr-1 frm_to lft_lne bg-white z_2">
                        <ion-icon name="timer-outline"></ion-icon>
                      </ion-text>
                      <ion-text class="d-inline time rt_lne bg-white pr-1 z_2">
                        {{j.flightDetails|totalDuration|durationPipe}}</ion-text>

                    </div>
                    <div>
                      <ion-text class="d-block time">{{
                        j.flightDetails.flightSegments[
                        j.flightDetails.flightSegments.length - 1
                        ].arrivalDateTime | slice: 11:16
                        }}</ion-text>
                    </div>
                  </ion-col>
                  <ion-col size="12" size-sm class="mt-2 mb-2 d-flex justify-content-between">
                    <div>
                      <ion-text class="fnt_sze_13 position-relative stops mr-3"
                      *ngFor="let s of j.flightDetails.flightSegments">{{ s.departureAirportLocationCode }}</ion-text>
                    <ion-text class="fnt_sze_13 position-relative mr-1">{{
                      j.flightDetails.flightSegments[
                      j.flightDetails.flightSegments.length - 1
                      ].arrivalAirportLocationCode
                      }}</ion-text>
                    </div>
                    <ion-text class="fnt_sze_13">{{
                      j.flightDetails.flightSegments.length - 1
                      }}
                      stop(s)</ion-text>
                      <span class="flight_fare_sm">{{j.flightDetails.fareDetails.totalFare.amount| currency:"₹ " : false : '1.0-0'}}</span>
                  </ion-col>
                </ion-row>
              </ion-grid>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>


    <ion-grid *ngIf="showRoundTripsFlights">
      <ion-row>
        <ion-col>
          <ion-text class="addStyle d-inline-block pl-3 pl-sm-5 ml-5 mb-2" (click)="retrunModeOfJourney()">
            <ion-icon name="add" class="plus"></ion-icon> Add Flight
          </ion-text>

        </ion-col>
      </ion-row>
    </ion-grid>
    <p>{{dateverificationStringenddate}}</p>

    <ion-grid *ngIf="showRoundTrip" class="pl-15 position-relative">
      <p class="return_circle position-absolute z-index-2">
        <img class="location" src="../../../assets/images/loc_in_circle.svg" />
      </p>
      <ion-row class="return_line" (click)="clickOnReturnCard()">
        <ion-col class="pl-5 pr-0 position-relative">

          <ion-text class="org_txt">Return</ion-text>
          <ion-input class="inputsearch" placeholder="{{ originCity.cityName }} , {{ originCity.countryName }}"
            readonly>
          </ion-input>
          <mat-form-field appearance="fill" class="mat-width-return" (click)="onEvent($event);picker.open()">
            <input matInput readonly="readonly" [matDatepicker]="picker" [min]="minDatelimit" [max]="maxDatelimit"
              [(ngModel)]="originCityEndDate" (dateInput)="getoriginendDate($event)" placeholder="end" />
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <ion-icon (click)="removeReturnTrip()" name="close-circle-outline" class="return_closeicon cursor-pointer">
          </ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>

    <!-- <div *ngIf="showRoundTrip" class="col-12 hrz_line_div pl_5 example-box">
      <ion-card (click)="clickOnReturnCard()" class="cardstyle z-index-2 bg-white container-fluid position-relative">
        <ion-icon (click)="removeReturnTrip()" name="close-outline" class="closeicon"></ion-icon>
        <div class="row">
          <div class="col-3 col-sm-2 locationIcon text-center">
            <span class="return_text">Return</span>
          </div>
          <div class="col-9 col-sm-10 pr-0 pl-2 position-relative">
            <ion-row>
              <ion-col class="card-text d-block" size="12" size-sm>
                {{ originCity.cityName }} , {{ originCity.countryName }}
              </ion-col>
              <ion-col size="auto" class="tm_card_date m_7_3">
                <mat-form-field appearance="fill" class="mat-width" (click)="picker.open()">
                  <input matInput [matDatepicker]="picker" [min]="minDatelimit" [max]="maxDatelimit"
                    [(ngModel)]="originCityEndDate" (dateInput)="getoriginendDate($event)" placeholder="end">
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </ion-col>
            </ion-row>
          </div>
        </div>
      </ion-card>
    </div> -->

  </ion-col>
  <ion-col class="pl-custom mt-4">
    <!-- <ion-text class="text-dark cursor-pointer" (click)="addDestination()">
      <ion-icon class="add-text cursor-pointer" name="add-circle-outline">
      </ion-icon>
      Click to Add a destination
    </ion-text> -->
    <ion-row>
      <ion-col class="col-1 p-0"> </ion-col>
      <ion-col class="col-11 p-0">
        <ion-row class="ml-md-5 pl-md-3 mb-3">
          <ion-col size="12">
            <ion-text class="text-dark cursor-pointer" (click)="toggleDisplayDiv()">
              <ion-icon class="add-text cursor-pointer" name="add-circle-outline">
              </ion-icon>
              Click to Add a destination
            </ion-text>
          </ion-col>
          <ion-col [hidden]="isShowDiv" class="pl-4 mr-2 position-relative">
            <ion-item class="rounded bg-white m-0" lines="none">
              <ion-input ngDefaultControl [formControl]="citysearchTerm" (keyup)="getCitiesNams()" placeholder="search.." class="text-dark">
              </ion-input>
              <ion-icon name="search-outline" slot="end" class="text-dark"></ion-icon>
            </ion-item>

            <ion-card *ngIf="showcitydata" class="search_card p-0">
              <ul *ngFor="let p of filteritems;let ind=index" class="mb-0">
                <li *ngIf="p && p?.cityName" (click)="onsavelocattion(p.id,ind)" class="litag text-dark">
                  {{ p.cityName }}, {{ p.countryName }}
                </li>
              </ul>
            </ion-card>
            <ion-card *ngIf="showcitydata && filteritems.length == 0" class="search_card p-0">
              <ul class="mb-0">
                <li class="litag text-dark">
                  <ion-text>No city with given Name</ion-text>
                </li>
              </ul>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-col>
</ion-row>
