<nav class="navbar navbarj navbar-expand-sm itenary_main_nav mb-0 cust_pad col-12"
 *ngIf="activeTab == 'hotelTab'||activeTab == 'hotelTabPref'">

  <!-- navbarj   // Todo: used for the navbar by someone...???-->
  <ul class="nav nav-pills" id="pills-tab" role="tablist">
    <!-- <li class="nav-item active ml-3" role="presentation" *ngIf="activeTab=='Activities'||activeTab=='ActivitiesPref'">
      <ion-icon style="zoom: 2.0;
      margin-left: -2px;
      margin-bottom: -18px;"
      name="arrow-back-outline" (click)="backclick()"></ion-icon>
      <a class="nav-link mr-3 mt-2"
       [ngClass]="{ active: activeTab == 'ActivitiesPref' }" id="pills-home-tab"
        data-toggle="pill" href="#pills-home1" role="tab" (click)="activitiesTab()" aria-controls="pills-home"
        aria-selected="true">Activities Preferences</a>

    </li> -->
    <!-- <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="pills-profile-tab"
        data-toggle="pill"
        href="#pills-profile1"
        role="tab"
        (click)="transportTab()"
        aria-controls="pills-profile"
        aria-selected="false"
        >Transport</a
      >
    </li> -->
    <li class="nav-item" role="presentation" >
      <a class="nav-link" [ngClass]="{ active: activeTab == 'hotelTabPref' }" id="pills-contact-tab" data-toggle="pill"
        href="#pills-contact1" role="tab" (click)="hotelTab()" aria-controls="pills-contact"
        aria-selected="false">Hotels Preferences</a>
    </li>
  </ul>

  <!-- <div class="ml-auto mr-sm-5">
    <form class="form-inline">
      <ion-text class="mr-5">&emsp;Grid</ion-text>
      <ion-text class="mr-5">&emsp;Map</ion-text>
    </form>
  </div> -->
</nav>
<!-- <div class="middle">
  <hr class="horizentalLine mb-3 ml-auto mr-auto" />
  <ion-text class="headLine"
    >Choose The Activities Or Select From Voyaah Recomendations</ion-text
  ><br />
</div> -->
<!-- <div *ngIf="activeTab == 'voyage' ">
  <app-voyage></app-voyage>
</div> -->
<div *ngIf="activeTab == 'Activities'">
  <app-add-activities></app-add-activities>
</div>
<div *ngIf="activeTab == 'hotelTab'">
  <app-hotels></app-hotels>
</div>
<div class="tab-content" id="pills-tabContent">
  <div class="tab-pane fade scroll_class pt-3 pb-3" [ngClass]="{ 'show active': activeTab == 'ActivitiesPref' }"
    id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab">
    <!-- write  -->
    <app-select-activities-preference></app-select-activities-preference>
  </div>
  <div class="tab-pane fade scroll_class pt-3 pb-3" id="pills-contact1"
    [ngClass]="{ 'show active': activeTab == 'hotelTabPref' }" role="tabpanel" aria-labelledby="pills-home-tab">
    <!-- write  -->
    <app-hotel-pref></app-hotel-pref>
  </div>
  <!-- <div class="tab-pane fade scroll_class pt-3 pb-3" [ngClass]="{ 'show active': activeTab == 'Activities' }"
    id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab">
    <app-add-activities></app-add-activities>
  </div> -->
  <div class="tab-pane fade scroll_class pt-3 pb-3" id="pills-profile1" role="tabpanel"
    aria-labelledby="pills-profile-tab">
    <app-transport></app-transport>
  </div>
  <!-- <div [ngClass]="{ 'show active': activeTab == 'hotelTab' }">
    <br/>
  <app-hotels></app-hotels>
</div> -->
  <div class="tab-pane fade" id="#pills-contact1213" role="tabpanel" aria-labelledby="pills-contact-tab">
    <app-flights></app-flights>
  </div>
</div>
