<ion-content>
  <ion-grid class="background_color fixed_height overflow_hidden">
    <ion-row>
      <ion-col size-xs="12" size-md="12" size-lg="2" class="bg-white sm_position fixed_height overflow_hidden">
        <div class="container-fluid left-account-menu">
          <div class="row">
            <div class="col-3 col-lg-12 p-0 tabs">
              <a class="my_acnt_sidebarlist" [routerLink]="['/myaccount/profile']" routerLinkActive="active"><img
                  src="../../../assets/images/profile.svg" />
                <ion-text class="text">Profile</ion-text>
              </a>
            </div>
            <div class="col-3 col-lg-12 p-0 tabs">
              <a class="my_acnt_sidebarlist" [routerLink]="['/myaccount/addtravellers']" routerLinkActive="active"><img
                  src="../../../assets/images/traveller.svg" />
                <ion-text class="text">Add Travellers</ion-text>
              </a>
            </div>
            <!-- <div class="col-4 col-lg-10 p-0 tabs">
              <a class="my_acnt_sidebarlist" [routerLink]="['/myaccount/bookings']"><img
                  src="../../../assets/images/booking.svg" />
                <ion-text class="text">Bookings</ion-text>
              </a>
            </div> *ngIf="!production" *ngIf="production"-->
            <div class="col-3 col-lg-12 p-0 tabs"  *ngIf = "!partnerBook" >
              <a class="my_acnt_sidebarlist" [routerLink]="['/myaccount/bookings']"
                routerLinkActive="active">
                <img src="../../../assets/images/booking.svg" />
                <ion-text class="text">Custom Bookings</ion-text>
              </a>
            </div>
            <div class="col-3 col-lg-12 p-0 tabs" >
              <a class="my_acnt_sidebarlist" [routerLink]="['/myaccount/staycation-bookings']"
                routerLinkActive="active">
                <img src="../../../assets/images/booking.svg" />
                <ion-text class="text">Staycation Bookings</ion-text>
              </a>
            </div>
          </div>
        </div>
      </ion-col>

      <!------------------User Card Details move to addtravellers & profile component----------------------->

      <ion-col size-lg="10">
        <ion-row>
          <!-- <ion-col size-xs="12" size-md="4" *ngIf="!noRequired">
            <div class="user_card">
              <div class="text-center pt-5">
                <div *ngIf="nameChange">
                  <div class="user_pic mx-auto position-relative">
                    <ion-text class="user_short_name">Fu</ion-text>
                  </div>
                  <ion-text class="user_name d-inline-block pt-3 pb-3"
                    >First User</ion-text
                  >
                </div>
                <div *ngIf="!nameChange">
                  <div class="user_pic mx-auto position-relative">
                    <ion-text class="user_short_name">{{ iconName }}</ion-text>
                  </div>
                  <ion-text class="user_name d-inline-block pt-3 pb-3"
                    >{{ userNameShow }}</ion-text
                  >
                </div>
              </div>
              <ion-row>
                <ion-col size="4" class="text-center"
                  ><ion-text class="color_primary">Upcoming<br />Trips</ion-text
                  ><ion-text class="color_primary d-block trip_count"
                    >10</ion-text
                  ></ion-col
                >
                <ion-col size="4" class="text-center"
                  ><ion-text class="color_primary"
                    >Completed<br />Trips</ion-text
                  ><ion-text class="color_primary d-block trip_count"
                    >10</ion-text
                  ></ion-col
                >
                <ion-col size="4" class="text-center"
                  ><ion-text class="color_primary">Canceled<br />Trips</ion-text
                  ><ion-text class="color_primary d-block trip_count"
                    >10</ion-text
                  ></ion-col
                >
              </ion-row>
              <ion-text class="joined d-inline-block pt-2 pb-2 pl-3"
                ><ion-icon name="calendar-outline" class="pr-2"></ion-icon
                >Joined Sept 04</ion-text
              >
            </div>
          </ion-col> -->

          <!-- <ion-col class="fixed_height"  size-xs="12"size-md="8" *ngIf="!noRequired">
            <ion-router-outlet></ion-router-outlet> -->
          <!-- </ion-col> -->
          <ion-col class="fixed_height" size-xs="12" size-md="12">
            <ion-router-outlet></ion-router-outlet>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
